div.stats-container {
  background-color: var(--ion-item-background);
  border-radius: 8px;
  margin: 6px 3px 0 3px;

  div.title {
    background: linear-gradient(175deg, var(--ion-item-title-gradient-color) 0%, var(--ion-item-background) 25px, var(--ion-item-background) 100%);
    color: var(--ion-color-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  div.stats-content {
    padding: 2px 6px;
  }

  div.message {
    padding: 2px 8px;
    font-size: 14px;
    font-style: italic;
    color: rgba(var(--ion-text-color-rgb), 0.7);
  }
}

div.stat-type {
  &:not(:first-child) {
    margin-top: 3px;
  }

  div.stat-title {
    color: var(--ion-color-tertiary);
    font-size: 13px;
  }

  div.stat-value {
    display: grid;
    grid-template-columns: 3fr 2fr 32px;
    gap: 6px;
    border-radius: 8px;
    padding: 1px 2px;
    border: 1px solid transparent;

    &.selected {
      background-color: rgba(var(--ion-color-medium-rgb), 0.25);
      border-color: rgba(var(--ion-color-medium-rgb), 0.33);
    }
    &.selectable:hover:not(.selected) {
      background-color: rgba(var(--ion-color-medium-rgb), 0.15);
    }

    div.stat-name {
      font-size: 13px;
      color: rgba(var(--ion-text-color-rgb), 0.8);
    }
    div.stat-percent {
      font-size: 12px;
    }
  }
}
