<div class="stats-container">
  <div class="title">{{i18n.texts.osm_stats.title}}</div>
  @if (loading) {
    <ion-spinner name="dots"></ion-spinner>
  }
  @if (message) {
    <div class="message">{{message | i18nString}}</div>
  }
  @if (stats) {
    <div class="stats-content">
      <ng-container *ngTemplateOutlet="statProgressBarTemplate; context: {array: stats.wayType, i18n_type: 'wayType'}"></ng-container>
      <ng-container *ngTemplateOutlet="statProgressBarTemplate; context: {array: stats.surface, i18n_type: 'surface'}"></ng-container>
      <ng-container *ngTemplateOutlet="statProgressBarTemplate; context: {array: stats.visibility, i18n_type: 'visibility'}"></ng-container>
      <ng-container *ngTemplateOutlet="statProgressBarTemplate; context: {array: stats.hikingDifficulty, i18n_type: 'hikingDifficulty'}"></ng-container>
    </div>
  }
</div>

<ng-template #statProgressBarTemplate let-array="array" let-i18n_type="i18n_type">
  @if (array) {
    <div class="stat-type">
      <div class="stat-title">{{i18n.texts.osm_stats.types[i18n_type].title}}</div>
      @for (entry of array; track entry.value) {
        <div class="stat-value" (click)="highlightSections(entry)" [ngClass]="{'selected': previousSelection === entry.sections, 'selectable': entry.sections.length > 0}">
          <div class="stat-name">{{i18n.texts.osm_stats.types[i18n_type].descriptions['' + entry.value]}}</div>
          <div class="stat-pb"><app-progress-bar [done]="entry.percent" [total]="100" [height]="14"></app-progress-bar></div>
          <div class="stat-percent">{{entry.percent}}%</div>
        </div>
      }
    </div>
  }
</ng-template>
