:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}

.stats-config {
  flex: none;
}
.stats-graph {
  flex: 1 1 100%;

  app-graph {
    display: block;
    width: 100%;
    height: 100%;
  }
}
