div.edit-tool {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid var(--ion-color-medium);
  background-color: var(--ion-background-color);
  pointer-events: all;

  div.edit-tool-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);
    background-color: var(--ion-toolbar-background);
    color: var(--ion-toolbar-color, var(--ion-text-color));

    div.edit-tool-title {
      flex: 1 1 100%;
      color: var(--ion-color-tertiary);
    }
  }

  ion-list {
    padding: 0;
  }

  div.edit-tool-content {
    padding: 3px;
  }

  div.metadata-container.two-columns {
    max-width: 350px;
  }

  &.small {
    --metadata-font-size: 12px;
    --metadata-icon-size: 16px;

    div.metadata-container.two-columns {
      max-width: 300px;
      line-height: 15px;
    }
    div.metadata-container.one-column div.metadata-item-container {
      margin-bottom: 2px;
    }

    ion-item {
      font-size: 12px;
      --min-height: 24px;
      --padding-start: 4px;
      --inner-padding-end: 4px;
    }

    .message {
      padding: 0 5px;
      font-size: 13px;
      max-width: 150px;
    }
  }

  ion-item {
    font-size: 14px;
    --min-height: 32px;

    &.success {
      color: var(--ion-color-success);
    }
    &.danger {
      color: var(--ion-color-danger);
    }
  }
  ion-item-divider.empty {
    min-height: 8px;
  }
  .message {
    padding: 10px;
    color: var(--ion-color-tertiary);
    max-width: 300px;
  }

  &.collpased {
    div.edit-tool-content {
      display: none;
    }
  }

}
