ion-searchbar {
  padding: 0;
  --box-shadow: none;

  input.searchbar-input {
    padding-inline-start: 25px;
    padding-inline-end: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  ion-icon.searchbar-search-icon {
    inset-inline-start: 0;
    top: 8px;
  }
  button.searchbar-clear-button {
    inset-inline-end: 0;
  }

}
ion-item {
  ion-label {
    h1 {
      font-size: 13px;
    }
    h2 {
      font-size: 11px;
      color: rgba(var(--ion-text-color-rgb), 0.6);
    }
  }
}
.tip {
  font-size: 10px;
  text-align: right;
  color: var(--ion-color-medium);
}
