ion-searchbar {
  padding: 0;
}
ion-item {
  ion-label {
    h1 {
      font-size: 13px;
    }
    h2 {
      font-size: 11px;
      color: rgba(var(--ion-text-color-rgb), 0.6);
    }
  }
}
.tip {
  font-size: 12px;
  text-align: right;
  color: var(--ion-color-medium);
}
