<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="photos" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.photo_editor.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="popup-content">
  <app-toolbar
    [items]="toolbarItemsShown"
    [itemMaxWidth]="smallWidth ? 60 : undefined"
    [itemMinWidth]="45"
    [align]="'center'"
  >
    <div class="blur-control">
      <ion-range
        [min]="1"
        [max]="20"
        [value]="getBlurValue()"
        [step]="1"
        (ionInput)="setBlurValue($event.detail.value)"
      ></ion-range>
    </div>
  </app-toolbar>
  <div class="photo-editor-area" #photoEditorArea>
    <canvas #photoEditorCanvas></canvas>
    <div class="left-tool" [ngStyle]="{'top': canvasArea.y + 'px', 'left': (canvasArea.x - 50) + 'px', 'height': canvasArea.height + 'px'}">
      @if (getLeftToolRange(); as range) {
        <app-range
          [min]="range.min"
          [max]="range.max"
          [step]="1"
          [value]="range.value"
          [size]="range.size"
          [direction]="'vertical'"
          [enabledColor]="'secondary'"
          (valueChange)="setLeftToolValue($event)"
        ></app-range>
      }
    </div>
    <div class="bottom-tool" [ngStyle]="{'top': (canvasArea.y + canvasArea.height) + 'px', 'left': canvasArea.x + 'px', 'width': canvasArea.width + 'px'}">
      @if (getBottomToolRange(); as range) {
        <app-range
          [min]="range.min"
          [max]="range.max"
          [step]="1"
          [value]="range.value"
          [size]="range.size"
          [direction]="'horizontal'"
          [enabledColor]="'secondary'"
          (valueChange)="setBottomToolValue($event)"
        ></app-range>
      }
    </div>
  </div>
</div>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button color="success" [disabled]="!blob || historyBack.length === 0" (click)="close(true)">
        <ion-icon name="save" slot="start"></ion-icon>
        <ion-label>{{i18n.texts.buttons.save}}</ion-label>
      </ion-button>
      <ion-button (click)="close(false)">
        {{i18n.texts.buttons.close}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
