div.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  app-toolbar {
    flex: none;
    background-color: var(--ion-toolbar-background);
  }

  div.photo-editor-area {
    flex: 1 1 100%;
    overflow: hidden;
    position: relative;

    div.left-tool, div.bottom-tool, canvas {
      position: absolute;
    }
    div.left-tool {
      width: 50px;
    }
    div.bottom-tool {
      height: 50px;
    }
  }
}

div.blur-control {
  min-width: 100px;
  max-width: 100px;
}
