<app-header title="{{i18n.texts.pages.trailplanner.title}}"></app-header>
<div class="page-content bottom-tab-{{bottomTab}}"
  [ngClass]="{'bottom-pane-open': !!trackBuilder?.track, 'has-elevation': !!trackBuilder?.hasElevation, 'left-pane-open': leftPaneOpen}"
>

  <div class="map-container">
    <app-map #map mapId="trail-planner" [tracks$]="mapTracks$" [ngClass]="{'mouse-pointer': trackBuilder?.putAnchors}"
      (mouseClickPoint)="mapClickPoint($event)"
      (mouseOverPoint)="mouseOverPointOnMap($event)"
    >
      @if (trackBuilder) {
        <div class="map-top-controls center">
          <div class="map-toolbar horizontal light-theme">
            @if (!trackBuilder.track) {
              <app-search-place (placeSelected)="goToPlace($event)"></app-search-place>
              @if (mapState && mapState.zoom >= minZoom) {
                <div class="separator"></div>
                <div class="map-tool button-start" (click)="trackBuilder.start()">
                  <ion-icon name="play" color="success"></ion-icon>
                  <ion-label color="success">{{ i18n.texts.pages.trailplanner.start }}</ion-label>
                </div>
              }
            } @else {
              <div class="map-tool button-undo" (click)="trackBuilder.undo()" [ngStyle]="{'color': trackBuilder.anchors.length > 0 ? '#000000' : '#808080'}">
                <ion-icon name="undo"></ion-icon>
                <ion-label>{{ i18n.texts.pages.trailplanner.undo }}</ion-label>
              </div>
              @if (trackBuilder.putFreeAnchor) {
                <div class="map-tool button-non-free-anchor" (click)="trackBuilder.backToNonFreeAnchors()" style="color: black">
                  <ion-icon name="location" slot="start"></ion-icon>
                  <ion-label>{{ i18n.texts.pages.trailplanner.back_to_non_free_point }}</ion-label>
                </div>
              } @else {
                <div class="map-tool button-free-anchor" (click)="trackBuilder.enableFreeAnchor()" [ngStyle]="{'color': trackBuilder.putAnchors ? '#000000' : '#808080'}">
                  <ion-icon name="location" slot="start"></ion-icon>
                  <ion-label>{{ i18n.texts.pages.trailplanner.put_free_point }}</ion-label>
                </div>
              }
              <div class="map-tool button-stop" (click)="trackBuilder.stop()" *ngIf="trackBuilder.putAnchors || trackBuilder.putFreeAnchor">
                <ion-icon slot="start" name="pause" color="secondary"></ion-icon>
                <ion-label color="secondary">{{ i18n.texts.pages.trailplanner.stop }}</ion-label>
              </div>
              <div class="map-tool button-resume" (click)="trackBuilder.resume()" *ngIf="!trackBuilder.putAnchors && !trackBuilder.putFreeAnchor && mapState && mapState.zoom >= minZoom">
                <ion-icon slot="start" name="play" color="success"></ion-icon>
                <ion-label color="success">{{ i18n.texts.pages.trailplanner.resume }}</ion-label>
              </div>
              <div class="separator"></div>
              <div class="map-tool button-save" (click)="openSaveModal(saveModal)">
                <ion-icon slot="start" name="save" [color]="trackBuilder.anchors.length > 1 ? 'success' : 'medium'"></ion-icon>
                <ion-label [color]="trackBuilder.anchors.length > 1 ? 'success' : 'medium'">{{i18n.texts.buttons.save}}</ion-label>
              </div>
              <div class="separator"></div>
              <div class="map-tool button-reset" (click)="reset()">
                <ion-icon slot="start" name="reset" color="danger"></ion-icon>
                <ion-label color="danger">{{ i18n.texts.pages.trailplanner.reset }}</ion-label>
              </div>
            }
          </div>
          @if (mapState && mapState.zoom < minZoom) {
            <div class="message-zoom">
              {{ i18n.texts.pages.trailplanner.please_zoom }} {{ minZoom }}
            </div>
          }
        </div>
      }
    </app-map>
  </div>
  <div class="elevation-graph-container">
    <app-elevation-graph [track1]="trackBuilder!.track!" *ngIf="!!trackBuilder?.hasElevation && bottomTab === 'elevation'"
      (pointHover)="elevationGraphPointHover($event)"
    ></app-elevation-graph>
  </div>

  <div class="left-pane {{leftPaneOpen ? 'open': 'closed'}}">
    @if (trails) {
      <div class="trails-section">
        <ion-toggle
          [checked]="trails.showTrails"
          color="secondary"
          (ionChange)="trails.toggleShowTrails($event.detail.checked)"
          labelPlacement="end">{{ i18n.texts.pages.trailplanner.show_trails }}</ion-toggle>
        <ng-container *ngIf="trails.searchingTrails">
          <div>
            <ion-spinner name="dots"></ion-spinner>
          </div>
        </ng-container>
        <div class="trails-list">
          @for (item of trails.list; track item.trail.uuid + item.trail.owner) {
            <app-trail-overview-condensed
              [trail]="item.trail"
              [track]="item.meta"
              [showButtons]="false"
              checkboxMode="ios"
              [selectable]="true"
              [selected]="trails.highlightedTrail === item.trail"
              (selectedChange)="trails.toggleHighlightTrail(item.trail)"
              (click)="trails.toggleHighlightTrail(item.trail)"
              [subTitle]="item.collectionName"
              [ngStyle]="{'background-color': trails.highlightedTrail === item.trail ? 'rgba(var(--ion-color-medium-rgb), 0.33)' : ''}"
            ></app-trail-overview-condensed>
          }
        </div>
      </div>
    }
    <div class="left-pane-button" (click)="leftPaneOpen = !leftPaneOpen">
      <ion-icon [name]="leftPaneOpen ? 'chevron-left' : 'chevron-right'"></ion-icon>
    </div>
  </div>

  <div class="bottom-pane">
    @if (trackBuilder?.hasElevation) {
      <div class="bottom-tabs">
        <div class="bottom-tab {{bottomTab === 'info' ? 'tab-selected' : ''}}" (click)="setBottomTab('info')">
          <ion-icon name="info"></ion-icon>
        </div>
        <div class="bottom-tab {{bottomTab === 'elevation' ? 'tab-selected' : ''}}" (click)="setBottomTab('elevation')">
          <ion-icon name="elevation"></ion-icon>
        </div>
      </div>
    }
    @if (!trackBuilder?.hasElevation || bottomTab === 'info') {
      @if (trackBuilder && trackBuilder.track) {
        <div class="metadata-container two-columns with-title">
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="distance"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.distance }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">{{ i18n.distanceToString(trackBuilder.track.metadata.distance) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="duration"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.duration }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">≈ {{ i18n.durationToString(trackBuilder.estimatedTime) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="positive-elevation"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.positiveElevation }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">+ {{ i18n.elevationToString(trackBuilder.track.metadata.positiveElevation ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="negative-elevation"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.negativeElevation }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">- {{ i18n.elevationToString(trackBuilder.track.metadata.negativeElevation ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="highest-point"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.highestAltitude }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">+ {{ i18n.elevationToString(trackBuilder.track.metadata.highestAltitude ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="lowest-point"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.lowestAltitude }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">- {{ i18n.elevationToString(trackBuilder.track.metadata.lowestAltitude ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>

</div>

<ion-modal #saveModal>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="save" style="margin-right: 10px"></ion-icon>
          <ion-label>{{i18n.texts.buttons.save}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-input
        name="trail-name"
        fill="outline"
        label="{{i18n.texts.pages.trailplanner.save.trail_name}}"
        label-placement="floating"
        [(ngModel)]="trailName"
        [maxlength]="200"
        [counter]="true"
      ></ion-input>

      <ion-select
        name="collection"
        [(ngModel)]="collectionUuid"
        label="{{i18n.texts.pages.trailplanner.save.collection}}"
        fill="outline"
        labelPlacement="floating"
        cancelText="{{i18n.texts.buttons.cancel}}"
        okText="{{i18n.texts.buttons.apply}}"
      >
        <ion-select-option *ngFor="let collection of collections" [value]="collection.uuid">{{getCollectionName(collection)}}</ion-select-option>
      </ion-select>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button color="success" [disabled]="trailName.length === 0 || !collectionUuid" (click)="save()">{{i18n.texts.buttons.save}}</ion-button>
          <ion-button (click)="saveModal.dismiss()">{{i18n.texts.buttons.cancel}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
