<app-header title="{{i18n.texts.pages.trailplanner.title}}"></app-header>
<div class="page-content bottom-tab-{{bottomTab}}"
  [ngClass]="{'bottom-pane-open': !!trackBuilder?.track, 'has-elevation': !!trackBuilder?.hasElevation, 'left-pane-open': leftPaneOpen}"
>

  <div class="map-container">
    <app-map #map mapId="trail-planner" [tracks$]="mapTracks$" [ngClass]="{'mouse-pointer': trackBuilder?.putAnchors}"
      (mouseClickPoint)="mapClickPoint($event)"
      (mouseOverPoint)="mouseOverPointOnMap($event)"
    >
      <div class="map-top-controls center">
        @if (connected$ | async) {
          @if (trackBuilder) {
            <div style="display: flex; flex-direction: column; align-items: center">
              <app-toolbar #toolbar
                [items]="tools"
                [iconSize]="16"
                textSize="9px"
                [itemMinWidth]="40"
                [itemMaxWidth]="50"
                itemSpace="2px"
                itemPaddingTop="1px"
                itemPaddingBottom="1px"
                itemPaddingLeft="4px"
                itemPaddingRight="4px"
                separatorSpace="4px"
              >
                <app-search-place (placeSelected)="goToPlace($event)"></app-search-place>
              </app-toolbar>
              @if (mapState && mapState.zoom < minZoom) {
                <div class="message-zoom">
                  {{ i18n.texts.pages.trailplanner.please_zoom }} {{ minZoom }}
                </div>
              }
            </div>
          }
        } @else {
          <div class="disconnected-message">{{ i18n.texts.you_are_offline }}</div>
        }
      </div>
    </app-map>
  </div>
  <div class="elevation-graph-container">
    <app-trail-graph [track1]="trackBuilder!.track!" *ngIf="!!trackBuilder?.hasElevation && bottomTab === 'elevation'"
      (pointHover)="graphPointHover($event)"
      graphType="elevation"
    ></app-trail-graph>
  </div>

  <div class="left-pane {{leftPaneOpen ? 'open': 'closed'}}">
    @if (trails) {
      <div class="trails-section">
        <ion-toggle
          [checked]="trails.showTrails"
          color="secondary"
          (ionChange)="trails.toggleShowTrails($event.detail.checked)"
          labelPlacement="end">{{ i18n.texts.pages.trailplanner.show_trails }}</ion-toggle>
        <ng-container *ngIf="trails.searchingTrails">
          <div>
            <ion-spinner name="dots"></ion-spinner>
          </div>
        </ng-container>
        <div class="trails-list">
          @for (item of trails.list; track item.trail.uuid + item.trail.owner) {
            <app-trail-overview-condensed
              [trail]="item.trail"
              [track]="item.meta"
              [showButtons]="false"
              checkboxMode="ios"
              [selectable]="true"
              [selected]="trails.highlightedTrail === item.trail"
              (selectedChange)="trails.toggleHighlightTrail(item.trail)"
              (click)="trails.toggleHighlightTrail(item.trail)"
              [subTitle]="item.collectionName"
              [ngStyle]="{'background-color': trails.highlightedTrail === item.trail ? 'rgba(var(--ion-color-medium-rgb), 0.33)' : ''}"
            ></app-trail-overview-condensed>
          }
        </div>
      </div>
    }
    <div class="left-pane-button" (click)="leftPaneOpen = !leftPaneOpen">
      <ion-icon [name]="leftPaneOpen ? 'chevron-left' : 'chevron-right'"></ion-icon>
    </div>
  </div>

  <div class="bottom-pane">
    @if (trackBuilder?.hasElevation) {
      <div class="bottom-tabs">
        <div class="bottom-tab {{bottomTab === 'info' ? 'tab-selected' : ''}}" (click)="setBottomTab('info')">
          <ion-icon name="info"></ion-icon>
        </div>
        <div class="bottom-tab {{bottomTab === 'elevation' ? 'tab-selected' : ''}}" (click)="setBottomTab('elevation')">
          <ion-icon name="elevation"></ion-icon>
        </div>
      </div>
    }
    @if (!trackBuilder?.hasElevation || bottomTab === 'info') {
      @if (trackBuilder && trackBuilder.track) {
        <div class="metadata-container two-columns with-title">
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="distance"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.distance }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">{{ i18n.distanceToString(trackBuilder.track.metadata.distance) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="duration"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.duration }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">≈ {{ i18n.durationToString(trackBuilder.estimatedTime) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="positive-elevation"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.positiveElevation }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">+ {{ i18n.elevationToString(trackBuilder.track.metadata.positiveElevation ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="negative-elevation"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.negativeElevation }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">- {{ i18n.elevationToString(trackBuilder.track.metadata.negativeElevation ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="highest-point"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.highestAltitude }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">+ {{ i18n.elevationToString(trackBuilder.track.metadata.highestAltitude ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="metadata-item-container">
            <div class="metadata-item">
              <ion-icon name="lowest-point"></ion-icon>
              <div class="metadata-content">
                <div class="metadata-title">{{ i18n.texts.metadata.lowestAltitude }}</div>
                <div class="metadata-value">
                  <div class="metadata-primary">- {{ i18n.elevationToString(trackBuilder.track.metadata.lowestAltitude ?? 0) }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>

</div>

<ion-modal #saveModal>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="save" style="margin-right: 10px"></ion-icon>
          <ion-label>{{i18n.texts.buttons.save}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-input
        name="trail-name"
        fill="outline"
        label="{{i18n.texts.pages.trailplanner.save.trail_name}}"
        label-placement="floating"
        [(ngModel)]="trailName"
        [maxlength]="200"
        [counter]="true"
      ></ion-input>

      <ion-select
        name="collection"
        [(ngModel)]="collectionUuid"
        label="{{i18n.texts.pages.trailplanner.save.collection}}"
        fill="outline"
        labelPlacement="floating"
        cancelText="{{i18n.texts.buttons.cancel}}"
        okText="{{i18n.texts.buttons.apply}}"
      >
        <ion-select-option *ngFor="let collection of collections" [value]="collection.uuid">{{getCollectionName(collection)}}</ion-select-option>
      </ion-select>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button color="success" [disabled]="trailName.length === 0 || !collectionUuid" (click)="save()">{{i18n.texts.buttons.save}}</ion-button>
          <ion-button (click)="saveModal.dismiss()">{{i18n.texts.buttons.cancel}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
