:host {
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 1 100%;
  position: relative;

  --bottom-pane-height: 0px;
  --elevation-graph-height: 0px;
  --bottom-tabs-width: 0px;
  --left-pane-button-width: 12px;
  --left-pane-width: var(--left-pane-button-width);
  --metadata-width: 300px;

  &.left-pane-open {
    --left-pane-width: calc(min(80vw, calc(350px + var(--left-pane-button-width))));
  }
  &.bottom-pane-open {
    --bottom-pane-height: 150px;
  }

  .left-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--left-pane-width);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    background-color: var(--ion-background-color);
    z-index: 2000;

    .left-pane-button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(var(--left-pane-width) - var(--left-pane-button-width));
      width: var(--left-pane-button-width);
      background-color: var(--ion-background-color);
      z-index: 1001;

      ion-icon {
        height: var(--left-pane-button-width);
        width: var(--left-pane-button-width);
        transform: scaleY(3);
        margin-top: calc(50vh - calc(var(--left-pane-button-width) / 2));
      }
    }

    .trails-section {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      ion-toggle {
        flex: none;
        align-self: flex-start;
        margin: 4px 4px 8px 4px;
      }
      .trails-list {
        flex: 1 1 100%;
        overflow-y: auto;
      }
    }
  }

  .map-container {
    position: absolute;
    top: 0;
    bottom: var(--bottom-pane-height);
    right: 0;
    left: var(--left-pane-button-width);

    ion-spinner.map-loading {
      position: absolute;
      top: 60px;
      left: calc(50vw - 14px);
      z-index: 1000;
      pointer-events: none;
    }
  }

  &.has-elevation {
    --elevation-graph-height: var(--bottom-pane-height);
    &:not(.both-info-elevation) {
      --bottom-tabs-width: 30px;
    }
    &.both-info-elevation {
      .elevation-graph-container {
        left: calc(var(--left-pane-button-width) + var(--bottom-tabs-width) + var(--metadata-width) + 10px);
      }
    }
  }

  .elevation-graph-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: calc(var(--left-pane-button-width) + var(--bottom-tabs-width));
    height: var(--elevation-graph-height);
  }

  .bottom-pane {
    position: absolute;
    bottom: 0;
    left: var(--left-pane-button-width);
    right: 0;
    height: var(--bottom-pane-height);

    .bottom-tabs {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: var(--bottom-tabs-width);
      display: flex;
      flex-direction: column;
      align-items: center;

      .bottom-tab {
        flex: 1 1 100%;
        border-right: 2px solid var(--ion-color-light);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;

        ion-icon {
          width: 24px;
          height: 24px;
          color: var(--ion-color-medium);
        }

        &.tab-selected {
          background-color: var(--ion-color-light);
          border-color: var(--ion-color-secondary);
          ion-icon {
            color: var(--ion-color-secondary);
          }
        }
      }
    }

    .metadata-container {
      margin: 5px 10px;
      margin-left: calc(var(--bottom-tabs-width) + 5px);
      max-width: var(--metadata-width);
    }
  }
}

.message-zoom {
  margin: 6px 0;
  padding: 3px;
  font-size: 12px;
  background-color: #F0C0A0C0;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 #F0C0A0;
}

div.disconnected-message {
  background-color: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
  padding: 3px 5px;
  border-radius: 5px;
}
