.trailence-title {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;

  &.no-trailence-title {
    padding-right: 0;
  }

  ion-icon {
    margin-right: 10px
  }
}
.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    ion-icon {
        margin-right: 8px;
    }
    div {
        font-size: 16px;
    }

    .title-icon {
      ion-icon {
        width: 24px;
        height: 24px;
        max-width: 24px;
        max-height: 24px;
        min-width: 24px;
        min-height: 24px;
        margin-top: 3px;
      }
    }
    .title-text {
      text-wrap: nowrap;
      &:not(.with-sub-title) {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.not-logged {
        font-size: 20px;
        margin-top: -2px;
      }

      .separator {
        font-size: 28px;
        margin-right: 12px;
      }

      h1 {
        font-size: inherit;
        display: inline;
      }
      h2 {
        display: none;
      }

      div.with-sub-title {
        margin-bottom: -5px;

        div.title1 {
          font-size: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        div.title2 {
          font-size: 12px;
          opacity: 0.8;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    span.title2 {
      font-size: 14px;
      opacity: 0.85;
    }
}

ion-toolbar {
    --min-height: var(--header-height);

    ion-menu-button {
        width: var(--header-height);
        height: var(--header-height);
    }

    .update-app-badge {
      position: relative;
      width: 0px;
      height: 0px;
      pointer-events: none;

      ion-badge {
        position: absolute;
        right: calc(var(--header-height) / 2 - 18px);
        top: -16px;
        font-size: 13px;
        --background: rgba(var(--ion-color-success-rgb), 0.85);
        --color: var(--ion-color-success-contrast);
        --padding-start: 2px;
        --padding-end: 2px;
        --padding-top: 2px;
        --padding-bottom: 2px;
        pointer-events: none;
      }
    }

    .header-title {
        ion-button {
            margin-top: 0;
            margin-bottom: 0;
            color: var(--ion-color-primary-contrast);
            width: calc(min(var(--header-height), clamp(30px, 2.86em, 60px)));
            height: calc(min(var(--header-height), clamp(30px, 2.86em, 60px)));
            min-width: calc(min(var(--header-height), clamp(30px, 2.86em, 60px)));
            min-height: calc(min(var(--header-height), clamp(30px, 2.86em, 60px)));
        }
    }

    ion-buttons.public-buttons {
      div.separator {
        width: 0px;
        height: calc(var(--header-height) / 2);
        margin: 0 2px;
        border-right: 1px solid rgba(var(--ion-color-primary-contrast-rgb), 0.33);
      }
      a:hover, a:active, a {
        color: var(--ion-color-primary-contrast);
      }
    }
}

@media (max-width: 500px) {
  .trailence-title {
    padding: 4px 8px;

    ion-icon {
      margin-right: 0;
    }
    ion-label:not(.no-title) {
      display: none;
    }
  }
  .header-title {
    .separator {
      display: none;
    }
  }
  .public-buttons {
    ion-button {
      --padding-start: 0px;
      --padding-end: 0px;
      width: var(--header-height);
      height: var(--header-height);
      max-width: var(--header-height);
      max-height: var(--header-height);
    }
  }
}
