<ion-header>
  <ion-toolbar color="primary">
    @if (auth.email) {
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        @if (update.availableDownload?.badge) {
          <div class="update-app-badge">
            <ion-badge>{{update.availableDownload!.badge}}</ion-badge>
          </div>
        }
      </ion-buttons>
      <ion-buttons slot="end">
        <app-header-user-menu></app-header-user-menu>
      </ion-buttons>
    } @else {
      <div class="trailence-title" slot="start" (click)="goTo('/')">
        <ion-icon name="logo" size="large"></ion-icon>
        <ion-label>Trailence</ion-label>
      </div>
      <ion-buttons slot="end" class="public-buttons">
        <ion-button (click)="goTo('/donation')"><ion-icon slot="icon-only" name="heart-outline" class="donation-color"></ion-icon></ion-button>
        <ion-button (click)="goTo('/contact')"><ion-icon slot="icon-only" name="mail"></ion-icon></ion-button>
        <ion-button (click)="goTo('/login')"><ion-icon slot="icon-only" name="key"></ion-icon></ion-button>
      </ion-buttons>
    }
    <div class="header-title">
      <div class="back-button" *ngIf="backUrl">
        <ion-button shape="round" fill="clear" (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div class="title-icon" *ngIf="icon"><ion-icon [name]="icon" class="{{iconClass ?? ''}}"></ion-icon></div>
      <div class="title-text">{{title}}</div>
      <div class="title-actions" *ngIf="actions && actions.length > 0">
        <ion-button fill="clear" shape="round" id="header-title-actions-button-{{id}}">
          <ion-icon slot="icon-only" name="item-menu"></ion-icon>
        </ion-button>
        <ion-popover trigger="header-title-actions-button-{{id}}" [dismissOnSelect]="true" [ngClass]="{'tight-menu': actions.length > 10}">
          <ng-template>
            <ion-content>
              <app-menu-content [menu]="actions"></app-menu-content>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
