<ion-header>
  <ion-toolbar color="primary">
    @if (auth.email) {
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <app-header-user-menu></app-header-user-menu>
      </ion-buttons>
    }
    <div class="header-title">
      <div class="back-button" *ngIf="backUrl">
        <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div>{{title}}</div>
    </div>
  </ion-toolbar>
</ion-header>
