<ion-header>
  <ion-toolbar color="primary">
    @if (auth.email) {
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        @if (update.availableDownload?.badge) {
          <div class="update-app-badge">
            <ion-badge>{{update.availableDownload!.badge}}</ion-badge>
          </div>
        }
      </ion-buttons>
      <ion-buttons slot="end">
        <app-header-user-menu></app-header-user-menu>
      </ion-buttons>
    } @else {
      <div class="trailence-title {{neverShowTrailenceTitle ? 'no-trailence-title' : ''}}" slot="start" (click)="home()">
        <ion-icon name="logo" size="large"></ion-icon>
        <ion-label class="{{title.length === 0 ? 'no-title' : ''}}" *ngIf="!neverShowTrailenceTitle">Trailence</ion-label>
      </div>
      <ion-buttons slot="end" class="public-buttons">
        @if (prefs.preferences.lang !== 'en') {
          <a href="/en/{{publicUrl}}" (click)="$event.preventDefault()">
            <ion-button (click)="goTo('/en/' + publicUrl)"><img slot="icon-only" src="/assets/i18n/en.1.png" /></ion-button>
          </a>
        }
        @if (prefs.preferences.lang !== 'fr') {
          <a href="/fr/{{publicUrl}}" (click)="$event.preventDefault()">
            <ion-button (click)="goTo('/fr/' + publicUrl)"><img slot="icon-only" src="/assets/i18n/fr.1.png" /></ion-button>
          </a>
        }
        <ng-container *ngIf="prefs.getResolvedTheme() as theme">
          <ion-button (click)="prefs.setTheme(theme === 'DARK' ? 'LIGHT' : 'DARK')"><ion-icon slot="icon-only" [name]="theme === 'DARK' ? 'theme-light' : 'theme-dark'"></ion-icon></ion-button>
        </ng-container>
        @if (!small) {
          <div class="separator"></div>
          <a href="/search-route" (click)="$event.preventDefault()">
            <ion-button (click)="goTo('/search-route')"><ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
          </a>
          <a href="/{{prefs.preferences.lang}}/donation" (click)="$event.preventDefault()">
            <ion-button (click)="goTo('/' + prefs.preferences.lang + '/donation')"><ion-icon slot="icon-only" name="heart-outline" class="donation-color"></ion-icon></ion-button>
          </a>
          <a href="/{{prefs.preferences.lang}}/contact" (click)="$event.preventDefault()">
            <ion-button (click)="goTo('/' + prefs.preferences.lang + '/contact')"><ion-icon slot="icon-only" name="mail"></ion-icon></ion-button>
          </a>
          <a href="/{{prefs.preferences.lang}}/login" (click)="$event.preventDefault()">
            <ion-button (click)="goTo('/' + prefs.preferences.lang + '/login')"><ion-icon slot="icon-only" name="key"></ion-icon></ion-button>
          </a>
        } @else {
          <ion-button id="header-small-device-menu-button-{{id}}"><ion-icon slot="icon-only" name="menu"></ion-icon></ion-button>
          <ion-popover trigger="header-small-device-menu-button-{{id}}" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list>
                  <a href="/search-route" (click)="$event.preventDefault()">
                    <ion-item (click)="goTo('/search-route')">
                      <ion-icon slot="start" name="search"></ion-icon>
                      <ion-label>{{i18n.texts.menu.search_trail}}</ion-label>
                    </ion-item>
                  </a>
                  <a href="/{{prefs.preferences.lang}}/contact" (click)="$event.preventDefault()">
                    <ion-item (click)="goTo('/' + prefs.preferences.lang + '/contact')">
                      <ion-icon slot="start" name="mail"></ion-icon>
                      <ion-label>{{i18n.texts.pages.contact.title}}</ion-label>
                    </ion-item>
                  </a>
                  <a href="/{{prefs.preferences.lang}}/donation" (click)="$event.preventDefault()">
                    <ion-item (click)="goTo('/' + prefs.preferences.lang + '/donation')">
                      <ion-icon slot="start" class="donation-color" name="heart-outline"></ion-icon>
                      <ion-label>{{i18n.texts.pages.donation.title}}</ion-label>
                    </ion-item>
                  </a>
                  <a href="/{{prefs.preferences.lang}}/login" (click)="$event.preventDefault()">
                    <ion-item (click)="goTo('/' + prefs.preferences.lang + '/login')">
                      <ion-icon slot="start" name="key"></ion-icon>
                      <ion-label>{{i18n.texts.pages.login.title}}</ion-label>
                    </ion-item>
                  </a>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        }
      </ion-buttons>
    }
    <div class="header-title">
      <div class="back-button" *ngIf="backUrl">
        <ion-button shape="round" fill="clear" (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div class="title-text {{auth.email ? '' : 'not-logged'}}">
        <span *ngIf="!auth.email && title.length > 0 && !small && !neverShowTrailenceTitle" class="separator">-</span>
        @if (useH1) {
          <h1>{{title}}</h1>
          <h2>{{description}}</h2>
        } @else {
          <span>{{title}}</span>
        }
      </div>
      <div class="title-actions" *ngIf="actions && actions.length > 0">
        <ion-button fill="clear" shape="round" id="header-title-actions-button-{{id}}">
          <ion-icon slot="icon-only" name="item-menu"></ion-icon>
        </ion-button>
        <ion-popover trigger="header-title-actions-button-{{id}}" [dismissOnSelect]="true" [ngClass]="{'always-tight-menu': alwaysTightMenu}">
          <ng-template>
            <ion-content>
              <app-menu-content [menu]="actions"></app-menu-content>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
