:host {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.page-content {
  flex: 1 1 100%;
  overflow: auto;

  div.content-container {
    margin: auto;
    max-width: 800px;
    padding-top: 10px;
  }
}

a, a:hover, a:active {
  color: var(--ion-color-secondary);
}

div.stores {
  div.intro {
    margin-bottom: 8px;
  }

  div.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a:not(:first-child) {
      margin-left: 12px;
    }
  }
}

div.else {
  margin-top: 24px;
  margin-bottom: 10px;
  > div {
    margin-bottom: 6px;
    line-height: 1.2;
  }
}

div.step {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  div.before {
    display: flex;
    flex-direction: row;

    div.step-number {
      border-radius: 14px;
      min-width: 28px;
      max-width: 28px;
      min-height: 28px;
      max-height: 28px;
      font-size: 24px;
      text-align: center;
      background-color: var(--ion-color-secondary);
      color: var(--ion-color-secondary-contrast);
      margin-right: 8px;
    }
    div.text-before {
      padding-top: 6px;
    }
  }
  div.img-container {
    margin-left: 36px;
  }
  div.text-after {
    margin-left: 36px;
  }
}
