.question {
  margin: 5px 0 10px 0;
  color: var(--ion-color-secondary);
}

.info {
  margin: 8px 0 16px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  ion-icon {
    font-size: 14px;
    margin-right: 8px;
  }

  div {
    font-size: 12px;
    font-style: italic;
  }
}

.separator {
  margin: 20px 5px;
  height: 1px;
  border-bottom: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.25);
}

.recipients {
  ion-input:not(:first-child) {
    margin-top: 10px;
  }
  .error {
    color: var(--ion-color-danger);
    font-size: 12px;
    margin-top: 2px;
  }
}

.explanation {
  font-size: 14px;
  color: rgba(var(--ion-text-color-rgb), 0.75);
  background-color: rgba(96, 96, 200, 0.25);
  padding: 4px 8px;
  border-radius: 5px;
  margin: 2px 0 10px 30px;
}
