div.page-container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--centered-outside-background);
  padding: 0;

  div.content-container {
    min-width: calc(min(95%, 500px));
    max-width: calc(min(100%, 500px));
    background-color: var(--centered-inside-background);
    padding: 10px;
  }
}

div.form-container {
  div.form-value {
    margin-bottom: 16px;
  }

  .captcha-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .network-needed {
    margin: 8px 0;
  }
  .error {
    color: var(--ion-color-danger);
    margin-top: 10px;
    text-align: center;
  }
  .success {
    color: var(--ion-color-success);
    margin-top: 10px;
    text-align: center;
  }
}

ion-checkbox::part(label) {
  white-space: wrap;
}
a, a:hover, a:active {
  margin: 0 0 0 35px;
  color: var(--ion-color-secondary);
}
