<form (ngSubmit)="save()" style="display: contents">
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="location" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.location_popup.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-input
    name="location"
    fill="outline"
    label="{{i18n.texts.pages.location_popup.location}}"
    label-placement="floating"
    [(ngModel)]="location"
    [maxlength]="100"
    [counter]="true"
  ></ion-input>

  @if (searchingPlaces) {
    <ion-spinner name="dots"></ion-spinner>
  } @else {
    @if (!proposedPlaces) {
      <ion-button (click)="searchPlaces()" [disabled]="!online">{{i18n.texts.pages.location_popup.search_from_departure}}</ion-button>
      @if (!online) {
        <div style="color: var(--ion-color-danger)">{{i18n.texts.you_are_offline}}</div>
      }
    } @else {
      <ul>
        @for (place of proposedPlaces; track place) {
          <li>
            <a href="#" (click)="location = place; $event.stopPropagation(); $event.preventDefault();">{{place}}</a>
          </li>
        }
      </ul>
    }
  }
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button color="success" (click)="save()" type="submit">{{i18n.texts.buttons.save}}</ion-button>
      <ion-button color="medium" (click)="close('cancel')">{{i18n.texts.buttons.cancel}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</form>
