app-box-title {
  margin-top: 5px;
}
div.search-content {
  padding: 8px;
}
ul a {
  color: var(--ion-color-secondary);
  &:hover {
    color: var(--ion-color-secondary-tint);
  }
}
div.propose-places-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
