@if (releases !== undefined) {
  @for (release of releases; track release.code) {
    @if (release.languages[prefs.preferences.lang]; as lang) {
      <div class="release">
        <div class="release-header">
          <div class="version">
            <span>{{ i18n.texts.update.release_notes.version }}</span>
            <span>{{ release.version }}</span>
          </div>
          <div class="message">
            {{ lang.message }}
          </div>
        </div>
        @if (lang.items) {
          <div class="release-items">
            @for (item of lang.items; track $index) {
              <div class="release-item">{{ item }}</div>
            }
          </div>
        }
      </div>
    }
  }
} @else {
  <ion-spinner name="dots"></ion-spinner>
}
