table.user-info {

  th {
    text-align: left;
    color: var(--ion-color-secondary);
  }

  th, td {
    padding: 8px;
  }

  td {
    white-space: nowrap;
  }

}

.roles {
  display: flex;
  flex-direction: row;
  align-items: center;

  .role {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
