<hr/>
<div class="page-section-title">
  {{ i18n.texts.translations.trail_moderation.title }}
  <ion-button size="small" fill="clear" color="dark" style="margin-top: -8px" (click)="toggleCollapse()">
    <ion-icon slot="icon-only" [name]="collapsed ? 'chevron-left' : 'chevron-down'"></ion-icon>
  </ion-button>
</div>
@if (!collapsed) {
  <div class="page-section-sub-title">{{ i18n.texts.translations.trail_moderation.original_language }}</div>
  @if (detecting || translating > 0) {
    <ion-spinner name="dots"></ion-spinner>
  } @else if (sourceLanguages) {
    <div class="source-lang">
      <select [ngModel]="srcLang" (ngModelChange)="setSrcLang($event)" [disabled]="detecting">
        <option value=""></option>
        @for (sl of sourceLanguages; track sl.code) {
          <option [value]="sl.code">{{sl.name}}</option>
        }
      </select>
      <ion-button (click)="detectLanguage()" size="small" [disabled]="detecting">
        @if (detecting) {
          <ion-spinner></ion-spinner>
        } @else {
          {{ i18n.texts.translations.trail_moderation.detect }}
        }
      </ion-button>
    </div>
    @if (srcLang) {
      <div class="page-section-sub-title">{{ i18n.texts.translations.trail_moderation.needed_translations }}</div>
      <select [ngModel]="displayTarget" (ngModelChange)="setDisplayTarget($event)">
        <option value=""></option>
        @for (tl of targetLanguages; track tl.code) {
          @if (srcLang !== tl.code) {
            <option [value]="tl.code">{{ tl.name }}</option>
          }
        }
      </select>
      @if (displayTarget) {
        <div>
          <ion-button size="small" (click)="showAIPrompt()">AI Prompt</ion-button>
          <ion-button size="small" (click)="translateWithAI()">Translate</ion-button>
          <ion-button size="small" (click)="clearAllTranslations()">Clear</ion-button>
        </div>

        <ion-input
          [(ngModel)]="nameTranslation"
          (ionChange)="nameTranslationChanged()"
          fill="outline"
          [label]="i18n.texts.translations.trail_moderation.name"
          labelPlacement="stacked"
          class="small"
          name="trailName"
        ></ion-input>

        <ion-textarea
          [(ngModel)]="descriptionTranslation"
          (ionChange)="descriptionTranslationChanged()"
          fill="outline"
          [label]="i18n.texts.translations.trail_moderation.description"
          labelPlacement="stacked"
          [autoGrow]="true"
          name="trailDescription"
        ></ion-textarea>

        <div style="font-weight: bold; margin-top: 2px; color: var(--ion-color-tertiary);">{{ i18n.texts.pages.trail.sections.waypoints.title }}</div>
        @for (wp of waypointsTranslation; track $index) {
          <div class="waypoint">
            @if (wp.name !== undefined || wp.description !== undefined) {
              <span style="font-weight: bold; color: var(--ion-color-secondary); margin-right: 5px;">{{ $index }}</span>
              @if (wp.name !== undefined) {
                <span>{{ track.wayPoints[$index].name }}</span>
                <ion-input
                  [(ngModel)]="wp.name"
                  (ionChange)="wayPointChanged()"
                  fill="outline"
                  [label]="i18n.texts.way_points.name_placeholder"
                  labelPlacement="stacked"
                  class="small"
                  name="waypointName{{$index}}"
                ></ion-input>
              }
              @if (wp.description !== undefined) {
                <span>{{ track.wayPoints[$index].description }}</span>
                <ion-textarea
                  [(ngModel)]="wp.description"
                  (ionChange)="wayPointChanged()"
                  fill="outline"
                  [label]="i18n.texts.way_points.description_placeholder"
                  labelPlacement="stacked"
                  [autoGrow]="true"
                  name="waypointDescription{{$index}}"
                ></ion-textarea>
              }
            }
          </div>
        }
      }
    }
  }
  <hr/>
}
