div.source-lang {
  display: flex;
  flex-direction: row;
  align-items: center;

  ion-button {
    margin-left: 5px;
  }
}

ion-input, ion-textarea {
  margin-top: 8px;
  font-size: 10pt;
}

div.waypoint {
  font-size: 10pt;
}
