.layer {
  display: inline-block;
  margin: 5px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;

    margin-bottom: 3px;

    .name {
      margin-left: 5px;
      font-size: 12px;
    }
  }

  &.as-button {
    padding: 1px 5px;
    border-radius: 8px;
    border: 2px solid transparent;

    ion-radio {
      display: none;
    }

    .name {
      margin-left: 0;
      text-align: center;
      width: 100%;
    }

    &:hover:not(.selected) {
      border-color: rgba(var(--ion-color-secondary-rgb), 0.5);
      background-color: rgba(var(--ion-color-secondary-rgb), 0.1);
    }

    &.selected {
      border-color: var(--ion-color-secondary);
      background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
    }
  }
}
.popup {
  height: 100%;
  overflow: auto;
}
div.regional-title {
  margin: 5px 10px 0 10px;
  color: var(--ion-color-tertiary);
  font-size: 16px;
}
div.region-title {
  margin: 5px 10px;
  color: var(--ion-color-secondary);
  font-size: 14px;
}
