<ion-list>
  @let parent = parents.at(-1);
  @if (parent) {
    <ion-list-header>
      <ion-button shape="round" fill="clear" color="secondary" (click)="back($event)">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      @let icon = parent.icon | async;
      @let title = parent.title | async;
      @if (icon) {<ion-icon [name]="icon"></ion-icon>}
      @if (title) {<ion-label>{{ title }}</ion-label>}
    </ion-list-header>
  }
  @for (view of content; track $index; let index = $index) {
    @switch (view.type) {
      @case ('separator') {
        <div class="separator"></div>
      }
      @case ('title') {
        <div class="section-title {{view.cssClass}}">
          @if (view.icon) {<ion-icon [name]="view.icon" [color]="view.textColor ?? (view.backgroundColor ? undefined : 'dark')"></ion-icon>}
          @if (view.title) {<ion-label [color]="view.textColor">{{ view.title }}</ion-label>}
        </div>
      }
      @case ('item') {
        @let nextSeparator = index === content.length - 1 || content[index + 1].type === 'separator';
        <ion-item
          [button]="view.item.action || view.children"
          [detail]="!!view.children"
          [color]="view.backgroundColor"
          (click)="clicked(view, $event)"
          [disabled]="view.disabled"
          [lines]="!nextSeparator ? 'full' : 'none'"
        >
          @if (view.icon) {<ion-icon [name]="view.icon" [color]="view.textColor ?? (view.backgroundColor ? undefined : 'secondary')"></ion-icon>}
          @if (view.label) {
            <ion-label [color]="view.textColor">
              {{ view.label }}
              @for (subLabel of view.subLabels; track $index) {
                <p class="sub-text">{{ subLabel }}</p>
              }
            </ion-label>
          }
          @if (view.selected) {<ion-icon slot="end" name="checkmark" color="success" class="item-selected"></ion-icon>}
        </ion-item>
      }
      @case ('custom') {
        <ng-content [select]="view.contentSelector"></ng-content>
      }
      @case ('toolbar') {
        <app-toolbar
          [menu$]="view.content"
          [noScroll]="true"
          itemPaddingLeft="2px"
          itemPaddingRight="2px"
          itemSpace="4px"
          [itemMinWidth]="view.content.length < 4 ? 55 : view.content.length < 5 ? 50 : 40"
          textSize="12px"
          defaultIconColor="secondary"
          (itemSelected)="close()"
        ></app-toolbar>
      }
    }
  }
</ion-list>
