.add-tag-footer {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;

  ion-input {
    flex: 1 1 100%;
  }

  ion-button {
    flex: none;
    margin: 0 0 0 10px;
  }
}

.tag-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;

  &.deleted {
    display: none;
  }

  ion-checkbox {
    flex: none;
    margin: 0px 8px 2px 0px;

    &::part(label) {
      margin-inline-start: 8px;
      -webkit-margin-start: 8px;
    }
  }

  ion-input {
    &:not(.focus) {
      border-bottom: 1px solid rgba(var(--ion-text-color-rgb), 0.25);
    }
  }
}

@media (pointer: coarse) {
  .tag-node {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}