<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="filters" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.trails.edit_filters_popup_title}}</ion-label>
    </ion-title>
  </ion-toolbar>
  <app-toolbar class="filters-toolbar"
    [items]="toolbarItems"
    [iconSize]="16"
    [textSize]="'12px'"
  ></app-toolbar>
</ion-header>
<div class="ion-padding modal-content">
  <div class="filter-checkbox">
    <ion-icon name="map"></ion-icon>
    <ion-checkbox class="filter-map"
      [checked]="filters.onlyVisibleOnMap"
      (ionChange)="updateFilterOnlyVisibleOnMap($event.detail.checked)"
      labelPlacement="end"
    >{{i18n.texts.pages.trails.filters.onlyVisibleOnMap}}</ion-checkbox>
  </div>

  @if (listType !== 'search') {
    <div class="filter-header">
      <ion-icon name="duration"></ion-icon>
      <div>{{ i18n.texts.pages.trails.filters.duration }}</div>
    </div>
    <div class="filter-value with-range">
      <app-filter-numeric-custom
        class="compact"
        [config]="filterDurationConfig"
        [value]="filters.duration"
        (valueChange)="updateNumericCustomFilter(filters.duration, filterDurationConfig, $event)"
        [minValueLabel]="null"
        [maxValueLabel]="null"
        >
      </app-filter-numeric-custom>
    </div>
  }

  <div class="filter-header">
    <ion-icon name="chrono"></ion-icon>
    <div>{{ i18n.texts.pages.trails.filters.estimatedDuration }}</div>
  </div>
  <div class="filter-value with-range">
    <app-filter-numeric-custom
      class="compact"
      [config]="filterDurationConfig"
      [value]="filters.estimatedDuration"
      (valueChange)="updateNumericCustomFilter(filters.estimatedDuration, filterDurationConfig, $event)"
      [minValueLabel]="null"
      [maxValueLabel]="null"
      >
    </app-filter-numeric-custom>
  </div>

  <div class="filter-header">
    <ion-icon name="distance"></ion-icon>
    <div>{{ i18n.texts.pages.trails.filters.distance }}</div>
  </div>
  <div class="filter-value with-range">
    <app-filter-numeric-custom
      class="compact"
      [config]="filterDistanceConfig"
      [value]="filters.distance"
      (valueChange)="updateNumericCustomFilter(filters.distance, filterDistanceConfig, $event)"
      [minValueLabel]="null"
      [maxValueLabel]="null"
      >
    </app-filter-numeric-custom>
  </div>

  <div class="filter-header">
    <ion-icon name="positive-elevation"></ion-icon>
    <div>{{ i18n.texts.pages.trails.filters.positive_elevation }}</div>
  </div>
  <div class="filter-value with-range">
    <app-filter-numeric-custom
      class="compact"
      [config]="filterElevationConfig"
      [value]="filters.positiveElevation"
      (valueChange)="updateNumericCustomFilter(filters.positiveElevation, filterElevationConfig, $event)"
      [minValueLabel]="null"
      [maxValueLabel]="null"
      >
    </app-filter-numeric-custom>
  </div>
  <div class="filter-header">
    <ion-icon name="negative-elevation"></ion-icon>
    <div>{{ i18n.texts.pages.trails.filters.negative_elevation }}</div>
  </div>
  <div class="filter-value with-range">
    <app-filter-numeric-custom
      class="compact"
      [config]="filterElevationConfig"
      [value]="filters.negativeElevation"
      (valueChange)="updateNumericCustomFilter(filters.negativeElevation, filterElevationConfig, $event)"
      [minValueLabel]="null"
      [maxValueLabel]="null"
      >
    </app-filter-numeric-custom>
  </div>

  @if (listType === 'search' || listType === 'my-selection' || listType === 'my-publications') {
    <div class="filter-header">
      <ion-icon name="star-filled"></ion-icon>
      <div>{{ i18n.texts.pages.trails.filters.rate }}</div>
    </div>
    <div class="filter-value with-range">
      <app-filter-numeric
        class="compact"
        [minValue]="0" [maxValue]="5" [step]="0.5"
        [selectedMinValue]="filters.rate.from || 0" [selectedMaxValue]="filters.rate.to || 5"
        (selectionChange)="updateNumericFilter(filters.rate, $event)"
        [valueFormatter]="formatRate"
        ></app-filter-numeric>
    </div>
  }
  <div class="filter-checkbox">
    <ion-icon name="photos"></ion-icon>
    <ion-checkbox
      [checked]="filters.onlyWithPhotos"
      (ionChange)="updateFilterOnlyWithPhotos($event.detail.checked)"
      labelPlacement="end"
    >{{i18n.texts.pages.trails.filters.onlyWithPhotos}}</ion-checkbox>
  </div>

  <div class="filter-header">
    <ion-icon name="loop"></ion-icon>
    <div>{{ i18n.texts.select.loopType.title }}</div>
  </div>
  <div class="filter-value">
    <app-select-loop-type
      [multiple]="true"
      [popupNeedsApply]="false"
      [selection]="filters.loopTypes.selected || []"
      (selectionChange)="updateLoopTypeFilter($event)"
    ></app-select-loop-type>
  </div>
  <div class="filter-header">
    <ion-icon name="hiking"></ion-icon>
    <div>{{ i18n.texts.metadata.activity }}</div>
  </div>
  <div class="filter-value">
    <app-select-activities
      [value]="filters.activities.selected ?? []"
      (valueChange)="updateActivitiesFilter($event)"
      [popupNeedsApply]="false"
    ></app-select-activities>
  </div>
  @if (collectionUuid) {
    <div class="filter-header">
      <ion-icon name="tags"></ion-icon>
      <div>{{ i18n.texts.pages.trails.filters.tags }}</div>
    </div>
    <div class="filter-value">
      <app-filter-tags [collectionUuid]="collectionUuid" [filter]="filters.tags" (filterChange)="updateTagsFilter($event)"></app-filter-tags>
    </div>
  }

  <div class="filter-header">
    <ion-icon name="edit-text"></ion-icon>
    <div>{{ i18n.texts.tools.search_text }}</div>
  </div>
  <div class="filter-value">
    <ion-input fill="solid" color="dark" class="small"
      [value]="filters.search"
      (ionInput)="searchTrailInput($event.detail.value)"
      [placeholder]="i18n.texts.pages.trails.search_trail_placeholder"
    >
      <ion-icon slot="end" name="cross" (click)="clearSearch()"></ion-icon>
    </ion-input>
  </div>
</div>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button (click)="resetFilters()">{{i18n.texts.pages.trails.filters.reset_button}}</ion-button>
      <ion-button [strong]="true" (click)="close()">{{i18n.texts.buttons.close}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
