<app-header
  [title]="i18n.texts.pages.preferences.title"
></app-header>
<div class="content-container"><div class="content">
  <div class="page-section-title">{{i18n.texts.pages.preferences.display_section_title}}</div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="i18n"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.language}}</div>
      <div class="value">
        <ion-segment [value]="preferences.preferences.lang" mode="ios" (ionChange)="preferences.setLanguage($event.detail.value?.toString() ?? 'en')" [scrollable]="true">
          <ion-segment-button value="en">
            <ion-label>English</ion-label>
          </ion-segment-button>
          <ion-segment-button value="fr">
            <ion-label>Français</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="theme"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.theme}}</div>
      <div class="value">
        <ion-segment [value]="preferences.preferences.theme" mode="ios" (ionChange)="setTheme($event.detail.value?.toString())" [scrollable]="true">
          <ion-segment-button value="LIGHT" layout="icon-top">
            <ion-icon name="theme-light"></ion-icon>
            <ion-label>{{i18n.texts.pages.preferences.themes.light}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="DARK">
            <ion-icon name="theme-dark"></ion-icon>
            <ion-label>{{i18n.texts.pages.preferences.themes.dark}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="SYSTEM">
            <ion-icon name="theme-system"></ion-icon>
            <ion-label>{{i18n.texts.pages.preferences.themes.system}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="distance"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.distance_unit}}</div>
      <div class="value">
        <ion-segment [value]="preferences.preferences.distanceUnit" mode="ios" (ionChange)="setDistanceUnit($event.detail.value?.toString())" [scrollable]="true">
          <ion-segment-button value="METERS">
            <ion-label>{{i18n.texts.pages.preferences.distance_units.meters}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="IMPERIAL">
            <ion-label>{{i18n.texts.pages.preferences.distance_units.imperial}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="date"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.date_format}}</div>
      <div class="value">
        <ion-segment [value]="preferences.preferences.dateFormat" mode="ios" (ionChange)="setDateFormat($event.detail.value?.toString())" [scrollable]="true">
          <ion-segment-button value="dd/mm/yyyy">
            <ion-label>{{i18n.getDateForFormat(timestamp, 'dd/mm/yyyy')}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="m/d/yyyy">
            <ion-label>{{i18n.getDateForFormat(timestamp, 'm/d/yyyy')}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="duration"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.time_format}}</div>
      <div class="value">
        <ion-segment [value]="preferences.preferences.hourFormat" mode="ios" (ionChange)="setHourFormat($event.detail.value?.toString())" [scrollable]="true">
          <ion-segment-button value="H24">
            <ion-label>{{i18n.getTimeForFormat(timestamp, 'H24')}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="H12">
            <ion-label>{{i18n.getTimeForFormat(timestamp, 'H12')}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>


  <div class="page-section-title">
    {{i18n.texts.pages.preferences.privacy}}
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="privacy"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.alias}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.alias_explaination"></div>
      <div class="value">
        <ion-radio-group [(ngModel)]="aliasType" (ionChange)="aliasTypeChanged($event.detail.value)">
          <div>
            <ion-radio value="anonymous" labelPlacement="end">{{i18n.texts.pages.preferences.anonymous}}</ion-radio>
          </div>
          <div>
            <ion-radio value="name" labelPlacement="end">
              <div style="display: flex; flex-direction: row; align-items: center">
                {{i18n.texts.pages.preferences.alias_name}}
                <ion-input
                  [value]="preferences.preferences.alias"
                  [disabled]="aliasType === 'anonymous'"
                  (ionChange)="setAlias($event.detail.value)"
                  fill="outline"
                  class="small"
                  style="margin-left: 8px;"
                ></ion-input>
              </div>
            </ion-radio>
          </div>
        </ion-radio-group>
      </div>
    </div>
  </div>

  <div class="page-section-title">
    {{i18n.texts.pages.preferences.trace_recorder}}
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="points-distance"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.traceMinMeters}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.traceMinMeters_explaination"></div>
      <div class="value">
        <app-filter-numeric-custom
          [config]="traceMinMetersConfig"
          [value]="preferences.preferences.traceMinMeters"
          (valueChange)="setTraceMinimumDistance($event)"
        ></app-filter-numeric-custom>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="chrono"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.traceMinMillis}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.traceMinMillis_explaination"></div>
      <div class="value">
        <app-filter-numeric-custom
          [config]="traceMinMillisConfig"
          [value]="preferences.preferences.traceMinMillis"
          (valueChange)="setTraceMinimumInterval($event)"
        ></app-filter-numeric-custom>
      </div>
    </div>
  </div>

  <div class="page-section-title">
    {{i18n.texts.pages.preferences.time_calculation.title}}
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="speed"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.time_calculation.base_speed}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.time_calculation.base_speed_explaination"></div>
      <div class="value">
        <ion-input
          type="number"
          step="0.1"
          min="0.1"
          max="99.9"
          [value]="i18n.getSpeedInUserUnit(preferences.preferences.estimatedBaseSpeed)"
          [label]="i18n.shortUserSpeedUnit()"
          labelPlacement="end"
          fill="solid"
          class="small"
          style="width: 175px;"
          color="tertiary"
          (ionChange)="setEstimatedBaseSpeed($event.detail.value)"
        ></ion-input>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="hourglass"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.time_calculation.long_breaks_title}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.time_calculation.long_break_explaination"></div>
      <div class="sub-title">{{i18n.texts.pages.preferences.time_calculation.long_break_minimum_duration}}</div>
      <div class="value">
        <ion-range
          mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="180000" [max]="900000" [step]="60000"
          [pin]="true" [pinFormatter]="minutesFormatter"
          [ngModel]="preferences.preferences.longBreakMinimumDuration" (ngModelChange)="setLongBreakMinimumDuration($event)"
          class="always-show-knob-pin"
        >
          <ion-label slot="start">3m</ion-label>
          <ion-label slot="end">15m</ion-label>
        </ion-range>
      </div>
      <div class="sub-title">{{i18n.texts.pages.preferences.time_calculation.long_break_maximum_distance}}</div>
      <div class="value">
        <app-filter-numeric-custom
          [config]="longBreakMaximumDistanceConfig"
          [value]="preferences.preferences.longBreakMaximumDistance"
          (valueChange)="setLongBreakMaximumDistance($event)"
        ></app-filter-numeric-custom>
      </div>
    </div>
  </div>

  <div class="page-section-title">
    {{i18n.texts.pages.preferences.offline_map}}
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="hourglass"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.offlineMapMaxKeepDays}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.offlineMapMaxKeepDays_explaination"></div>
      <div class="value">
        <app-filter-numeric-custom
          [config]="offlineMapMaxKeepDaysConfig"
          [value]="preferences.preferences.offlineMapMaxKeepDays"
          (valueChange)="setOfflineMapMaxKeepDays($event)"
        ></app-filter-numeric-custom>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="database"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.offline_maps.title}}</div>
      <div class="value">
        <table>
          <tr>
            <th>{{i18n.texts.pages.preferences.offline_maps.items}}</th>
            <td id="{{id}}-offline-map-counters">
              @if (offlineMapCounters === undefined) {
                <ion-spinner name="dots"></ion-spinner>
              } @else {
                {{offlineMapCounters.items}}
              }
            </td>
          </tr>
          <tr>
            <th>{{i18n.texts.pages.preferences.offline_maps.size}}</th>
            <td>
              {{i18n.sizeToString(offlineMapCounters?.size)}}
            </td>
          </tr>
        </table>
        <ion-button (click)="cleanOfflineMaps()">
          <ion-icon name="cleaning" slot="start"></ion-icon>
          <ion-label>{{i18n.texts.pages.preferences.offline_maps.remove_all}}</ion-label>
        </ion-button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="tfoAllowed">
    <div class="page-section-title">
      {{i18n.texts.pages.preferences.more_maps_layers}}
    </div>

    <div class="preference">
      <div class="icon">
        <ion-icon name="map"></ion-icon>
      </div>
      <div class="preference-content">
        <div class="title">Thunderforest</div>
        <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.thunderforest_explaination"></div>
        <div class="value">
          <ion-input label="API Key" labelPlacement="floating" fill="outline" [value]="tfoApiKey" (ionChange)="updateThunderforestApiKey($event.detail.value)"></ion-input>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="page-section-title">
    {{i18n.texts.pages.preferences.photos}}
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="photos"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.photos_max_pixels}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.photos_max_pixels_explaination"></div>
      <div class="value">
        <ion-range
          mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="600" [max]="1200" [step]="100"
          [pin]="true"
          [ngModel]="preferences.preferences.photoMaxPixels" (ngModelChange)="preferences.setPhotoMaxPixels($event)"
          class="always-show-knob-pin"
        >
          <ion-label slot="start">600px</ion-label>
          <ion-label slot="end">1200px</ion-label>
        </ion-range>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.photos_max_quality}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.photos_max_quality_explaination"></div>
      <div class="value">
        <ion-range
          mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="50" [max]="100" [step]="5"
          [pin]="true"
          [ngModel]="preferences.preferences.photoMaxQuality" (ngModelChange)="preferences.setPhotoMaxQuality($event)"
          class="always-show-knob-pin"
        >
          <ion-label slot="start">50%</ion-label>
          <ion-label slot="end">100%</ion-label>
        </ion-range>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.photos_max_size_kb}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.photos_max_size_kb_explaination"></div>
      <div class="value">
        <ion-range
          mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="100" [max]="2050" [step]="50"
          [pin]="true"
          [pinFormatter]="fileSizeFormatter"
          [ngModel]="preferences.preferences.photoMaxSizeKB" (ngModelChange)="preferences.setPhotoMaxSizeKB($event)"
          class="always-show-knob-pin"
        >
          <ion-label slot="start">{{fileSizeFormatter(100)}}</ion-label>
          <ion-label slot="end">{{fileSizeFormatter(2050)}}</ion-label>
        </ion-range>
      </div>
    </div>
  </div>

  <div class="preference">
    <div class="icon">
      <ion-icon name="database"></ion-icon>
    </div>
    <div class="preference-content">
      <div class="title">{{i18n.texts.pages.preferences.photos_cache}}</div>
      <div class="explaination" [innerHTML]="i18n.texts.pages.preferences.photos_cache_explaination"></div>
      <div style="margin-top: 10px">{{i18n.texts.pages.preferences.photos_cache_max_days}}</div>
      <div class="value">
        <app-filter-numeric-custom
          [config]="photoCacheDaysConfig"
          [value]="preferences.preferences.photoCacheDays"
          (valueChange)="setPhotoCacheDays($event)"
        ></app-filter-numeric-custom>
      </div>
      <div class="value">
        <table>
          <tr>
            <th>{{i18n.texts.pages.preferences.photos_cache_total}}</th>
            <td id="{{id}}-photo-cache-size">
              @if (photoCacheSize === undefined) {
                <ion-spinner name="dots"></ion-spinner>
              } @else {
                {{i18n.sizeToString(photoCacheSize.total)}}
              }
            </td>
          </tr>
          <tr>
            <th>{{i18n.texts.pages.preferences.photos_cache_expired}}</th>
            <td>
              {{i18n.sizeToString(photoCacheSize?.expired)}}
            </td>
          </tr>
        </table>
        <ion-button (click)="removeAllCachedPhotos()" [disabled]="!photoCacheSize?.total" id="button-remove-all-photos">
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>{{i18n.texts.pages.preferences.photos_cache_remove_all}}</ion-label>
        </ion-button>
        <ion-button (click)="removeExpiredPhotos()" [disabled]="!photoCacheSize?.expired">
          <ion-icon name="cleaning" slot="start"></ion-icon>
          <ion-label>{{i18n.texts.pages.preferences.photos_cache_remove_expired}}</ion-label>
        </ion-button>
      </div>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <ion-button (click)="resetAll()">
      {{i18n.texts.pages.preferences.reset_all}}
    </ion-button>
  </div>

</div></div>
