<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="link" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.trail_link.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="link">
    @if (trailLink && trailLink.link.length > 0) {
      <ion-input
        [value]="linkStart + trailLink.link"
        [readonly]="true"
        fill="solid"
      ></ion-input>
      <div class="explanation">
        <ion-icon name="info"></ion-icon>
        <div [innerHTML]="i18n.texts.pages.trail_link.explanation"></div>
      </div>
    } @else {
      @if (network.server$ | async) {
        <div style="display: flex; flex-direction: row; align-items: center;">
          <ion-spinner name="dots"></ion-spinner>
          <div style="margin-left: 10px;">{{ i18n.texts.pages.trail_link.waiting}}</div>
        </div>
      } @else {
        {{ i18n.texts.pages.trail_link.offline}}
      }
    }
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      @if (trailLink && trailLink.link.length > 0) {
        @if (canShare) {
          <ion-button color="dark" (click)="shareLink()">
            <ion-icon name="share" slot="start"></ion-icon>
            <ion-label>{{i18n.texts.pages.trail_link.share}}</ion-label>
          </ion-button>
        } @else {
          <ion-button color="dark" (click)="copyLink()">
            <ion-icon name="copy" slot="start"></ion-icon>
            <ion-label>{{i18n.texts.pages.trail_link.copy}}</ion-label>
          </ion-button>
        }
      }
      <ion-button color="medium" (click)="close()">{{i18n.texts.buttons.close}}</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      @if (trailLink && trailLink.link.length > 0) {
        <ion-button color="danger" (click)="delete()">{{i18n.texts.buttons.delete}}</ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
