<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="download" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.trail.actions.download_map}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
    @let hasTracks = tracks && tracks.length > 0;
    <div class="page-section-sub-title">
    @if (hasTracks) {
      {{i18n.texts.offline_map.download_trail}}
    } @else {
      {{i18n.texts.offline_map.download_map}}
    }
    </div>
    <div class="page-section-title">{{i18n.texts.offline_map.parameters}}</div>
    <div class="page-section-sub-title">{{i18n.texts.offline_map.max_zoom}}</div>
    <div class="page-section-text">{{i18n.texts.offline_map.max_zoom_explaination}}</div>
    <div class="page-section-text">{{i18n.texts.offline_map.max_zoom_reco}}</div>
    <ion-range #downloadMapMaxZoom
      mode="md"
      [pin]="true"
      [ticks]="true"
      [snaps]="true"
      [min]="13"
      [max]="19"
      [step]="1"
      [value]="preferencesService.preferences.offlineMapMaxZoom"
      class="always-show-knob-pin"
      name="max-zoom"
    >
    </ion-range>
    <div class="page-section-sub-title">{{i18n.texts.offline_map.padding}}</div>
    <div class="page-section-text">
      @if (hasTracks) {
        {{i18n.texts.offline_map.padding_explaination_for_trail}}
      } @else {
        {{i18n.texts.offline_map.padding_explaination_for_map}}
      }
    </div>
    <ion-range #downloadMapPadding
      mode="md"
      [pin]="true"
      [ticks]="true"
      [snaps]="true"
      [pinFormatter]="percentageFormatter"
      [min]="100"
      [max]="500"
      [step]="25"
      [value]="tracks && tracks.length > 0 ? 150 : 100"
      class="always-show-knob-pin"
      name="padding"
    >
    </ion-range>

    <div class="page-section-title">{{i18n.texts.offline_map.select_layers}}</div>
    <app-map-layer-selection #downloadLayersSelection [multiple]="true"></app-map-layer-selection>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      @if (networkService.internet$ | async) {
        <ion-button color="success" [disabled]="downloadLayersSelection.selection.length === 0" (click)="launchDownloadMap(downloadLayersSelection.getSelectedLayers())">{{i18n.texts.buttons.download}}</ion-button>
      } @else {
        <div style="color: var(--ion-color-danger)">{{i18n.texts.you_are_offline}}</div>
      }
      <ion-button (click)="close()">{{i18n.texts.buttons.cancel}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
