:host {
  position: relative;
  overflow: hidden;

  --tabs-height: 36px;
  --bottom-sheet-button-height: 20px;
  --details-width: 350px;
  --bottom-sheet-tabs-width: 30px;
  --bottom-sheet-tab-icon-size: 24px;
  --bottom-sheet-tab-content-height: 150px;
}

@media (hover: hover) {
  :host {
    --bottom-sheet-tab-content-height: 160px;
  }
}

.top-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .trail-details {
    position: absolute;
    overflow-y: auto;
  }

  .map-container {
    position: absolute;
  }

  .graph-container {
    position: absolute;
    z-index: 1000;

    .zoom-button {
      z-index: 502;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .tabs-container {
    position: absolute;
  }

  &.small-height {
    --bottom-sheet-tab-content-height: 80px;
    &.bottom-sheet-tab-open-elevation, &.bottom-sheet-tab-open-speed {
      --bottom-sheet-tab-content-height: 150px;
    }
  }

  .bottom-sheet-container {
    position: absolute;
    right: 0;
    bottom: 0;
    height: var(--bottom-sheet-button-height);
    transition: height 0.3s ease-in-out;
    z-index: 500;
    background-color: var(--ion-background-color);

    .bottom-sheet-button {
      height: var(--bottom-sheet-button-height);
      width: 100%;

      ion-icon {
        height: var(--bottom-sheet-button-height);
        width: var(--bottom-sheet-button-height);
        transform: scaleX(2);
        margin-left: calc(50% - calc(var(--bottom-sheet-button-height) / 2));
      }
    }
  }
  .bottom-info {
    position: absolute;
  }
  .trail-photos-tab, .trail-reviews-tab {
    display: none;
    position: absolute;
  }

  &.bottom-sheet-closed {
    .bottom-sheet-container {
      height: var(--bottom-sheet-button-height);
    }
    .map-container {
      bottom: calc(var(--bottom-sheet-button-height));
    }
    .graph-container {
      top: 100%;
    }
  }
  &.bottom-sheet-open {
    .bottom-sheet-container {
      height: calc(var(--bottom-sheet-button-height) + var(--bottom-sheet-tab-content-height));
    }
    .map-container {
      bottom: calc(var(--bottom-sheet-button-height) + var(--bottom-sheet-tab-content-height));
    }
    .graph-container {
      top: calc(100% - var(--bottom-sheet-tab-content-height));
    }
    .bottom-sheet-button {
      border-bottom: 1px solid var(--ion-color-light);
    }
    .bottom-sheet-tabs {
      position: absolute;
      top: var(--bottom-sheet-button-height);
      bottom: 0;
      left: 0;
      width: var(--bottom-sheet-tabs-width);
      display: flex;
      flex-direction: column;
      align-items: center;

      .bottom-sheet-tab {
        flex: 1 1 100%;
        border-right: 2px solid var(--ion-color-light);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;

        ion-icon {
          width: var(--bottom-sheet-tab-icon-size);
          height: var(--bottom-sheet-tab-icon-size);
          color: var(--ion-color-medium);
        }

        &.tab-selected {
          background-color: var(--ion-color-light);
          border-color: var(--ion-color-secondary);
          ion-icon {
            color: var(--ion-color-secondary);
          }
        }
      }
    }
  }



  &.large {
    --bottom-sheet-tab-content-height: 180px;

    .tabs-container {
      display: none;
    }
    .bottom-sheet-container {
      left: var(--details-width);
    }
    .trail-details {
      top: 0;
      bottom: 0;
      left: 0;
      width: var(--details-width);
      border-right: 1px solid var(--ion-color-light);
    }
    .map-container {
      top: 0;
      left: var(--details-width);
      right: 0;
    }
    .graph-container {
      bottom: 0;
      left: calc(var(--details-width) + var(--bottom-sheet-tabs-width));
      right: 0;
      height: var(--bottom-sheet-large-height);
      background-color: var(--ion-color-light);
      transition: top 0.3s ease-in-out;
    }
  }

  &.small {
    .tabs-container {
      top: 0;
      left: 0;
      right: 0;
      height: var(--tabs-height);
    }

    &.tab-details {
      .map-container {
        display: none;
      }
      .bottom-sheet-container {
        display: none;
      }
      .graph-container {
        display: none;
      }
      .trail-details {
        top: var(--tabs-height);
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &.tab-photos, &.tab-reviews {
      .map-container {
        display: none;
      }
      .bottom-sheet-container {
        display: none;
      }
      .graph-container {
        display: none;
      }
      .trail-details {
        display: none;
      }
      .trail-photos-tab, .trail-reviews-tab {
        display: block;
        top: calc(var(--tabs-height) + 10px);
        left: 0;
        right: 0;
        bottom: 0;

        app-photos-popup {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
        }
      }
      .trail-reviews-tab {
        overflow-y: auto;
      }
    }

    &.tab-map {
      .trail-details {
        display: none;
      }
      .map-container {
        top: var(--tabs-height);
        left: 0;
        right: 0;
        transition: bottom 0.3s ease-in-out;
      }
      .bottom-sheet-info-content {
        position: absolute;
        bottom: 0;
        left: var(--bottom-sheet-tabs-width);
        right: 0;
        z-index: 501;

        height: 0;
        transition: height 0.3s ease-in-out;

        .metadata-container.tiles {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 100%;
          overflow-x: auto;
        }
      }
      .graph-container {
        left: var(--bottom-sheet-tabs-width);
        right: 0;
        height: var(--bottom-sheet-tab-content-height);
        transition: top 0.3s ease-in-out;
      }
      .bottom-sheet-container {
        left: 0;
      }


      &.bottom-sheet-open {
        &.bottom-sheet-info {
          .bottom-sheet-info-content {
            height: var(--bottom-sheet-tab-content-height);
          }
          .graph-container {
            display: none;
          }
        }
        &:not(.bottom-sheet-info) {
          .bottom-sheet-info-content {
            display: none;
          }
        }
      }
    }
  }
}

.trail-details {

  app-toolbar {
    display: block;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(var(--ion-text-color-rgb), 0.15);
  }

  .trail-tags-row {
    padding: 5px;

    &.editable {
      cursor: pointer;

      &:hover {
        background-color: rgba(var(--ion-text-color-rgb), 0.05);
      }
    }

    .tag {
      margin: 1px 0 1px 5px;
    }
  }

  .metadata-container {
    padding: 0 8px;

    &.one-column .metadata-item-container {
      margin: 3px 0;
    }

    .metadata-item-container.clickable {
      cursor: pointer;
      &:hover {
        background-color: rgba(var(--ion-color-secondary-rgb), 0.1);
      }
    }
  }

  div.show-original {
    padding: 6px 3px 0 8px;
  }
  div.show-breaks {
    padding: 6px 3px 0 8px;
  }

  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(140deg, rgba(var(--ion-color-tertiary-rgb), 1) 0%, rgba(var(--ion-color-tertiary-rgb), 1) 33%, rgba(var(--ion-color-tertiary-rgb), 0.66) 70%, rgba(var(--ion-color-tertiary-rgb), 0.01) 100%);
    color: var(--ion-background-color);
    padding: 6px 8px;
    margin-top: 8px;

    position: relative;
    margin-left: 6px;

    &:before {
      content: '';
      position: absolute;
      left: -5px;
      width: 3px;
      height: 100%;
      background-color: var(--ion-color-tertiary);
    }

    ion-icon {
      width: 24px;
      height: 24px;
    }
    div {
      font-size: 16px;
      font-weight: bold;
      margin-left: 5px;
    }
  }

  div.description-text {
    padding: 5px 8px;
    color: rgba(var(--ion-color-dark-rgb), 0.9);
    font-size: 11pt;
    line-height: 1.5em;

    h2 {
      font-size: 11pt;
      line-height: 1.5em;
      margin: 0;
    }

    div.edit-description {
      cursor: pointer;
      &:hover {
        background-color: var(--ion-color-light);
        color: var(--ion-color-dark);
      }
    }
  }
  ion-textarea.description-text {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    color: var(--ion-color-dark);

    ::ng-deep textarea {
      line-height: 1.5em;
    }
    ::ng-deep .native-wrapper::after {
      line-height: 1.5em;
    }
  }
}

.waypoint {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--ion-color-light);

  &.highlighted {
    background-color: rgba(var(--ion-text-color-rgb), 0.1);
  }

  .waypoint-anchor {
    flex: none;
    align-self: flex-start;
  }

  .waypoint-content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

    .waypoint-info-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .waypoint-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 3px;

        .waypoint-info-title {
          color: var(--ion-color-secondary);
          font-weight: bold;
          font-size: 12px;
        }
        .waypoint-info-value {
          font-size: 14px;
          &.small {
            font-size: 12px;
          }
        }
      }
    }

    .waypoint-name {
      font-size: 14px;
      color: var(--ion-color-tertiary);
    }
    .waypoint-description {
      color: var(--ion-color-medium);
      font-size: 13px;
    }
  }
}

.trail-photos {
  cursor: pointer;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    background-color: rgba(var(--ion-text-color-rgb), 0.05);
  }

  .cover {
    align-self: center;
    z-index: 1;

    ::ng-deep img {
      border: 2px solid rgba(var(--ion-color-secondary-rgb), 0.66);
      border-radius: 10px;
      padding: 2px;
    }
  }

  ion-button.edit {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}

div.trail-dates {
  font-size: 12px;
  padding: 0 8px;
  margin-top: 3px;

  span.trail-date-title {
    color: var(--ion-color-secondary);
  }
}

div.my-feedback {
  font-size: 12px;
  padding: 0 8px;
  margin-top: 3px;
  color: rgba(var(--ion-text-color-rgb), 0.75);
}

::ng-deep a, a:active {
  color: var(--ion-color-tertiary);
}

.external-link {
  padding: 2px 8px;
  font-size: 14px;
}

.comparison {
  margin-top: 5px;
}

.comparison-message {
  margin: 0 0 8px 0;
}

.bottom-sheet-remaining-separator {
  display: none;
}

.metadata-container.tiles {
  scrollbar-width: thin;

  .bottom-sheet-remaining-separator {
    display: block;
    width: 20px;
    height: var(--bottom-sheet-tab-content-height);
    border-left: 1px solid rgba(var(--ion-color-secondary-rgb), 0.5);
    position: relative;
    span {
      position: absolute;
      width: var(--bottom-sheet-tab-content-height);
      transform: rotate(-90deg) translateY(calc(-1 * var(--bottom-sheet-tab-content-height) / 2 + 12px)) translateX(-65px);
      text-align: center;
      color: var(--ion-color-secondary);
    }
  }
}

.no-photo, .no-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(var(--ion-color-medium-rgb), 0.75);
  font-size: 12px;
  font-style: italic;

  ion-icon {
    margin: 5px;
    font-size: 16px;
    color: var(--ion-color-secondary);
  }
}
.no-tag {
  margin-left: 5px;
}

div.moderation-messages {
  h3 {
    color: var(--ion-color-tertiary);
    font-size: 14px;
    margin: 5px 8px 5px 8px;
  }
  div {
    font-size: 12px;
    margin: 5px 8px 5px 8px;
  }
}

div.leave-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--ion-color-tertiary-rgb), 0.13);
  border: 1px solid rgba(var(--ion-color-tertiary-rgb), 0.5);
  border-radius: 5px;
  margin: 5px 8px 0 8px;
}

div.edit-tool-container {
  border: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);
}
