<div class="top-container {{displayMode}} tab-{{tab}} {{ bottomSheetOpen ? 'bottom-sheet-open bottom-sheet-' + bottomSheetTab : 'bottom-sheet-closed' }}">
  <div class="map-container">
    <app-map
      mapId="trail-{{trail1?.owner || recording?.trail?.owner}}-{{trail1?.uuid || recording?.trail?.uuid}}"
      [tracks$]="mapTracks$"
      (mouseOverPoint)="mouseOverPointOnMap($event)"
      (mouseClickPoint)="mouseClickOnMap($event)"
    ></app-map>
  </div>
  <div class="tabs-container">
    <ion-segment [value]="tab" color="secondary" (ionChange)="setTab($event.detail.value!.toString())">
      <ion-segment-button value="details" style="min-height: 36px;">{{i18n.texts.pages.trail.tabs.details}}</ion-segment-button>
      <ion-segment-button value="map" style="min-height: 36px;">{{i18n.texts.pages.trail.tabs.map}}</ion-segment-button>
    </ion-segment>
  </div>
  <div class="bottom-sheet-container" *ngIf="displayMode === 'small'">
    <div class="bottom-sheet-button" (click)="toggleBottomSheet()">
      <ion-icon [name]="bottomSheetOpen ? 'chevron-down' : 'chevron-up'"></ion-icon>
    </div>
    <div class="bottom-sheet-tabs">
      <div class="bottom-sheet-tab {{bottomSheetTab === 'info' ? 'tab-selected' : ''}}" (click)="setBottomSheetTab('info')">
        <ion-icon name="info"></ion-icon>
      </div>
      <div class="bottom-sheet-tab {{bottomSheetTab === 'elevation' ? 'tab-selected' : ''}}" (click)="setBottomSheetTab('elevation')">
        <ion-icon name="elevation"></ion-icon>
      </div>
    </div>
  </div>
  <ng-container *ngIf="tracks$ | async as tracks">
    <div class="trail-details" *ngIf="tracks[0]">
      <div class="metadata-container two-columns">
        <div class="metadata-item-container">
          <div class="metadata-item">
            <ion-icon name="date"></ion-icon>
            <div>{{ i18n.timestampToDateTimeString(tracks[0].metadata.startDate) }}</div>
          </div>
        </div>
        <div class="metadata-item-container empty">
          <div class="metadata-item">
          </div>
        </div>
        <app-track-metadata class="in-details" [track]="tracks[0]" [track2]="tracks[1]"></app-track-metadata>
      </div>
      <div class="actions">
        <app-icon-label-button icon="car" [label]="i18n.texts.pages.trail.actions.go_to_departure" [size]="28" [fontSize]="12" color="primary" (click)="goToDeparture()"></app-icon-label-button>
        <app-icon-label-button icon="download" [label]="i18n.texts.pages.trail.actions.download_map" [size]="28" [fontSize]="12" color="primary" (click)="downloadMap()"></app-icon-label-button>
        <ng-container *ngIf="recording">
          <app-icon-label-button [icon]="recording.paused ? 'play-circle' : 'pause-circle'" [label]="i18n.texts.trace_recorder[recording.paused ? 'resume' : 'pause']" [size]="28" [fontSize]="12" color="primary" (click)="togglePauseRecording()"></app-icon-label-button>
          <app-icon-label-button icon="stop-circle" [label]="i18n.texts.trace_recorder.stop" [size]="28" [fontSize]="12" color="primary" (click)="stopRecording()"></app-icon-label-button>
        </ng-container>
      </div>
      <ng-container *ngIf="trail1 && !trail2">
        <div class="section-title">
          <ion-icon name="text"></ion-icon>
          <div>{{ i18n.texts.pages.trail.sections.description.title }}</div>
        </div>
        <div class="description-text" *ngIf="!editable">
          {{ trail1.description }}
        </div>
        <ion-textarea class="description-text"
          [placeholder]="i18n.texts.pages.trail.sections.description.placeholder"
          [maxlength]="50000"
          [autoGrow]="true"
          [value]="trail1.description"
          (ionInput)="descriptionChanged($event.detail.value)"
        ></ion-textarea>
        <div class="section-title">
          <ion-icon name="waypoint"></ion-icon>
          <div>{{ i18n.texts.pages.trail.sections.waypoints.title }}</div>
        </div>
      </ng-container>
    </div>
    <div class="elevation-container">
      <app-elevation-graph [track1]="tracks[0]" [track2]="tracks[1]" (pointHover)="elevationGraphPointHover($event)"></app-elevation-graph>
    </div>
    <div class="bottom-sheet-info-content">
      <div class="metadata-container tiles">
        <app-track-metadata class="in-bottom-sheet" [track]="tracks[0]" [track2]="tracks[1]"></app-track-metadata>
      </div>
    </div>
  </ng-container>
</div>
