<div class="top-container {{displayMode}} tab-{{tab}} {{ bottomSheetOpen ? 'bottom-sheet-open bottom-sheet-' + bottomSheetTab : 'bottom-sheet-closed' }} {{editToolsComponent ? 'edit-tools-open' : ''}}">
  <div class="map-container">
    <div class="map-top-buttons" *ngIf="recording">
      <ion-button shape="round" size="small" *ngIf="recording.paused" (click)="togglePauseRecording(true)">
        <ion-icon slot="start" name="play-circle"></ion-icon>
        <span>{{i18n.texts.trace_recorder.resume}}</span>
      </ion-button>
      <ion-button shape="round" size="small" *ngIf="!recording.paused" (click)="togglePauseRecording(true)" color="medium">
        <ion-icon slot="start" name="pause-circle"></ion-icon>
        <span>{{i18n.texts.trace_recorder.pause}}</span>
      </ion-button>
      <ion-button shape="round" size="small" *ngIf="!recording.paused" (click)="stopRecording(true)" color="danger">
        <ion-icon slot="start" name="stop-circle"></ion-icon>
        <span>{{i18n.texts.trace_recorder.stop}}</span>
      </ion-button>
    </div>
    <app-map *ngIf="trail1 || recording"
      mapId="trail-{{trail1?.owner || recording?.trail?.owner}}-{{trail1?.uuid || recording?.trail?.uuid}}{{trail2 ? '-' + trail2.owner + '-' + trail2.uuid : ''}}"
      [tracks$]="mapTracks$"
      [autoFollowLocation]="true"
      (mouseOverPoint)="mouseOverPointOnMap($event)"
      (mouseClickPoint)="mouseClickOnMap($event)"
    ></app-map>
  </div>
  <div class="tabs-container">
    <ion-segment [value]="tab" color="secondary" (ionChange)="setTab($event.detail.value!.toString())">
      <ion-segment-button value="details" style="min-height: 36px;">{{i18n.texts.pages.trail.tabs.details}}</ion-segment-button>
      <ion-segment-button value="map" style="min-height: 36px;">{{i18n.texts.pages.trail.tabs.map}}</ion-segment-button>
    </ion-segment>
  </div>
  <div class="bottom-sheet-container">
    <div class="bottom-sheet-button" (click)="toggleBottomSheet()">
      <ion-icon [name]="bottomSheetOpen ? 'chevron-down' : 'chevron-up'"></ion-icon>
    </div>
    <div class="bottom-sheet-tabs">
      <div class="bottom-sheet-tab {{bottomSheetTab === 'info' ? 'tab-selected' : ''}}" (click)="setBottomSheetTab('info')">
        <ion-icon name="info"></ion-icon>
      </div>
      <div class="bottom-sheet-tab {{bottomSheetTab === 'elevation' ? 'tab-selected' : ''}}" (click)="setBottomSheetTab('elevation')">
        <ion-icon name="elevation"></ion-icon>
      </div>
    </div>
  </div>
  <div class="edit-tools-container">
    <ng-container *ngIf="editToolsComponent">
      <ng-container *ngComponentOutlet="editToolsComponent; inputs: editToolsInputs"></ng-container>
    </ng-container>
  </div>
  <ng-container *ngIf="tracks$ | async as tracks">
    <div class="trail-details" *ngIf="tracks[0]">
      <div class="trail-tags-row" *ngIf="tagsNames && trail1" (click)="trailMenuService.openTags([trail1], trail1.collectionUuid)">
        <span *ngIf="tagsNames.length === 0" class="no-tag">{{i18n.texts.pages.trail.no_tag_message}}</span>
        <div class="tag" *ngFor="let tag of tagsNames">{{tag}}</div>
      </div>
      <div class="metadata-container one-column with-title">
        <div class="metadata-item-container">
          <div class="metadata-item">
            <ion-icon name="date"></ion-icon>
            <div class="metadata-content">
              <div class="metadata-title">{{ i18n.texts.metadata.trail_date }}</div>
              <div class="metadata-value">
                <div class="metadata-primary">{{ i18n.timestampToDateTimeString(tracks[0].metadata.startDate) }}</div>
                <div class="metadata-secondary" *ngIf="tracks[1]">{{ i18n.timestampToDateTimeString(tracks[1].metadata.startDate) }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="metadata-item-container" [ngClass]="{'clickable': !trail2}" (click)="openLocationDialog()">
          <div class="metadata-item">
            <ion-icon name="location"></ion-icon>
            <div class="metadata-content">
              <div class="metadata-title">{{ i18n.texts.metadata.trail_location }}</div>
              <div class="metadata-value">
                <div class="metadata-primary">{{ trail1?.location ?? '' }}</div>
                <div class="metadata-secondary" *ngIf="trail2?.location">{{ trail2?.location ?? '' }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="metadata-container two-columns with-title">
        <app-track-metadata class="in-details" [track]="tracks[0]" [track2]="tracks[1]" [detailed]="true"></app-track-metadata>
        <div class="metadata-item">
          <ion-icon [name]="trailService.getLoopTypeIcon(trail1?.loopType)"></ion-icon>
          <div class="metadata-content">
            <div class="metadata-title">{{ i18n.texts.metadata.loop_type }}</div>
            <div class="metadata-value">
              <div class="metadata-primary" *ngIf="trail1?.loopType as lt">{{ i18n.texts.loopType[lt] }}</div>
              <div class="metadata-secondary" *ngIf="trail2?.loopType as lt">{{ i18n.texts.loopType[lt] }}</div>
            </div>
          </div>
        </div>
        <div class="metadata-item">
          <!-- Empty until another meta -->
        </div>
        <ng-container *ngTemplateOutlet="recordingMeta; context: {tracks: tracks}"></ng-container>
      </div>
      <div *ngIf="!trail2 && !recording" style="padding: 10px 3px 5px 3px">
        <ion-checkbox labelPlacement="end" [checked]="showBreaks$.value" (ionChange)="showBreaks$.next($event.detail.checked)">{{i18n.texts.pages.trail.show_breaks}}</ion-checkbox>
      </div>
      <div *ngIf="!editToolsComponent" style="padding: 5px 3px 10px 3px">
        <ion-checkbox labelPlacement="end" [checked]="showOriginal$.value" (ionChange)="showOriginal$.next($event.detail.checked)">{{i18n.texts.pages.trail.show_original}}</ion-checkbox>
      </div>
      <div class="actions">
        <app-icon-label-button icon="download" [label]="i18n.texts.pages.trail.actions.download_map" [size]="28" [fontSize]="11" color="primary" (click)="downloadMap()"></app-icon-label-button>
        <app-icon-label-button *ngIf="!trail2" icon="car" [label]="i18n.texts.pages.trail.actions.go_to_departure" [size]="28" [fontSize]="11" color="primary" (click)="goToDeparture()"></app-icon-label-button>
        <ng-container *ngIf="trail1 && !recording && !trail2">
          <app-icon-label-button icon="play-circle" [label]="i18n.texts.trace_recorder.start_this_trail" [size]="28" [fontSize]="11" color="primary" (click)="startTrail()"></app-icon-label-button>
        </ng-container>
        <ng-container *ngIf="recording">
          <app-icon-label-button [icon]="recording.paused ? 'play-circle' : 'pause-circle'" [label]="i18n.texts.trace_recorder[recording.paused ? 'resume' : 'pause']" [size]="28" [fontSize]="11" color="primary" (click)="togglePauseRecording()"></app-icon-label-button>
          <app-icon-label-button icon="stop-circle" [label]="i18n.texts.trace_recorder.stop" [size]="28" [fontSize]="11" color="primary" (click)="stopRecording()"></app-icon-label-button>
        </ng-container>
        <app-icon-label-button *ngIf="canEdit()" icon="tool" [label]="i18n.texts.pages.trail.actions.edit_tools" [size]="28" [fontSize]="11" color="primary" (click)="enableEditTools()"></app-icon-label-button>
      </div>
      <ng-container *ngIf="trail1 && !trail2">
        <div class="section-title">
          <ion-icon name="text"></ion-icon>
          <div>{{ i18n.texts.pages.trail.sections.description.title }}</div>
        </div>
        <div class="description-text" *ngIf="!editable">
          {{ trail1.description }}
        </div>
        <ion-textarea class="description-text"
          [placeholder]="i18n.texts.pages.trail.sections.description.placeholder"
          [maxlength]="50000"
          [autoGrow]="true"
          [value]="trail1.description"
          (ionInput)="descriptionChanged($event.detail.value)"
        ></ion-textarea>
        <ng-container *ngIf="wayPoints.length > 0">
          <div class="section-title">
            <ion-icon name="location"></ion-icon>
            <div>{{ i18n.texts.pages.trail.sections.waypoints.title }}</div>
          </div>
          <ng-container *ngFor="let wp of wayPoints">
            <ng-container *ngTemplateOutlet="waypointTemplate; context: {wp: wp, isArrival: wp.isArrival && !wp.isDeparture}"></ng-container>
          </ng-container>
          <ng-container *ngIf="getDepartureAndArrival(wayPoints) as arrival">
            <ng-container *ngTemplateOutlet="waypointTemplate; context: {wp: arrival, isArrival: true}"></ng-container>
          </ng-container>
          <ng-template #waypointTemplate let-wp="wp" let-arrival="isArrival">
            <div class="waypoint" (mouseover)="highlightWayPoint(wp, false)" (mouseenter)="highlightWayPoint(wp, false)" (mouseleave)="unhighlightWayPoint(wp, false)" (click)="toogleHighlightWayPoint(wp)" [ngClass]="{'highlighted': _highlightedWayPoint === wp}">
              <div class="waypoint-anchor">
                <img [src]="waypointImg(wp, arrival)" width="40" height="40">
              </div>
              <div class="waypoint-content">
                <div class="waypoint-info-section">
                  <div class="waypoint-info">
                    <div class="waypoint-info-title">{{i18n.texts.way_points.position}}</div>
                    <div class="waypoint-info-value small">{{i18n.coordToString(wp.wayPoint.point.pos.lat)}}<br/>{{i18n.coordToString(wp.wayPoint.point.pos.lng)}}</div>
                  </div>
                  <div class="waypoint-info">
                    <div class="waypoint-info-title">{{i18n.texts.way_points.altitude}}</div>
                    <div class="waypoint-info-value">{{wp.altitude !== undefined ? i18n.elevationToString(wp.altitude) : '?'}}</div>
                  </div>
                  <div class="waypoint-info" *ngIf="arrival || !wp.isDeparture">
                    <div class="waypoint-info-title">{{i18n.texts.way_points.distance}}</div>
                    <div class="waypoint-info-value">{{arrival && wp.isDeparture ? i18n.distanceToString(tracks[0].metadata.distance) : (wp.distanceFromDeparture !== undefined ? i18n.distanceToString(wp.distanceFromDeparture) : '?')}}</div>
                  </div>
                  <div class="waypoint-info" *ngIf="arrival || !wp.isDeparture">
                    <div class="waypoint-info-title">{{i18n.texts.way_points.time}}</div>
                    <div class="waypoint-info-value">{{arrival && wp.isDeparture ? i18n.durationToString(tracks[0].metadata.duration) : (wp.timeSinceDeparture !== undefined ? i18n.durationToString(wp.timeSinceDeparture) : '?')}}</div>
                  </div>
                  <div class="waypoint-info" *ngIf="wp.breakPoint">
                    <div class="waypoint-info-title">{{i18n.texts.way_points.duration}}</div>
                    <div class="waypoint-info-value">{{i18n.durationToString(wp.breakPoint.duration)}}</div>
                  </div>
                </div>
                <div class="waypoint-name" *ngIf="!wp.breakPoint">
                  <span *ngIf="!editToolsComponent">{{wp.wayPoint.name}}</span>
                  <ion-input *ngIf="editToolsComponent"
                    [label]="i18n.texts.way_points.name_placeholder"
                    labelPlacement="floating"
                    color="tertiary"
                    [maxlength]="100"
                    [value]="wp.wayPoint.name"
                    (ionChange)="wayPointNameChanged(wp.wayPoint, $event.detail.value || '')"
                  ></ion-input>
                </div>
                <div class="waypoint-description" *ngIf="!wp.breakPoint">
                  <span *ngIf="!editToolsComponent">{{wp.wayPoint.description}}</span>
                  <ion-textarea *ngIf="editToolsComponent"
                    [label]="i18n.texts.way_points.description_placeholder"
                    labelPlacement="floating"
                    color="medium"
                    [maxlength]="1000"
                    [autoGrow]="true"
                    [value]="wp.wayPoint.description"
                    (ionChange)="wayPointDescriptionChanged(wp.wayPoint, $event.detail.value || '')"
                  ></ion-textarea>
                </div>
              </div>
              <div class="waypoint-actions" *ngIf="editToolsComponent && !wp.isDeparture && !wp.isArrival">
                <ion-button color="danger" fill="clear" size="small" (click)="removeWayPoint(wp)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
    <div class="elevation-container">
      <app-elevation-graph
        [track1]="pathSelection.zoomOnSelection ? pathSelection.selection[0] : tracks[0]"
        [track2]="pathSelection.zoomOnSelection ? pathSelection.selection[1] : tracks[1] !== previousFocus ? tracks[1] : undefined"
        (pointHover)="elevationGraphPointHover($event)"
        [selectable]="!pathSelection.zoomOnSelection"
        (selecting)="pathSelection.elevationGraphSelecting($event)"
        (selected)="pathSelection.elevationGraphSelected($event)"
      ></app-elevation-graph>
      <ion-button class="zoom-button" *ngIf="pathSelection.selection.length > 0" (click)="pathSelection.toggleZoom()">
        <ion-icon [name]="pathSelection.zoomOnSelection ? 'zoom-out' : 'zoom-in'" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
    <div class="bottom-sheet-info-content">
      <div class="metadata-container tiles">
        <app-track-metadata class="in-bottom-sheet" [track]="tracks[0]" [track2]="tracks[1]" [detailed]="true"></app-track-metadata>
        <ng-container *ngTemplateOutlet="recordingMeta; context: {tracks: tracks}"></ng-container>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #recordingMeta let-tracks="tracks">
  <ng-container *ngIf="recording?.rawTrack?.arrivalPoint as currentPoint">
    <div class="metadata-item-container">
      <div class="metadata-item">
        <ion-icon name="center-on-location"></ion-icon>
        <div class="metadata-content">
          <div class="metadata-title">{{ i18n.texts.metadata.current_position }}</div>
          <div class="metadata-value">
            <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">{{i18n.coordToString(currentPoint.pos.lat)}}</div>
            <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">{{i18n.coordToString(currentPoint.pos.lng)}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="metadata-item-container">
      <div class="metadata-item">
        <ion-icon name="altitude"></ion-icon>
        <div class="metadata-content">
          <div class="metadata-title">{{ i18n.texts.metadata.current_altitude }}</div>
          <div class="metadata-value">
            <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">
              {{currentPoint.ele !== undefined ? i18n.elevationToString(currentPoint.ele) : '?'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
