<div class="top-container {{displayMode}} tab-{{tab}} {{ bottomSheetOpen ? 'bottom-sheet-open bottom-sheet-' + bottomSheetTab : 'bottom-sheet-closed' }}">
  @if (tracks$ | async; as tracks) {
    @if (!isSmall || tab === 'details') {
      <div class="trail-details">
        @if (trail1) {
          @if (!trail2 || trail1.fromModeration) {
            <app-toolbar #toolbar
              [items]="toolbarItems"
              [iconSize]="28"
              textSize="11px"
              itemPaddingTop="5px"
              itemPaddingBottom="5px"
              itemPaddingRight="5px"
              itemPaddingLeft="5px"
              [noScroll]="true"
            ></app-toolbar>
          }
          @if (trail2) {
            <div class="metadata-container one-column with-title comparison">

              @if (trail1CollectionName && trail2CollectionName) {
                <div class="metadata-item-container">
                  <div class="metadata-item">
                    <ion-icon name="collection"></ion-icon>
                    <div class="metadata-content">
                      <div class="metadata-title">{{i18n.texts.metadata.collection}}</div>
                      <div class="metadata-value">
                        <div class="metadata-primary">{{ trail1CollectionName }}</div>
                        <div class="metadata-secondary">{{ trail2CollectionName }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              }

              <div class="metadata-item-container">
                <div class="metadata-item">
                  <ion-icon name="edit-text"></ion-icon>
                  <div class="metadata-content">
                    <div class="metadata-title">{{i18n.texts.metadata.title}}</div>
                    <div class="metadata-value">
                      <div class="metadata-primary">{{ trail1.name }}</div>
                      <div class="metadata-secondary">{{ trail2.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-item-container longtext">
                <div class="metadata-item">
                  <ion-icon name="text"></ion-icon>
                  <div class="metadata-content">
                    <div class="metadata-title">{{i18n.texts.metadata.description}}</div>
                    <div class="metadata-value">
                      <div class="metadata-primary"><app-text [text]="trail1.description"></app-text></div>
                      <div class="metadata-secondary"><app-text [text]="trail2.description"></app-text></div>
                    </div>
                  </div>
                </div>
              </div>

              @if (!isPublication && trail1Collection && (tagsNames1 !== undefined || tagsNames2 !== undefined)) {
                <div class="metadata-item-container">
                  <div class="metadata-item">
                    <ion-icon name="tags"></ion-icon>
                    <div class="metadata-content">
                      <div class="metadata-title">{{i18n.texts.metadata.tags}}</div>
                      <div class="metadata-value">
                        <div class="metadata-primary">
                          @if (tagsNames1) {
                            <div class="trail-tags-row">
                              @if (tagsNames1.length === 0) {
                                <span class="no-tag">{{i18n.texts.pages.trail.no_tag_message}}</span>
                              } @else {
                                @for (tag of tagsNames1; track tag) {
                                  <div class="tag">{{tag}}</div>
                                }
                              }
                            </div>
                          }
                        </div>
                        <div class="metadata-secondary">
                          @if (tagsNames2) {
                            <div class="trail-tags-row">
                              @if (tagsNames2.length === 0) {
                                <span class="no-tag">{{i18n.texts.pages.trail.no_tag_message}}</span>
                              } @else {
                                @for (tag of tagsNames2; track tag) {
                                  <div class="tag">{{tag}}</div>
                                }
                              }
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }

          @if (comparison !== undefined) {
            <div class="metadata-container one-column comparison-message">
              <div class="metadata-item-container">
                <div class="metadata-item">
                  <ion-icon name="compare"></ion-icon>
                  <div class="metadata-content">
                    <div class="metadata-value">
                      <div class="metadata-primary">{{ 'pages.trail.comparison_message' | i18nString:comparison }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }

          @if (trail1.fromModeration) {
            <div class="moderation-messages">
              @if (trail1.publicationMessageFromModerator) {
                <h3>{{ i18n.texts.publications.moderation.previous_moderator_message }}</h3>
                <div class="moderator-message">{{ trail1.publicationMessageFromModerator }}</div>
              }
              @if (trail1.publicationMessageFromAuthor) {
                <h3>{{ i18n.texts.publications.moderation.message_from_author }}</h3>
                <div class="author-message">{{ trail1.publicationMessageFromAuthor }}</div>
              }
            </div>
          } @else if (trail1.publicationMessageFromModerator && (trail1Collection?.type === 'PUB_REJECT' || trail1Collection?.type === 'PUB_DRAFT')) {
            <div class="moderation-messages">
              <h3>{{ i18n.texts.publications.moderation.moderator_message }}</h3>
              <div class="moderator-message">{{ trail1.publicationMessageFromModerator }}</div>
            </div>
          }

          @if (photos !== undefined && !isSmall && (editable || photos.length !== 0)) {
            <div class="trail-photos" (click)="openSlider()">
              @if (photos.length === 0) {
                <div class="no-photo">
                  <ion-icon name="photos" color="secondary"></ion-icon>
                  <span>{{i18n.texts.pages.trail.no_photo_message}}</span>
                </div>
              } @else {
                <div class="cover">
                  <app-photo [photo]="photos[0]" [maxWidth]="300" [maxHeight]="200"></app-photo>
                </div>
                @if (editable) {
                  <ion-button class="edit" fill="solid" shape="round" color="secondary" (click)="openPhotos(); $event.stopPropagation();">
                    <ion-icon name="edit" slot="icon-only"></ion-icon>
                  </ion-button>
                }
              }
            </div>
          }

          @if (tagsNames1 && !trail2 && trail1Collection && !isPublication) {
            <div class="trail-tags-row editable" (click)="openTags(trail1)">
              <ion-icon name="tags" color="secondary"></ion-icon>
              @if (tagsNames1.length === 0) {
                <span class="no-tag"><span>{{i18n.texts.pages.trail.no_tag_message}}</span></span>
              } @else {
                @for (tag of tagsNames1; track tag) {
                  <div class="tag">{{tag}}</div>
                }
              }
            </div>
          }

          @if (!trail2) {
            @if (trail1.description || editable) {
              <div class="description-text">
                @if (!editable) {
                  <h2>
                    <app-text [text]="trail1.description" [lang]="source?.info?.lang" [translations]="source?.info?.descriptionTranslations"></app-text>
                  </h2>
                } @else {
                  @if (!editingDescription) {
                    <div class="edit-description" (click)="startEditDescription()">
                      <app-text [text]="trail1.description" [placeholder]="i18n.texts.pages.trail.sections.description.placeholder"></app-text>
                    </div>
                  } @else {
                    <ion-textarea class="description-text"
                      #descriptionEditor
                      [placeholder]="i18n.texts.pages.trail.sections.description.placeholder"
                      [maxlength]="50000"
                      [autoGrow]="true"
                      [value]="trail1.description"
                      (ionChange)="endEditDescription($event.detail.value)"
                      (ionBlur)="endEditDescription(undefined)"
                      color="tertiary"
                    ></ion-textarea>
                  }
                }
                @if (trail1.fromModeration && tracks.length > 0) {
                  <app-moderation-translations [trail]="trail1" [track]="tracks[0]" [translations]="translations" (translationsUpdated)="translationsChanged()" (wayPointsUpdated)="wayPointsTranslationsChanged()"></app-moderation-translations>
                }
              </div>
            }
          }
        }

        @if (!tracks[0]) {
          <ion-spinner name="dots"></ion-spinner>
        } @else {
          @if (trail1) {
            <div class="metadata-container one-column with-title">
              <div class="metadata-item-container" [ngClass]="{'clickable': !trail2 && editable}" (click)="openDateDialog()">
                <div class="metadata-item">
                  <ion-icon name="date"></ion-icon>
                  <div class="metadata-content">
                    <div class="metadata-title">{{ i18n.texts.metadata.trail_date }}</div>
                    <div class="metadata-value">
                      <div class="metadata-primary">{{ i18n.timestampToDateTimeString(trail1.date ?? tracks[0].metadata.startDate) }}</div>
                      @if (tracks[1]) {
                        <div class="metadata-secondary">{{ i18n.timestampToDateTimeString(trail2?.date ?? tracks[1].metadata.startDate) }}</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <div class="metadata-item-container" [ngClass]="{'clickable': !trail2 && editable}" (click)="openLocationDialog()">
                <div class="metadata-item">
                  <ion-icon name="location"></ion-icon>
                  <div class="metadata-content">
                    <div class="metadata-title">{{ i18n.texts.metadata.trail_location }}</div>
                    <div class="metadata-value">
                      <div class="metadata-primary">{{ trail1.location }}</div>
                      @if (trail2?.location) {
                        <div class="metadata-secondary">{{ trail2?.location ?? '' }}</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
          <div class="metadata-container two-columns with-title">
            <app-track-metadata class="in-details" [track]="tracks[0]" [track2]="tracks[1]" [config]="metadataConfig"></app-track-metadata>
            @if (trail1) {
              <div class="metadata-item-container">
                <div class="metadata-item">
                  <ion-icon [name]="trailService.getLoopTypeIcon(trail1.loopType)"></ion-icon>
                  <div class="metadata-content">
                    <div class="metadata-title">{{ i18n.texts.metadata.loop_type }}</div>
                    <div class="metadata-value">
                      @if (trail1.loopType; as lt) {<div class="metadata-primary">{{ i18n.texts.loopType[lt] }}</div>}
                      @if (trail2?.loopType; as lt) {<div class="metadata-secondary">{{ i18n.texts.loopType[lt] }}</div>}
                    </div>
                  </div>
                </div>
              </div>
            }
            @if (trail1 || recording) {
              <div class="metadata-item-container" [ngClass]="{'clickable': (!trail2 && editable && !recording) || (!trail1 && recording)}" (click)="openActivityDialog()">
                <div class="metadata-item">
                  <ion-icon [name]="trailService.getActivityIcon(trail1?.activity || trail2?.activity || recording?.trail?.activity)"></ion-icon>
                  <div class="metadata-content">
                    <div class="metadata-title">{{ i18n.texts.metadata.activity }}</div>
                    <div class="metadata-value">
                      @if (recording && !trail1) {
                        @if (recording.trail.activity; as act) {
                          <div class="metadata-primary">{{ i18n.texts.activity[act] }}</div>
                        }
                      } @else {
                        @if (trail1?.activity; as act) {
                          <div class="metadata-primary">{{ i18n.texts.activity[act] }}</div>
                        }
                        @if (trail2?.activity; as act) {
                          <div class="metadata-secondary">{{ i18n.texts.activity[act] }}</div>
                        } @else if (recording?.trail?.activity; as act) {
                          <div class="metadata-secondary">{{ i18n.texts.activity[act] }}</div>
                        }
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
          <div class="metadata-container two-columns with-title">
            <ng-container *ngTemplateOutlet="recordingMeta; context: {tracks: tracks}"></ng-container>
          </div>
          @if (trail1 && !trail2) {
            <div class="trail-dates">
              @if (!source?.isExternalOnly) {
                <div>
                  <span class="trail-date-title">{{i18n.texts.pages.trail.created_in_trailence_on}} </span>
                  <span class="trail-date-value">{{i18n.timestampToDateTimeString(trail1.createdAt)}}</span>
                </div>
                @if (trail1.createdAt !== trail1.updatedAt) {
                  <div>
                    <span class="trail-date-title">{{i18n.texts.pages.trail.last_update_on}} </span>
                    <span class="trail-date-value">{{i18n.timestampToDateTimeString(trail1.updatedAt)}}</span>
                  </div>
                }
              }
              @if (source?.sourceString; as source) {
                <span class="trail-date-title">
                  @for (element of i18n.textToHtml(source); track $index) {
                    @if (typeof element === 'string') {
                      <span>{{ element }}</span>
                    } @else if (element.link.startsWith('/')) {
                      <a [routerLink]="element.link">{{ element.text }}</a>
                    } @else if (element.link) {
                      <a target="_blank" [href]="element.link">{{ element.text }}</a>
                    }
                  }
                </span>
              }
              @if (source?.isExternalOnly && trail1.owner === 'trailence') {
                <div>
                  <span class="trail-date-title">{{i18n.texts.pages.trail.published_on}} </span>
                  <span class="trail-date-value">{{i18n.timestampToDateString(trail1.createdAt)}}</span>
                  @if (source?.author) {
                    <span class="trail-date-title"> {{i18n.texts.pages.trail.published_by}} </span>
                    <span class="trail-date-value">{{source?.author}}</span>
                  }
                </div>
              }
            </div>
          }
          @if (source?.externalUrl; as url) {
            <div class="external-link">
              @if (source?.externalAppName === 'Trailence') {
                <a [routerLink]="url">{{i18n.texts.pages.trail.open_in_trailence}}</a>
              } @else if(source?.externalAppName) {
                <a href="{{url}}" target="_blank">{{i18n.texts.pages.trail.open_in_app}} {{source!.externalAppName}}</a>
              } @else {
                <span>{{ i18n.texts.pages.trail.source.source_url }}</span>&nbsp;<a href="{{url}}" target="_blank">{{ url }}</a>
              }
            </div>
          }

          @if (!toolsEnabled && (trail1?.originalTrackUuid !== trail1?.currentTrackUuid || trail2?.originalTrackUuid !== trail2?.currentTrackUuid)) {
            <div class="show-original">
              <ion-checkbox labelPlacement="end" [checked]="showOriginal$.value" (ionChange)="showOriginal$.next($event.detail.checked)">
                <span>{{i18n.texts.pages.trail.show_original}}</span>
                <ion-icon name="help-circle" [appTooltip]="i18n.texts.help.contextual.original_trace" style="width: 20px; height: 20px; margin-left: 8px; margin-bottom: -4px"></ion-icon>
              </ion-checkbox>
            </div>
          }
        }

        @if ((myFeedback$ | async); as myFeedback) {
          @if (myFeedback.rateDate !== undefined) {
            @if (myFeedback.latestCommentDate !== undefined) {
              @if (i18n.timestampToDateString(myFeedback.latestCommentDate) === i18n.timestampToDateString(myFeedback.rateDate)) {
                <div class="my-feedback">
                  🙏 {{ 'pages.trail.my_feedback.you_leave_a_rate_and_a_comment_same_date' | i18nString:myFeedback.rate:i18n.timestampToDateString(myFeedback.rateDate) }}
                </div>
              } @else {
                <div class="my-feedback">
                  🙏 {{ 'pages.trail.my_feedback.you_leave_a_rate_and_a_comment_different_date' | i18nString:myFeedback.rate:i18n.timestampToDateString(myFeedback.rateDate):i18n.timestampToDateString(myFeedback.latestCommentDate) }}
                </div>
              }
            } @else {
              <div class="my-feedback">
                🙏 {{ 'pages.trail.my_feedback.you_leave_a_rate' | i18nString:myFeedback.rate:i18n.timestampToDateString(myFeedback.rateDate) }}
              </div>
            }
          } @else {
            @if (myFeedback.latestCommentDate !== undefined) {
              <div class="my-feedback">
                {{ 'pages.trail.my_feedback.you_leave_a_comment' | i18nString:myFeedback.rate:i18n.timestampToDateString(myFeedback.latestCommentDate) }}
              </div>
            }
            @if (source && !source.followedInfo?.itsMine) {
              <div class="leave-feedback">
                <div>{{ i18n.texts.pages.trail.my_feedback.invite_to_rate_title }}</div>
                <ion-button shape="round" size="small" (click)="rateThisTrail()">
                  {{ i18n.texts.pages.trail.my_feedback.invite_to_rate_button }}
                </ion-button>
              </div>
            }
          }
        }

        @if (!isSmall) {
          <div class="section-title">
            <ion-icon name="location"></ion-icon>
            <div>{{ i18n.texts.pages.trail.sections.waypoints.title }}</div>
          </div>
          <app-trail-waypoints
            [trails]="trailsWaypoints"
            [lang]="source?.info?.lang"
            [editTools]="editTools"
            (highlightWaypoint)="highlightWayPoint($event.wp, $event.click)"
            (unhighlightWaypoint)="unhighlightWayPoint($event.wp, $event.force)"
          ></app-trail-waypoints>

          @if (trail1 && !trail2 && source?.isExternalOnly && (trail1.owner === 'trailence' || source?.info !== undefined)) {
            <div class="section-title">
              <ion-icon name="chat-bubbles"></ion-icon>
              <div>{{ i18n.texts.pages.trail.sections.comments.title }}</div>
            </div>
            <app-rate-and-comments [trail]="trail1!"></app-rate-and-comments>
          }
        }
      </div>
    }
    <div class="graph-container">
      <app-trail-graph
        #graph
        [track1]="graphTrack1 || tracks[0]"
        [track2]="graphTrack2"
        (pointHover)="elevationGraphPointHover($event)"
        [selectable]="!selection.zoom$.value"
        [selection]="selection.selection$.value"
        [graphType]="bottomSheetTab === 'speed' ? 'speed' : 'elevation'"
        (zoomButtonPosition)="setZoomButtonPosition($event)"
      ></app-trail-graph>
      @if (graphZoomButtonPosition.value !== undefined) {
        <ion-button
          class="zoom-button"
          [ngStyle]="{'top': graphZoomButtonPosition.value.y + 'px', 'left': graphZoomButtonPosition.value.x + 'px'}"
          shape="round"
          size="small"
          (click)="selection.toggleZoom()"
        >
          <ion-icon [name]="selection.zoom$.value ? 'zoom-out' : 'zoom-in'" slot="icon-only"></ion-icon>
        </ion-button>
      }
    </div>
    @if (tracks[0] && isSmall && bottomSheetTab === 'info' && tab === 'map') {
      <div class="bottom-sheet-info-content">
        <div class="metadata-container tiles with-title">
          <app-track-metadata class="in-bottom-sheet" [track]="tracks[0]" [track2]="tracks[1]" [config]="metadataConfig"></app-track-metadata>
          <ng-container *ngTemplateOutlet="recordingMeta; context: {tracks: tracks}"></ng-container>
        </div>
      </div>
    }
  }
  <div class="tabs-container">
    @if (isSmall) {
      <ion-segment [value]="tab" color="secondary" (ionChange)="setTab($event.detail.value!.toString())">
        <ion-segment-button value="details">
          <div>
            <ion-icon name="info"></ion-icon>
            <div class="text">{{i18n.texts.pages.trail.tabs.details}}</div>
          </div>
        </ion-segment-button>
        <ion-segment-button value="map">
          <div>
            <ion-icon name="map"></ion-icon>
            <div class="text">{{i18n.texts.pages.trail.tabs.map}}</div>
          </div>
        </ion-segment-button>
        <ion-segment-button value="photos">
          <div>
            <ion-icon name="photos"></ion-icon>
            <div class="text">{{i18n.texts.pages.trail.tabs.photos}}</div>
          </div>
        </ion-segment-button>
        <ion-segment-button value="waypoints">
          <div>
            <ion-icon name="location"></ion-icon>
            <div class="text">{{i18n.texts.pages.trail.tabs.waypoints}}</div>
          </div>
        </ion-segment-button>
        @if (!trail2 && trail1 && source?.isExternalOnly && (trail1.owner === 'trailence' || source?.info !== undefined)) {
          <ion-segment-button value="reviews">
            <div>
              <ion-icon name="chat-bubbles"></ion-icon>
              <div class="text">{{i18n.texts.pages.trail.tabs.comments}}</div>
            </div>
          </ion-segment-button>
        }
      </ion-segment>
    }
  </div>
  <div class="map-container">
    @if (trail1 || recording) {
      <app-map
        #map
        mapId="trail-{{trail1?.owner || recording?.trail?.owner}}-{{trail1?.uuid || recording?.trail?.uuid}}{{trail2 ? '-' + trail2.owner + '-' + trail2.uuid : ''}}"
        [tracks$]="mapTracks$"
        [autoFollowLocation]="true"
        [enableShowRestrictedWays]="true"
        [downloadMapTrail]="trail1 && !trail2 ? trail1 : undefined"
        (mouseOverPoint)="mouseOverPointOnMap($event)"
        (mouseClickPoint)="mouseClickOnMap($event)"
        [rightTools]="mapToolbarRightItems"
      >
        <div class="map-top-controls right">
          @if (!toolsEnabled && !positionningOnMap$.value) {
            <app-toolbar #mapToolbarTopRight
              [items]="mapToolbarTopRightItems"
              textSize="9px"
              [itemMinWidth]="isSmall ? 35 : 40"
              [itemMaxWidth]="isSmall ? 45 : 50"
              itemSpace="2px"
              itemPaddingTop="1px"
              itemPaddingBottom="1px"
              itemPaddingLeft="4px"
              itemPaddingRight="4px"
              separatorSpace="4px"
              [maxItems]="mapToolbarTopRightMaxItems"
            ></app-toolbar>
          }
        </div>
        <div class="map-top-controls center">
          @if (trail1 && !trail2) {
            @if (toolsEnabled && !recording) {
              <app-track-edit-tools #editTools
                [trail]="trail1"
                [selection]="selection"
                [originalTrack$]="toolsOriginalTrack$"
                [baseTrack$]="toolsBaseTrack$"
                [modifiedTrack$]="toolsModifiedTrack$"
                [hideBaseTrack$]="toolsHideBaseTrack$"
                [map$]="map$"
                (toolsStackChange)="setToolsStack($event)"
                (closed)="disableEditTools()"
              ></app-track-edit-tools>
            } @else if (positionningOnMap$.value) {
              <app-toolbar
                [items]="mapToolbarPositionningPhotoItems"
                textSize="9px"
                [itemMinWidth]="40"
                [itemMaxWidth]="50"
                itemSpace="2px"
                itemPaddingTop="1px"
                itemPaddingBottom="1px"
                itemPaddingLeft="4px"
                itemPaddingRight="4px"
                separatorSpace="4px"
              ></app-toolbar>
            }
          }
        </div>
        <div class="map-bottom-right-tools">
          @if (trail1 && !trail2 && toolsEnabled && !recording && toolsStack) {
            @for (tool of toolsStack.components; track tool) {
              <div class="edit-tool-container">
                <ng-container *ngComponentOutlet="tool.component; inputs: { context: toolsStack.context, onCreated: toolCreated(tool), small: isSmall }"></ng-container>
              </div>
            }
          }
        </div>
      </app-map>
    }
  </div>
  @if (!isSmall || tab === 'map') {
    <div class="bottom-sheet-container">
      <div class="bottom-sheet-button" (click)="toggleBottomSheet()">
        <ion-icon [name]="bottomSheetOpen ? 'chevron-down' : 'chevron-up'"></ion-icon>
      </div>
      @if (bottomSheetOpen) {
        <div class="bottom-sheet-tabs">
          @if (isSmall) {
            <div class="bottom-sheet-tab {{bottomSheetTab === 'info' ? 'tab-selected' : ''}}" (click)="setBottomSheetTab('info')">
              <ion-icon name="info"></ion-icon>
            </div>
          }
          <div class="bottom-sheet-tab {{bottomSheetTab === 'elevation' ? 'tab-selected' : ''}}" (click)="setBottomSheetTab('elevation')">
            <ion-icon name="elevation"></ion-icon>
          </div>
          <div class="bottom-sheet-tab {{bottomSheetTab === 'speed' ? 'tab-selected' : ''}}" (click)="setBottomSheetTab('speed')">
            <ion-icon name="speed"></ion-icon>
          </div>
        </div>
      }
    </div>
  }
  @if (isSmall) {
    @switch (tab) {
      @case ('photos') {
        @if (photos !== undefined) {
          <div class="trail-photos-tab">
            <app-photos-popup [trails$]="trailsForPhotoPopup" [popup]="false" (positionOnMapRequested)="positionPhotoOnMap($event)"></app-photos-popup>
          </div>
        }
      }
      @case ('waypoints') {
        <div class="trail-waypoints-tab">
          <app-trail-waypoints
            [trails]="trailsWaypoints"
            [lang]="source?.info?.lang"
            [editTools]="editTools"
            (highlightWaypoint)="highlightWayPoint($event.wp, $event.click)"
            (unhighlightWaypoint)="unhighlightWayPoint($event.wp, $event.force)"
          ></app-trail-waypoints>
        </div>
      }
      @case ('reviews') {
        <div class="trail-reviews-tab">
          <app-rate-and-comments [trail]="trail1!"></app-rate-and-comments>
        </div>
      }
    }
  }
</div>

<ng-template #recordingMeta let-tracks="tracks">
  @if (recording?.rawTrack?.arrivalPoint; as currentPoint) {
    <div class="metadata-item-container">
      <div class="metadata-item">
        <ion-icon name="center-on-location"></ion-icon>
        <div class="metadata-content">
          <div class="metadata-title">{{ i18n.texts.metadata.current_position }}</div>
          <div class="metadata-value">
            <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">{{i18n.coordToString(currentPoint.pos.lat)}}</div>
            <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">{{i18n.coordToString(currentPoint.pos.lng)}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="metadata-item-container">
      <div class="metadata-item">
        <ion-icon name="altitude"></ion-icon>
        <div class="metadata-content">
          <div class="metadata-title">{{ i18n.texts.metadata.current_altitude }}</div>
          <div class="metadata-value">
            <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">
              {{currentPoint.ele !== undefined ? i18n.elevationToString(currentPoint.ele) : '?'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (remaining) {
      <div class="bottom-sheet-remaining-separator"><span>{{ i18n.texts.pages.trail.remaining_metadata_title }}</span></div>
      <div class="metadata-item-container">
        <div class="metadata-item">
          <ion-icon name="chrono"></ion-icon>
          <div class="metadata-content">
            <div class="metadata-title">{{ i18n.texts.metadata.remaining_time }}</div>
            <div class="metadata-value">
              <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">
                ≈ {{i18n.durationToString(remaining.estimatedTime)}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="metadata-item-container">
        <div class="metadata-item">
          <ion-icon name="distance"></ion-icon>
          <div class="metadata-content">
            <div class="metadata-title">{{ i18n.texts.metadata.remaining_distance }}</div>
            <div class="metadata-value">
              <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">≈ {{i18n.distanceToString(remaining.distance)}}</div>
            </div>
          </div>
        </div>
      </div>
      @if (remaining.ascent !== undefined) {
        <div class="metadata-item-container">
          <div class="metadata-item">
            <ion-icon name="positive-elevation"></ion-icon>
            <div class="metadata-content">
              <div class="metadata-title">{{ i18n.texts.metadata.remaining_ascent }}</div>
              <div class="metadata-value">
                <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">≈ + {{i18n.elevationToString(remaining.ascent)}}</div>
              </div>
            </div>
          </div>
        </div>
      }
      @if (remaining.descent !== undefined) {
        <div class="metadata-item-container">
          <div class="metadata-item">
            <ion-icon name="negative-elevation"></ion-icon>
            <div class="metadata-content">
              <div class="metadata-title">{{ i18n.texts.metadata.remaining_descent }}</div>
              <div class="metadata-value">
                <div [className]="tracks[1] ? 'metadata-secondary' : 'metadata-primary'">≈ - {{i18n.elevationToString(remaining.descent)}}</div>
              </div>
            </div>
          </div>
        </div>
      }
    }
  }
</ng-template>
