<div class="header">
  <app-header title="{{ 'administration' | i18nString }}"></app-header>
  @if (ready) {
    <ion-segment [value]="getCurrentPage()" color="tertiary" (ionChange)="goToPage($event.detail.value)">
      <ion-segment-button value="users">{{ 'admin.users.title' | i18nString }}</ion-segment-button>
      <ion-segment-button value="plans">{{ 'admin.plans.title' | i18nString }}</ion-segment-button>
      <ion-segment-button value="donations">{{ 'admin.donations.title' | i18nString }}</ion-segment-button>
      <ion-segment-button value="messages">{{ 'admin.messages.title' | i18nString }} @if (unreadMessagesCount) {<span>({{unreadMessagesCount}})</span>}</ion-segment-button>
    </ion-segment>
  }
</div>
@if (ready) {
  <ion-router-outlet></ion-router-outlet>
}
