<ion-button color="secondary" shape="round" fill="solid" id="header-user-button-{{id}}" class="user-button">
  <div slot="icon-only" style="pointer-events: none;">{{userLetter}}</div>
</ion-button>
<div class="status"><ion-icon [name]="status"></ion-icon></div>

<ion-popover #accountPopover trigger="header-user-button-{{id}}" triggerAction="click">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item id="item-user">
          {{ auth.email }}
        </ion-item>
        <ion-item button [detail]="true" id="item-synchro" [disabled]="status !== 'online'">
          <ion-icon slot="start" name="sync"></ion-icon>
          <div class="synchro">
            @switch(status) {
              @case('offline') {
                <div>{{i18n.texts.synchro.offline}}</div>
              }
              @case('sync') {
                <div>{{i18n.texts.synchro.in_progress}}</div>
              }
              @case('online') {
                <div class="title">{{i18n.texts.synchro.last_sync}}</div>
                <div class="value">{{lastSync ? i18n.timestampToTimeString(lastSync) : i18n.texts.synchro.not_yet}}</div>
                <div class="title">{{i18n.texts.synchro.local_changes}}</div>
                <div *ngIf="hasLocalChanges" class="value invalid">{{i18n.texts.synchro.yes}}</div>
                <div *ngIf="!hasLocalChanges" class="value valid">{{i18n.texts.synchro.no}}</div>
              }
            }
          </div>
        </ion-item>
        <ion-item button id="item-language" [detail]="true">
          <ion-icon slot="start" name="i18n"></ion-icon>
          <ion-label>{{i18n.texts.pages.preferences.language}}</ion-label>
        </ion-item>
        <ion-item button id="item-theme" [detail]="true">
          <ion-icon slot="start" name="theme"></ion-icon>
          <ion-label>{{i18n.texts.pages.preferences.theme}}</ion-label>
        </ion-item>
        <ion-item button (click)="router.navigateByUrl('/preferences'); accountPopover.dismiss();">
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>{{i18n.texts.pages.preferences.title}}</ion-label>
        </ion-item>
        <ion-item button (click)="router.navigateByUrl('/myaccount'); accountPopover.dismiss();">
          <ion-icon slot="start" name="account"></ion-icon>
          <ion-label>{{i18n.texts.pages.myaccount.title}}</ion-label>
        </ion-item>
        <ion-item button (click)="logout(); accountPopover.dismiss();">
          <ion-icon slot="start" name="logout"></ion-icon>
          <ion-label>{{i18n.texts.logout.title}}</ion-label>
        </ion-item>

        <ion-popover trigger="item-synchro" [dismissOnSelect]="true" side="start">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item button (click)="syncNow()">
                  <ion-label>{{i18n.texts.synchro.sync_now}}</ion-label>
                </ion-item>
                <ion-item button (click)="resetAll()">
                  <ion-label>{{i18n.texts.synchro.reset_all}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

        <ion-popover trigger="item-language" [dismissOnSelect]="true" side="start">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item button (click)="preferences.setLanguage('en')">
                  <ion-label>English</ion-label>
                </ion-item>
                <ion-item button (click)="preferences.setLanguage('fr')">
                  <ion-label>Français</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>

        <ion-popover trigger="item-theme" [dismissOnSelect]="true" side="start">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item button (click)="preferences.setTheme('LIGHT')">
                  <ion-icon slot="start" name="theme-light"></ion-icon>
                  <ion-label>{{i18n.texts.pages.preferences.themes.light}}</ion-label>
                </ion-item>
                <ion-item button (click)="preferences.setTheme('DARK')">
                  <ion-icon slot="start" name="theme-dark"></ion-icon>
                  <ion-label>{{i18n.texts.pages.preferences.themes.dark}}</ion-label>
                </ion-item>
                <ion-item button (click)="preferences.setTheme('SYSTEM')">
                  <ion-icon slot="start" name="theme-system"></ion-icon>
                  <ion-label>{{i18n.texts.pages.preferences.themes.system}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-modal #logoutModal [backdropDismiss]="false" class="small-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="logout" style="margin-right: 10px"></ion-icon>
          <ion-label>{{i18n.texts.logout.title}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="ion-padding">
      <div>{{i18n.texts.logout.text}}</div>
      <div *ngIf="!hasLocalChanges" style="display: flex; flex-direction: row; align-items: flex-start; color: var(--ion-color-medium); margin-top: 10px;">
        <ion-icon name="info" style="min-width: 16px; min-height: 16px"></ion-icon>
        <div style="font-size: 12px; padding: 0 0 0 8px;">{{i18n.texts.logout.text_info}}</div>
      </div>
      <div *ngIf="hasLocalChanges" style="display: flex; flex-direction: row; align-items: flex-start; color: var(--ion-color-danger); margin-top: 10px;">
        <ion-icon name="warning" style="min-width: 16px; min-height: 16px"></ion-icon>
        <div style="font-size: 12px; padding: 0 0 0 8px;">{{i18n.texts.logout.text_warning}}</div>
      </div>
    </div>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button color="danger" [disabled]="loggingOut" (click)="doLogout(true);">{{i18n.texts.logout.button_delete}}</ion-button>
          <ion-button color="success" [disabled]="loggingOut" (click)="doLogout(false);">{{i18n.texts.logout.button_keep}}</ion-button>
          <ion-button color="medium" [disabled]="loggingOut" (click)="logoutModal.dismiss()">{{i18n.texts.buttons.cancel}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
