:host {
  position: relative;
}

ion-button {
    width: calc(var(--min-height) - 8px);
    height: calc(var(--min-height) - 8px);
    font-size: 0px;
    --padding-start: 0;
    --padding-end: 0;
    margin-right: 8px;

    div {
        font-size: calc(var(--min-height) / 2);
    }
}

.status {
  position: absolute;
  right: 0;
  bottom: -3px;
  background-color: black;
  border-radius: 8px;
  height: 18px;
  pointer-events: none;

  ion-icon {
    width: 18px;
    height: 18px;
    color: white;
  }
}
