:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.input-password {
  display: flex;
  flex-direction: row;
  ion-input {
    flex: 1 1 100%;
  }
  .password-toggle {
    flex: none;
    cursor: pointer;
    padding: 10px;
    ion-icon {
      width: 24px;
      height: 24px;
    }
  }
}
div.input-password-strength {
  display: flex;
  flex-direction: row;
  align-items: center;

  div.strength-container {
    flex: 1 1 50%;
    height: 10px;
    position: relative;
    background-color: rgba(var(--ion-color-medium-rgb), 0.2);
    border-radius: 5px;

    div.strength-value {
      border-radius: 5px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
    div.strength-limit {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 2px dotted rgba(var(--ion-color-medium-rgb), 0.33);
    }
  }

  div.strength-description {
    flex: 1 1 50%;
    padding-left: 10px;
    font-size: 14px;
  }
}
