<div class="input-password">
  <ng-content></ng-content>
  @if (enableToggle) {
    <div class="password-toggle" (click)="toggleVisibility()">
      <ion-icon slot="icon-only" color="secondary" [name]="hidden ? 'privacy' : 'privacy-off'"></ion-icon>
    </div>
  }
</div>
@if (enableStrength && complexity > 0) {
  <div class="input-password-strength">
    <div class="strength-container">
      <div class="strength-limit"></div>
      <div class="strength-value" style="width: {{ strengthWidth }}%; background-color: {{ strengthColor }};"></div>
    </div>
    <div class="strength-description">
      {{i18n.texts.password_strength[strengthLevel]}}
    </div>
  </div>
}
