<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-label>{{i18n.texts.pages.login.reset_password.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="page === 1">
    <div class="input-container">
      <ion-input
        fill="outline"
        label="{{i18n.texts.pages.login.reset_password.email}}"
        label-placement="floating"
        type="email"
        [(ngModel)]="email"
        autocomplete="email"
      ></ion-input>
    </div>
    <div class="input-container">
      <ion-input
        fill="outline"
        label="{{i18n.texts.pages.login.reset_password.new_password1}}"
        label-placement="floating"
        [(ngModel)]="newPassword1"
        autocomplete="new-password"
        type="password"
      ></ion-input>
    </div>
    <div class="input-container">
      <ion-input
        fill="outline"
        label="{{i18n.texts.pages.login.reset_password.new_password2}}"
        label-placement="floating"
        [(ngModel)]="newPassword2"
        autocomplete="new-password"
        type="password"
      ></ion-input>
    </div>
    <div>
      <div id="captcha-forgot-password"></div>
    </div>
  </ng-container>

  <ng-container *ngIf="page === 2">
    <div class="explaination">
      {{i18n.texts.pages.login.reset_password.verification_code_explaination}}
    </div>
    <code-input
      [codeLength]="6"
      (codeChanged)="code = $event"
    ></code-input>
  </ng-container>

  <ng-container *ngIf="page === 3">
    <div *ngIf="!changeResult">{{i18n.texts.pages.login.reset_password.in_progress}}</div>
    <div *ngIf="changeResult" style="color: var(--ion-color-danger)">{{i18n.texts.pages.login.reset_password.error}}</div>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button color="secondary" *ngIf="page === 2 || (page === 3 && changeResult)" (click)="previous()">{{i18n.texts.buttons.previous}}</ion-button>
      <ion-button color="success" [disabled]="!canGoNext()" (click)="next()">{{i18n.texts.buttons.next}}</ion-button>
      <ion-button color="medium" (click)="cancel()">{{i18n.texts.buttons.cancel}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
