<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-label>{{i18n.texts.pages.login.reset_password.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @switch (page) {
    @case (1) {
      <form>
        <div class="input-container">
          <ion-input
            name="email"
            fill="outline"
            label="{{i18n.texts.pages.login.reset_password.email}}"
            label-placement="floating"
            type="email"
            [(ngModel)]="email"
            autocomplete="email"
            [required]="true"
            [maxlength]="250"
            [email]="true"
            [errorText]="i18n.texts.pages.login.reset_password.errors.email"
            [disabled]="pending"
          ></ion-input>
        </div>
        <div class="input-container">
          <ion-input
            name="new-password"
            fill="outline"
            label="{{i18n.texts.pages.login.reset_password.new_password1}}"
            label-placement="floating"
            [(ngModel)]="newPassword1"
            autocomplete="new-password"
            type="password"
            [required]="true"
            [minlength]="8"
            [errorText]="i18n.texts.pages.login.reset_password.errors.password"
            [disabled]="pending"
          ></ion-input>
        </div>
        <div class="input-container">
          <ion-input
            name="new-password2"
            fill="outline"
            label="{{i18n.texts.pages.login.reset_password.new_password2}}"
            label-placement="floating"
            [(ngModel)]="newPassword2"
            autocomplete="new-password"
            type="password"
            [required]="true"
            [minlength]="8"
            [errorText]="i18n.texts.pages.login.reset_password.errors.password"
            [disabled]="pending"
          ></ion-input>
        </div>
        @if (passwordsDontMatch) {<div><ion-label color="danger">{{i18n.texts.pages.login.reset_password.errors.passwordsDontMatch}}</ion-label></div>}
        @if (sendMailError) {<div><ion-label color="danger">{{ sendMailError | i18nString }}</ion-label></div>}
        <div><div id="captcha-forgot-password"></div></div>
      </form>
    }
    @case (2) {
      <div class="explaination">
        {{i18n.texts.pages.login.reset_password.verification_code_explaination}}
      </div>
      <code-input
        [codeLength]="6"
        (codeChanged)="code = $event"
      ></code-input>
    }
    @case (3) {
      @if (changeResult) {
        <div style="color: var(--ion-color-danger)">{{i18n.texts.pages.login.reset_password.error}}</div>
      } @else {
        <div>{{i18n.texts.pages.login.reset_password.in_progress}}</div>
      }
    }
  }
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      @if (page === 2 || (page === 3 && changeResult)) {
        <ion-button color="secondary" (click)="previous()" [disabled]="pending">{{i18n.texts.buttons.previous}}</ion-button>
      }
      <ion-button color="success" [disabled]="!canGoNext() || pending" (click)="next()">{{i18n.texts.buttons.next}}</ion-button>
      <ion-button color="medium" (click)="cancel()" [disabled]="pending">{{i18n.texts.buttons.cancel}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
