<app-table
  [settings]="tableSettings"
  (selectionChange)="selection = $event"
  (rowClick)="openMessage($event)"
>
  <div class="paginator-right-content">
    @let readCount = countReadInSelection();
    @if (readCount.unread > 0) {
      <ion-button (click)="markAsRead(true)">{{ i18n.texts.admin.messages.mark_as_read }}</ion-button>
    }
    @if (readCount.read > 0) {
      <ion-button (click)="markAsRead(false)">{{ i18n.texts.admin.messages.mark_as_unread }}</ion-button>
    }
    @if (selection.length > 0) {
      <ion-button (click)="deleteMessages()" color="danger">{{ i18n.texts.admin.messages.delete }}</ion-button>
    }
  </div>
</app-table>
