:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

ion-toolbar {
  --min-height: 48px;
}

.page-section-title {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  ion-icon {
    margin-right: 8px;
  }
}

.page-section-sub-title {
  padding: 5px 5px 5px 20px;
}

.inline-tool {
  height: 100%;
  display: flex;
  flex-direction: column;

  > div:first-child {
    flex: 1 1 100%;
  }
}

ion-footer {
  ion-toolbar {
    div {
      display: flex;
      flex-direction: rown;
      align-items: center;
      justify-content: center;
      padding: 3px;
    }
  }
}

.separator {
  margin: 8px 0px;
  border-bottom: 1px solid rgba(var(--ion-color-dark-rgb), 0.5);
  height: 0;
  width: 100%;
}

ion-item {
  font-size: 14px;
  --min-height: 36px;
}

/*
.credits {
  font-size: 10px;
  padding-left: 8px;
  a, a:hover, a:active {
    color: var(--ion-color-secondary);
    text-decoration: none;
  }
}
*/
