<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="tool" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.trail.edit_tools.title}}</ion-label>
    </ion-title>
    <ion-button slot="end" fill="clear" color="dark" (click)="close()">
      <ion-icon name="cross" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ng-container *ngIf="!inlineTool">
    <ion-list>
      <ion-item button (click)="backToOriginalTrack()">
        {{i18n.texts.pages.trail.edit_tools.back_to_original}}
      </ion-item>
    </ion-list>

    <div class="page-section-title">
      <ion-icon name="elevation"></ion-icon>
      <span>{{i18n.texts.pages.trail.edit_tools.elevation}}</span>
    </div>

    <ion-list>
      <ion-item button (click)="removeUnprobableElevations()">
        {{i18n.texts.pages.trail.edit_tools.remove_unprobable_elevations}}
      </ion-item>
      <ion-item button id="elevation-threshold-button-{{id}}">
        {{i18n.texts.pages.trail.edit_tools.apply_elevation_threshold}}
      </ion-item>
    </ion-list>

    <div class="page-section-title">
      <ion-icon name="path"></ion-icon>
      <span>{{i18n.texts.pages.trail.edit_tools.path}}</span>
    </div>

    <ion-item button (click)="inlineTool = removeLongBreaksMoves">
      {{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.title}}
    </ion-item>
  </ng-container>

  <ng-container *ngIf="inlineTool">
    <ng-container *ngTemplateOutlet="inlineTool"></ng-container>
  </ng-container>
</ion-content>
<ion-footer *ngIf="!inlineTool">
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button (click)="undo()" [disabled]="history.length === 0">
        <ion-icon name="undo" slot="start"></ion-icon>
        {{i18n.texts.buttons.undo}}
      </ion-button>
      <ion-button (click)="redo()" [disabled]="undone.length === 0">
        <ion-icon name="redo" slot="start"></ion-icon>
        {{i18n.texts.buttons.redo}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-modal #modalElevationThreshold trigger="elevation-threshold-button-{{id}}">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-label>{{i18n.texts.pages.trail.edit_tools.apply_elevation_threshold}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <div class="page-section-text" [innerHTML]="i18n.texts.pages.trail.edit_tools.elevation_threshold_explaination"></div>

      <div class="page-section-sub-title">
        {{i18n.texts.pages.trail.edit_tools.elevation_threshold}}
      </div>
      <ion-range #elevationThresholdElevation
        mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="getMinElevationThreshold()" [max]="getMaxElevationThreshold()" [step]="getElevationThresholdStep()"
        [value]="getInitialElevationThreshold()"
        [pin]="true" [pinFormatter]="elevationFormatter"
        class="always-show-knob-pin"
      >
        <ion-label slot="start">{{elevationFormatter(getMinElevationThreshold())}}</ion-label>
        <ion-label slot="end">{{elevationFormatter(getMaxElevationThreshold())}}</ion-label>
      </ion-range>

      <div class="page-section-sub-title">
        {{i18n.texts.pages.trail.edit_tools.elevation_threshold_distance}}
      </div>

      <ion-range #elevationThresholdDistance
        mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="getMinElevationThresholdDistance()" [max]="getMaxElevationThresholdDistance()" [step]="getElevationThresholdDistanceStep()"
        [value]="getInitialElevationThresholdDistance()"
        [pin]="true" [pinFormatter]="distanceFormatter"
        class="always-show-knob-pin"
      >
        <ion-label slot="start">{{distanceFormatter(getMinElevationThresholdDistance())}}</ion-label>
        <ion-label slot="end">{{distanceFormatter(getMaxElevationThresholdDistance())}}</ion-label>
      </ion-range>
    </ion-content>

    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button color="success" (click)="applyElevationThreshold(elevationThresholdElevation.value, elevationThresholdDistance.value); modalElevationThreshold.dismiss()">{{i18n.texts.buttons.apply}}</ion-button>
          <ion-button color="medium" (click)="modalElevationThreshold.dismiss()">{{i18n.texts.buttons.cancel}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>

<ng-template #removeLongBreaksMoves>
  <div class="inline-tool">
    <div class="ion-padding">
      <ng-container *ngIf="longBreaksDetected === undefined">
        <div class="page-section-title">{{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.configuration}}</div>

        <div class="page-section-sub-title">{{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.config_min_duration}}</div>
        <ion-range #removeLongBreaksMovesMinDuration
          mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="180000" [max]="900000" [step]="60000"
          [pin]="true" [pinFormatter]="millisToMinutesFormatter"
          [value]="prefs.preferences.longBreakMinimumDuration"
          class="always-show-knob-pin"
        >
          <ion-label slot="start">{{millisToMinutesFormatter(180000)}}</ion-label>
          <ion-label slot="end">{{millisToMinutesFormatter(900000)}}</ion-label>
        </ion-range>

        <div class="page-section-sub-title">{{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.config_max_distance}}</div>
        <ion-range #removeLongBreaksMovesMaxDistance
          mode="md" [dualKnobs]="false" [ticks]="true" [snaps]="true" [min]="getMinLongBreaksMovesDistance()" [max]="getMaxLongBreaksMovesDistance()" [step]="getLongBreaksMovesDistanceStep()"
          [pin]="true" [pinFormatter]="distanceFormatter"
          [value]="prefs.preferences.longBreakMaximumDistance"
          class="always-show-knob-pin"
        >
          <ion-label slot="start">{{distanceFormatter(getMinLongBreaksMovesDistance())}}</ion-label>
          <ion-label slot="end">{{distanceFormatter(getMaxLongBreaksMovesDistance())}}</ion-label>
        </ion-range>

        <div class="page-section-title">{{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.detection}}</div>

        <ion-button *ngIf="longBreaksDetected === undefined" (click)="detectLongBreaks(removeLongBreaksMovesMinDuration.value, removeLongBreaksMovesMaxDistance.value)">
          {{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.start}}
        </ion-button>
      </ng-container>

      <ng-container *ngIf="longBreaksDetected !== undefined">
        <div class="page-section-title">{{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.detection}}</div>

        <div *ngIf="longBreaksDetected.length === 0">
          {{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.no_more_break}}
        </div>
        <ng-container *ngIf="longBreaksDetected.length > 0">
          <ng-container *ngIf="longBreaksDetected[0].startIndex >= 0">
            <div>
              {{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.duration}}:
              {{i18n.durationToString(longBreakDetectedDuration(), false)}}
            </div>
            <ion-button (click)="removeCurrentLongBreakMoves()">
              {{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.remove_moves}}
            </ion-button>
            <ion-button (click)="goToNextLongBreakMoves()">
              {{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.skip_moves}}
            </ion-button>
          </ng-container>
          <ng-container *ngIf="longBreaksDetected[0].startIndex === -1">
            <ion-button (click)="goToNextLongBreakMoves()">
              {{i18n.texts.buttons.next}}
            </ion-button>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button (click)="exitLongBreaksMovesDetection()">{{i18n.texts.buttons.quit}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </div>
</ng-template>
