<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="tool" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.trail.edit_tools.title}}</ion-label>
    </ion-title>
    <ion-button slot="end" fill="clear" color="dark" (click)="close()">
      <ion-icon name="cross" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngStyle]="{'display': !inlineToolType ? 'block': 'none'}">
    <ion-list>
      <ion-item button (click)="backToOriginalTrack()" class="button-back-to-original-track">
        {{i18n.texts.pages.trail.edit_tools.back_to_original}}
      </ion-item>
      <ion-item *ngIf="modifiedTrack$.value" (click)="showOnlyModified(!hideBaseTrack$.value)">
        <ion-checkbox slot="start" [checked]="hideBaseTrack$ | async"></ion-checkbox>
        <div>{{i18n.texts.pages.trail.edit_tools.show_only_modified}}</div>
      </ion-item>
    </ion-list>

    <div class="page-section-title">
      <ion-icon name="elevation"></ion-icon>
      <span>{{i18n.texts.pages.trail.edit_tools.elevation}}</span>
    </div>

    <div class="page-section-sub-title">{{i18n.texts.pages.trail.edit_tools.elevation_improvments}}</div>
    <ion-list>
      <ion-item button (click)="removeUnprobableElevations()" class="button-remove-unprobable-elevations">
        {{i18n.texts.pages.trail.edit_tools.remove_unprobable_elevations}}
      </ion-item>
      <ion-item button (click)="openElevationThresholdModal()" class="button-elevation-threshold">
        {{i18n.texts.pages.trail.edit_tools.apply_elevation_threshold}}
      </ion-item>
    </ion-list>
    <div class="page-section-sub-title">{{i18n.texts.pages.trail.edit_tools.from_download}}</div>
    <ion-list>
      <ion-item button (click)="downloadElevations()">
        {{i18n.texts.pages.trail.edit_tools.download_elevations}}
      </ion-item>
    </ion-list>

    <div class="page-section-title">
      <ion-icon name="path"></ion-icon>
      <span>{{i18n.texts.pages.trail.edit_tools.path}}</span>
    </div>

    <ng-container *ngIf="(canJoinArrivalAndDeparture$() | async)">
      <div class="page-section-sub-title">{{i18n.texts.pages.trail.edit_tools.join_departure_and_arrival.title}}</div>
      <ion-item button (click)="joinArrivalToDeparture()" class="button-join-arrival-to-departure">
        {{i18n.texts.pages.trail.edit_tools.join_departure_and_arrival.join_arrival}}
      </ion-item>
      <ion-item button (click)="joinDepartureToArrival()" class="button-join-departure-to-arrival">
        {{i18n.texts.pages.trail.edit_tools.join_departure_and_arrival.join_departure}}
      </ion-item>
    </ng-container>

    <div class="page-section-sub-title">{{i18n.texts.pages.trail.edit_tools.breaks}}</div>
    <ion-item button (click)="setInlineToolRemoveBreaksMoves()" class="button-remove-breaks-moves">
      {{i18n.texts.pages.trail.edit_tools.remove_long_breaks_moves.title}}
    </ion-item>
    <ion-item button (click)="mergeSegments()" *ngIf="canMergeSegments() | async">
      {{i18n.texts.pages.trail.edit_tools.merge_segments}}
    </ion-item>
  </div>
  <ng-container *ngIf="inlineToolType">
    <app-edit-tool-inline-renderer #inlineToolRenderer [type]="inlineToolType" [editTools]="that" [callback]="inlineToolCallback"></app-edit-tool-inline-renderer>
  </ng-container>
</ion-content>
<ion-footer *ngIf="!inlineToolRenderer?.tool?.hasOwnFooter">
  <ion-toolbar color="footer">
    <div style="display: flex; flex-direction: row; align-items: center;">
      <app-icon-label-button icon="undo" [label]="i18n.texts.buttons.undo" [disabled]="history.length === 0" (click)="undo()"></app-icon-label-button>
      <app-icon-label-button icon="redo" [label]="i18n.texts.buttons.redo" [disabled]="undone.length === 0" (click)="redo()"></app-icon-label-button>
      <div style="width: 15px;"></div>
      <app-icon-label-button icon="save" [label]="i18n.texts.buttons.save" [disabled]="!canSave()" (click)="save()" color="success-clear"></app-icon-label-button>
    </div>
  </ion-toolbar>
</ion-footer>
