<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-label>{{hasPreviousPassword ? i18n.texts.pages.myaccount.change_password.button : i18n.texts.pages.myaccount.change_password.button_new}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ng-container *ngIf="page === 1">
    <form (ngSubmit)="onSubmit()">
      <input type="email" name="email" [value]="auth.email" autocomplete="username" style="display: none;" />
      <div class="input-container">
        <ion-input
          *ngIf="hasPreviousPassword"
          fill="outline"
          label="{{i18n.texts.pages.myaccount.change_password.current_password}}"
          label-placement="floating"
          [(ngModel)]="previousPassword"
          autocomplete="current-password"
          name="password"
          type="password"
          [required]="true"
          [minlength]="8"
          [errorText]="i18n.texts.pages.myaccount.change_password.errors.current_password"
          [disabled]="pending"
        ></ion-input>
      </div>
      <div class="input-container">
        <ion-input
          fill="outline"
          label="{{hasPreviousPassword ? i18n.texts.pages.myaccount.change_password.new_password1 : i18n.texts.pages.myaccount.change_password.new_password1_new}}"
          label-placement="floating"
          [(ngModel)]="newPassword1"
          autocomplete="new-password"
          name="newpassword1"
          type="password"
          [required]="true"
          [minlength]="8"
          [errorText]="i18n.texts.pages.myaccount.change_password.errors.new_password"
          [disabled]="pending"
        ></ion-input>
      </div>
      <div class="input-container">
        <ion-input
          fill="outline"
          label="{{hasPreviousPassword ? i18n.texts.pages.myaccount.change_password.new_password2 : i18n.texts.pages.myaccount.change_password.new_password2_new}}"
          label-placement="floating"
          [(ngModel)]="newPassword2"
          autocomplete="new-password"
          name="newpassword2"
          type="password"
          [required]="true"
          [minlength]="8"
          [errorText]="i18n.texts.pages.myaccount.change_password.errors.new_password"
          [disabled]="pending"
        ></ion-input>
      </div>
      <div *ngIf="passwordsDontMatch">
        <ion-label color="danger">{{i18n.texts.pages.myaccount.change_password.errors.passwordsDontMatch}}</ion-label>
      </div>
      <div *ngIf="sendMailError" class="mail-already-sent">
        <ion-label color="danger">{{ sendMailError | i18nString }}</ion-label>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="page === 2">
    <div class="explaination">
      {{i18n.texts.pages.myaccount.change_password.verification_code_explaination}}
    </div>
    <code-input
      [codeLength]="6"
      (codeChanged)="code = $event"
    ></code-input>
  </ng-container>

  <ng-container *ngIf="page === 3">
    <div *ngIf="!changeResult">{{i18n.texts.pages.myaccount.change_password.in_progress}}</div>
    <div *ngIf="changeResult" style="color: var(--ion-color-danger)">{{i18n.texts.pages.myaccount.change_password.error}}</div>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button color="secondary" *ngIf="page === 2 || (page === 3 && changeResult)" (click)="previous()" [disabled]="pending">{{i18n.texts.buttons.previous}}</ion-button>
      <ion-button color="success" [disabled]="!canGoNext() || pending" (click)="next()" type="submit">{{i18n.texts.buttons.next}}</ion-button>
      <ion-button color="medium" (click)="cancel()" [disabled]="pending">{{i18n.texts.buttons.cancel}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
