<app-header [title]="i18n.texts.pages.login.title" [description]="i18n.texts.pages.login.meta_description" [useH1]="true"></app-header>
<div class="page-container">
<ion-card>
  <ion-toolbar color="primary">
    <div>
      <ion-label>{{i18n.texts.pages.login.title}}</ion-label>
    </div>
  </ion-toolbar>
  <ion-card-content>
    @if (!connected) {
      <div>{{ i18n.texts.pages.login.offline }}</div>
    } @else {
      <form (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            <ion-input label="{{i18n.texts.pages.login.email}}" labelPlacement="floating" type="email" name="email" [(ngModel)]="email" autocomplete="username" [disabled]="inprogress"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="{{i18n.texts.pages.login.password}}" labelPlacement="floating" type="password" name="password" [(ngModel)]="password" autocomplete="current-password" [disabled]="inprogress"></ion-input>
          </ion-item>
        </ion-list>
        @if (incorrect) {<div><ion-label color="danger">{{i18n.texts.pages.login.incorrect_message}}</ion-label></div>}
        @if (error) {<div><ion-label color="danger">{{i18n.texts.pages.login.error_message}}</ion-label></div>}
        @if (locked) {<div><ion-label color="danger">{{i18n.texts.pages.login.locked_message}}</ion-label></div>}
        <div [ngStyle]="{'display': captchaNeeded ? 'block' : 'none'}">
          @if (captchaNeeded){<div>{{i18n.texts.pages.login.captcha_message}}</div>}
          <div id="captcha-login"></div>
        </div>
        <div class="bottom-button" style="margin-top: 10px">
          <ion-button fill="clear" color="secondary" (click)="signin()" [disabled]="!canSignin() || inprogress" type="submit">
            @if (!inprogress) {<span>{{i18n.texts.pages.login.signin_button}}</span>}
            @else{<ion-spinner color="secondary"></ion-spinner>}
          </ion-button>
        </div>
        @if (inprogress) {
          <div style="text-align: center; font-size: 12px;">{{progressMessage}}</div>
        } @else {
          <div class="bottom-button">
            <ion-button fill="clear" color="tertiary" (click)="resetPassword()">
              {{i18n.texts.pages.login.forgot_password}}
            </ion-button>
          </div>
          <div class="bottom-button">
            <a href="/{{prefs.preferences.lang}}/register" (click)="$event.preventDefault()">
              <ion-button fill="clear" color="success" (click)="createAccount()">
                {{i18n.texts.pages.login.create_account}}
              </ion-button>
            </a>
          </div>
          <div class="bottom-button">
            <a href="/try" (click)="$event.preventDefault()">
              <ion-button fill="clear" color="secondary" (click)="tryWithoutAccount()">
                {{i18n.texts.pages.login.try_without_account}}
              </ion-button>
            </a>
          </div>
        }
      </form>
    }
  </ion-card-content>
</ion-card>
</div>
