<ion-card>
  <ion-card-header>
    <ion-card-title>{{i18n.texts.pages.login.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="!network.connected">
      <div>{{ i18n.texts.pages.login.offline }}</div>
    </ng-container>
    <ng-container *ngIf="network.connected">
      <ion-list>
        <ion-item>
          <ion-input label="{{i18n.texts.pages.login.email}}" labelPlacement="floating" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{i18n.texts.pages.login.password}}" labelPlacement="floating" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 10px">
        <ion-button fill="clear" color="secondary" (click)="signin()" [disabled]="!canSignin()">{{i18n.texts.pages.login.signin_button}}</ion-button>
      </div>
    </ng-container>
  </ion-card-content>
</ion-card>
