@if (trails.trails.length > 1) {
  <ion-segment [value]="selectedTrailIndex" color="secondary" (ionChange)="setTab($event.detail.value)">
    @for (trail of trails.trails; track $index) {
      <ion-segment-button [value]="$index">
        <div class="tab-long-text">
          @if (trail.recording) {
            {{ i18n.texts.trace_recorder.notif_message }}
          } @else {
            {{ trail.trail.name }}
          }
        </div>
      </ion-segment-button>
    }
  </ion-segment>
}
@if (selectedTrail) {
  <div class="waypoints-container">
    @if (selectedTrail.hasBreaks) {
      <div class="show-breaks">
        <ion-checkbox labelPlacement="end"
          [checked]="selectedTrail.showBreaks"
          (ionChange)="toggleShowBreaks(selectedTrail, $event.detail.checked)"
          [disabled]="trails.showBreaksOnMapLocked"
        >{{i18n.texts.pages.trail.show_breaks}}</ion-checkbox>
      </div>
    }
    @if (selectedTrail.hasGuideposts) {
      <div class="show-breaks">
        <ion-checkbox labelPlacement="end"
          [checked]="selectedTrail.showGuideposts"
          (ionChange)="toggleShowGuideposts(selectedTrail, $event.detail.checked)"
          [disabled]="trails.showBreaksOnMapLocked"
        >{{i18n.texts.pages.trail.show_guideposts}}</ion-checkbox>
      </div>
    }
    @for (wp of selectedTrail.wayPoints; track wp) {
      @if (selectedTrail.isShown(wp)) {
        <ng-container *ngTemplateOutlet="waypointTemplate; context: {wp: wp, isArrival: !!wp.waypoint.computed?.isArrival && !wp.waypoint.computed?.isDeparture, img: selectedTrail.wayPointsImages[$index], track: selectedTrail.track, isRecording: selectedTrail.recording, showGuideposts: selectedTrail.showGuideposts}"></ng-container>
      }
    }
    @if (selectedTrail.wayPointDepartureAndArrival) {
      <ng-container *ngTemplateOutlet="waypointTemplate; context: {wp: selectedTrail.wayPointDepartureAndArrival, isArrival: true, img: selectedTrail.wayPointsImages[selectedTrail.wayPoints.length], track: selectedTrail.track, isRecording: selectedTrail.recording, showGuideposts: selectedTrail.showGuideposts}"></ng-container>
    }
  </div>
}
<ng-template #waypointTemplate let-wp="wp" let-arrival="isArrival" let-img="img" let-track="track" let-isRecording="isRecording" let-showGuideposts="showGuideposts">
  <div class="waypoint"
    (mouseover)="enterWaypoint(wp.waypoint)"
    (mouseenter)="enterWaypoint(wp.waypoint)"
    (mouseleave)="leaveWaypoint(wp.waypoint)"
    (click)="toogleHighlightWayPoint(wp.waypoint)"
    [ngClass]="{'highlighted': trails.highlightedWayPoint === wp.waypoint}"
  >
    @let pos = wp.waypoint.position;
    @let altitude = wp.waypoint.altitude;
    @let distance = arrival && wp.waypoint.computed && wp.waypoint.computed.isDeparture ? track.metadata?.distance : wp.waypoint.distanceSinceDeparture;
    @let time = arrival && wp.waypoint.computed && wp.waypoint.computed.isDeparture ? track.metadata?.duration : wp.waypoint.durationSinceDeparture;
    <div class="waypoint-header">
      @if (wp.waypoint.computed) {
        <div class="waypoint-anchor">
          <img [src]="img" width="40" height="40">
        </div>
      } @else {
        <div class="waypoint-anchor">
          <ion-icon name="poi-guidepost"></ion-icon>
        </div>
      }
      <div class="waypoint-info-section">
        <div class="waypoint-info">
          <div class="waypoint-info-title">{{i18n.texts.way_points.position}}</div>
          <div class="waypoint-info-value small">{{i18n.coordToString(pos.lat)}}<br/>{{i18n.coordToString(pos.lng)}}</div>
        </div>
        <div class="waypoint-info">
          <div class="waypoint-info-title">{{i18n.texts.way_points.altitude}}</div>
          <div class="waypoint-info-value">{{altitude !== undefined ? i18n.elevationToString(altitude) : '?'}}</div>
        </div>
        @if (arrival || !wp.waypoint.computed?.isDeparture) {
          <div class="waypoint-info">
            <div class="waypoint-info-title">{{i18n.texts.way_points.distance}}</div>
            <div class="waypoint-info-value">{{i18n.distanceToString(distance)}}</div>
          </div>
          <div class="waypoint-info">
            <div class="waypoint-info-title">{{i18n.texts.way_points.time}}</div>
            <div class="waypoint-info-value">{{i18n.durationToString(time)}}</div>
          </div>
        }
        @if (wp.waypoint.computed?.breakPoint) {
          <div class="waypoint-info">
            <div class="waypoint-info-title">{{i18n.texts.way_points.duration}}</div>
            <div class="waypoint-info-value">{{i18n.durationToString(wp.waypoint.computed.breakPoint.duration)}}</div>
          </div>
        }
      </div>
      @if ((editTools || isRecording) && wp.waypoint.computed && !wp.waypoint.computed.breakPoint) {
        <div class="waypoint-actions">
          @if (!wp.waypoint.computed.isDeparture && !wp.waypoint.computed.isComputedOnly) {
            <ion-button fill="clear" shape="round" size="small" color="danger" (click)="$event.preventDefault(); $event.stopPropagation(); removeWaypoint(wp.waypoint.computed);">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          }
          @if (!(wp.waypoint.computed.isDeparture && wp.waypoint.computed.isArrival && arrival)) {
            <ion-button fill="clear" shape="round" size="small" color="secondary" (click)="$event.preventDefault(); $event.stopPropagation(); editWaypoint(wp.waypoint.computed);">
              <ion-icon slot="icon-only" name="edit"></ion-icon>
            </ion-button>
          }
        </div>
      }
    </div>
    <div class="waypoint-content">
      @if (wp.waypoint.computed && !wp.waypoint.computed.breakPoint && (!arrival || !wp.waypoint.computed.isDeparture)) {
        <div class="waypoint-name">
          <app-text [text]="wp.waypoint.computed.wayPoint.name" [lang]="lang" [translations]="wp.waypoint.computed.wayPoint.nameTranslations" [showSource]="showSource"></app-text>
        </div>
        @if (wp.waypoint.guidepost && showGuideposts) {
          <div class="waypoint-attached-guidepost">
            <ion-icon name="poi-guidepost"></ion-icon>
            {{wp.waypoint.guidepost.text}}
          </div>
        }
        <div class="waypoint-description">
          <app-text [text]="wp.waypoint.computed.wayPoint.description" [lang]="lang" [translations]="wp.waypoint.computed.wayPoint.descriptionTranslations" [showSource]="showSource"></app-text>
        </div>
      } @else if (wp.waypoint.guidepost && !wp.waypoint.computed) {
        <div class="waypoint-name">
          {{wp.waypoint.guidepost.text}}
        </div>
      }
    </div>
    @if (wp.photos.length > 0 && (!arrival || !wp.waypoint.computed?.isDeparture)) {
      <div class="waypoint-photos">
        <app-photos-slider #slider [photos]="wp.photos" [width]="150" [height]="100" [preLoadNext]="false" (click)="$event.stopPropagation(); openPhotos(wp.photos, slider);"></app-photos-slider>
      </div>
    }
  </div>
</ng-template>
