@if (trails.trails.length > 1) {
  <ion-segment [value]="selectedTrailIndex" color="secondary" (ionChange)="setTab($event.detail.value)">
    @for (trail of trails.trails; track $index) {
      <ion-segment-button [value]="$index">
        <div class="tab-long-text">
          @if (trail.recording) {
            {{ i18n.texts.trace_recorder.notif_message }}
          } @else {
            {{ trail.trail.name }}
          }
        </div>
      </ion-segment-button>
    }
  </ion-segment>
}
@if (selectedTrail) {
  <div class="waypoints-container">
    @if (selectedTrail.hasBreaks) {
      <div class="show-breaks">
        <ion-checkbox labelPlacement="end"
          [checked]="selectedTrail.showBreaks"
          (ionChange)="toggleShowBreaks(selectedTrail, $event.detail.checked)"
          [disabled]="trails.showBreaksOnMapLocked"
        >{{i18n.texts.pages.trail.show_breaks}}</ion-checkbox>
      </div>
    }
    @if (selectedTrail.hasGuideposts) {
      <div class="show-breaks">
        <ion-checkbox labelPlacement="end"
          [checked]="selectedTrail.showGuideposts"
          (ionChange)="toggleShowGuideposts(selectedTrail, $event.detail.checked)"
          [disabled]="trails.showBreaksOnMapLocked"
        >{{i18n.texts.pages.trail.show_guideposts}}</ion-checkbox>
      </div>
    }
    @for (wp of selectedTrail.wayPoints; track wp) {
      @if (selectedTrail.isShown(wp)) {
        <app-waypoint
          [trail]="selectedTrail"
          [wp]="wp"
          [imgIndex]="$index"
          [showActions]="!!editTools || selectedTrail.recording"
          [lang]="lang"
          [showSource]="showSource"
          (mouseover)="enterWaypoint(wp.waypoint)"
          (mouseenter)="enterWaypoint(wp.waypoint)"
          (mouseleave)="leaveWaypoint(wp.waypoint)"
          (click)="toogleHighlightWayPoint(wp.waypoint)"
          [ngClass]="{'highlighted': trails.highlightedWayPoint === wp.waypoint}"
          (editWayPoint)="editWaypoint($event)"
          (removeWayPoint)="removeWaypoint($event)"
        ></app-waypoint>
      }
    }
    @if (selectedTrail.wayPointDepartureAndArrival) {
      <app-waypoint
        [trail]="selectedTrail"
        [wp]="selectedTrail.wayPointDepartureAndArrival"
        [imgIndex]="selectedTrail.wayPoints.length"
        [forceArrival]="true"
        [showActions]="!!editTools || selectedTrail.recording"
        [lang]="lang"
        [showSource]="showSource"
        (mouseover)="enterWaypoint(selectedTrail.wayPointDepartureAndArrival.waypoint)"
        (mouseenter)="enterWaypoint(selectedTrail.wayPointDepartureAndArrival.waypoint)"
        (mouseleave)="leaveWaypoint(selectedTrail.wayPointDepartureAndArrival.waypoint)"
        (click)="toogleHighlightWayPoint(selectedTrail.wayPointDepartureAndArrival.waypoint)"
        [ngClass]="{'highlighted': trails.highlightedWayPoint === selectedTrail.wayPointDepartureAndArrival.waypoint}"
        (editWayPoint)="editWaypoint($event)"
        (removeWayPoint)="removeWaypoint($event)"
      ></app-waypoint>
    }
  </div>
}
