<ng-container *ngIf="i18n.textsLanguage$ | async">
  @defer(when loadMenu) {
    <ion-menu contentId="content" #appMenu [maxEdgeStart]="0">
      @defer(when loadMenuContent) {
        <app-menu></app-menu>
      }
    </ion-menu>
  }
  <ion-app>
    <ion-content id="content">
      <ion-router-outlet [animated]="false"></ion-router-outlet>
    </ion-content>
  </ion-app>
  <div class="waiting-for-gps" *ngIf="waitingForGps">
    <div>{{ i18n.texts.waiting_for_gps }}</div>
  </div>
</ng-container>
