<ng-container *ngIf="i18nLoaded">
  <ion-app style="margin-top: var(--device-margin-top, 0px); margin-bottom: var(--device-margin-bottom, 0px); margin-left: var(--device-margin-left, 0px); margin-right: var(--device-margin-right, 0px);">
    <ion-content id="content">
      <ion-router-outlet [animated]="false"></ion-router-outlet>
    </ion-content>
    @defer(when loadMenu) {
      <ion-menu contentId="content" #appMenu [maxEdgeStart]="0">
        @if (loadMenuContent) {
          <app-menu></app-menu>
        }
      </ion-menu>
    }
  </ion-app>
  @if (waitingForGps) {
    <div class="waiting-for-gps">
      <div>{{ waitingForGpsText }}</div>
    </div>
  } @else if (traceInProgress) {
    <div class="trace-in-progress">
      <div>
        <a [routerLink]="traceInProgress">{{ traceInProgressText }}</a>
      </div>
    </div>
  }
</ng-container>
