<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-label>{{i18n.texts.pages.import_from_url.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="url-container">
    <ion-input
      labelPlacement="floating"
      label="{{i18n.texts.pages.import_from_url.url_placeholder}}"
      fill="outline"
      [value]="url"
      (ionInput)="updateUrl($event.detail.value ?? '')"
      [clearInput]="true"
      [disabled]="inProgress"
    ></ion-input>
  </div>
  <div class="clipboard-container">
    {{i18n.texts.pages.import_from_url.or}}
    <ion-button (click)="importClipboard()">
      {{i18n.texts.pages.import_from_url.from_clipboard}}
    </ion-button>
  </div>
  <div class="message-container" *ngIf="message">
    {{ message }}
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button color="success" (click)="doImport()" *ngIf="detectedSource" [disabled]="inProgress">{{'pages.import_from_url.button_import' | i18nString:detectedSource}}</ion-button>
      <ion-button color="medium" (click)="close()" [disabled]="inProgress">{{i18n.texts.buttons.cancel}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
