<div *ngIf="info" class="rating">
  @if (info.rating !== undefined) {
    <table>
      <tr>
        <th>{{ i18n.texts.pages.trail.sections.comments.rate.global }}</th>
        <td>
          <app-rate [rate]="info.rating!"></app-rate>
          <span *ngIf="info.nbRates">{{ 'pages.trail.sections.comments.rate.global_on_nb' | i18nString:info.nbRates }}</span>
        </td>
      </tr>
      @if (myRate !== undefined && myRate !== null) {
        <tr>
          <th>{{ i18n.texts.pages.trail.sections.comments.rate.yours }}</th>
          <td><app-rate [rate]="myRate"></app-rate></td>
        </tr>
      }
    </table>
    @if (info.nbRate0 || info.nbRate1 || info.nbRate2 || info.nbRate3 || info.nbRate4 || info.nbRates) {
      <div class="count-by-rate">
        <div (click)="setFilterRate(5)">
          <app-rate [rate]="5" [showValue]="false"></app-rate>
          <app-progress-bar [done]="info.nbRate5 ?? 0" [total]="info.nbRates ?? 1" [text]="'' + (info.nbRate5 ?? 0) + ' / ' + (info.nbRates ?? 1)" [height]="14"></app-progress-bar>
        </div>
        <div (click)="setFilterRate(4)">
          <app-rate [rate]="4" [showValue]="false"></app-rate>
          <app-progress-bar [done]="info.nbRate4 ?? 0" [total]="info.nbRates ?? 1" [text]="'' + (info.nbRate4 ?? 0) + ' / ' + (info.nbRates ?? 1)" [height]="14"></app-progress-bar>
        </div>
        <div (click)="setFilterRate(3)">
          <app-rate [rate]="3" [showValue]="false"></app-rate>
          <app-progress-bar [done]="info.nbRate3 ?? 0" [total]="info.nbRates ?? 1" [text]="'' + (info.nbRate3 ?? 0) + ' / ' + (info.nbRates ?? 1)" [height]="14"></app-progress-bar>
        </div>
        <div (click)="setFilterRate(2)">
          <app-rate [rate]="2" [showValue]="false"></app-rate>
          <app-progress-bar [done]="info.nbRate2 ?? 0" [total]="info.nbRates ?? 1" [text]="'' + (info.nbRate2 ?? 0) + ' / ' + (info.nbRates ?? 1)" [height]="14"></app-progress-bar>
        </div>
        <div (click)="setFilterRate(1)">
          <app-rate [rate]="1" [showValue]="false"></app-rate>
          <app-progress-bar [done]="info.nbRate1 ?? 0" [total]="info.nbRates ?? 1" [text]="'' + (info.nbRate1 ?? 0) + ' / ' + (info.nbRates ?? 1)" [height]="14"></app-progress-bar>
        </div>
        <div (click)="setFilterRate(0)">
          <app-rate [rate]="0" [showValue]="false"></app-rate>
          <app-progress-bar [done]="info.nbRate0 ?? 0" [total]="info.nbRates ?? 1" [text]="'' + (info.nbRate0 ?? 0) + ' / ' + (info.nbRates ?? 1)" [height]="14"></app-progress-bar>
        </div>
      </div>
    }
  } @else {
    <div class="no-rate">{{ i18n.texts.pages.trail.sections.comments.rate.no_rate }}</div>
  }
</div>
<div class="rate-and-comment-button-container">
@if (trail && !info?.itsMine && authenticated && connected && myRate !== undefined) {
  <ion-button (click)="openCommentModal()" size="small">
    @if (myRate === null) {
      {{ i18n.texts.pages.trail.sections.comments.rate.write_a_review }}
    } @else {
      {{ i18n.texts.pages.trail.sections.comments.rate.change_rate_or_review }}
    }
  </ion-button>
}
</div>
@if (!authenticated) {
  <div class="disconnected-message">{{ i18n.texts.pages.trail.sections.comments.not_authenticated }}</div>
} @else if (!connected && feedbacks === undefined) {
  <div class="disconnected-message">{{ i18n.texts.pages.trail.sections.comments.not_connected }}</div>
}
<div *ngIf="feedbacks !== undefined && trail" class="comments">
  <div class="filter" *ngIf="filterRate !== undefined">
    <span>{{ 'pages.trail.sections.comments.show_reviews_with_rate' | i18nString:filterRate }}</span>
    <ion-icon name="cross" (click)="setFilterRate(undefined)"></ion-icon>
  </div>
  @for (fb of feedbacks; track fb.uuid) {
    <app-feedback [feedback]="fb" [trailUuid]="trail.uuid" (feedbackChange)="feedbackChanged(fb, $event)"></app-feedback>
  }
  <div class="load-button">
    @if (!loadingComments) {
      @if (!lastPage) {
        <ion-button fill="clear" color="secondary" (click)="loadMoreComments()">
          {{ i18n.texts.pages.trail.sections.comments.load_more_comments }}
        </ion-button>
      }
    } @else {
      <ion-spinner></ion-spinner>
    }
  </div>
</div>
