app-map {

  .leaflet-container {
    background: var(--ion-background-color);
  }

  &.mouse-pointer {
    .leaflet-grab {
      cursor: pointer;
    }
  }

}

body.dark-map {

  .leaflet-layer,
  .leaflet-control {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
  .leaflet-legend {
    background: #181818;
    color: #D0D0D0;
  }
  .leaflet-position-marker {
    &[stroke="#2020FF"] {
      stroke: #FFFF00;
      fill: #A0A0FF;
    }
    &[stroke="#555"] {
      stroke: #808000;
      fill: #888;
    }
  }
  path[stroke=black] {
    stroke: white;
  }

}
.leaflet-legend {
  background: #E8E8E8;
  color: #202020;
  z-index: 1000;
  font-size: 11px;
}
.leaflet-pane.leaflet-marker-pane .leaflet-marker-icon.highlighted {
  width: 50px !important;
  height: 50px !important;
  margin-left: -25px !important;
  margin-top: -50px !important;
  z-index: 1000 !important;
}
