app-map {

  div.leaflet-container {
    background: var(--ion-background-color);

    div.leaflet-control-container {

      div.leaflet-control.leaflet-control-button {
        background: #ffffff;
        background-clip: padding-box;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        &:hover {
          border-color: rgba(0, 0, 0, 0.5);
        }
      }

      div.leaflet-right div.leaflet-control.leaflet-control-button {
        svg {
          width: 24px;
          height: 24px;
          margin: 3px 3px -2px 3px;
        }
      }

      div.leaflet-left div.leaflet-control.leaflet-control-button {
        svg {
          width: 24px;
          height: 24px;
          margin: 3px 3px -2px 3px;
        }
        img {
          width: 28px;
          height: 28px;
          margin: 1px 1px -3px 1px;
        }
      }

      div.leaflet-top .leaflet-control {
        margin-top: 5px;
      }

      div.leaflet-control-attribution {
        max-width: calc(100vw - 100px);
      }

    }
  }

  &.mouse-pointer {
    .leaflet-grab {
      cursor: pointer;
    }
  }

  div.map-top-controls-container {
    position: absolute;
    top: 3px;
    left: 43px;
    right: 43px;
    z-index: 1000;
    pointer-events: none;
    overflow: hidden;

    app-toolbar {
      max-width: 100%;
    }

    div.map-top-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      pointer-events: none;
      max-width: 100%;

      &.center {
        justify-content: center;
      }
      &.right {
        justify-content: flex-end;
      }
      &.left {
        justify-content: flex-start;
      }
    }
  }

  div.map-right-controls-container {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 20px;
    z-index: 1000;
    pointer-events: none;
    overflow: hidden;

    app-toolbar {
      max-height: 100%;
    }
  }
  div.map-left-controls-container {
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 23px;
    z-index: 1000;
    pointer-events: none;
    overflow: hidden;

    app-toolbar {
      max-height: 100%;
    }
  }

  app-toolbar {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    pointer-events: all;
    display: flex;
  }

  div.map-bottom-right-tools-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2000;
    pointer-events: none;
  }

}

.leaflet-legend {
  background: #E8E8E8;
  color: #202020;
  z-index: 1000;
  font-size: 11px;
}
.leaflet-pane.leaflet-marker-pane .leaflet-marker-icon.highlighted {
  width: 50px !important;
  height: 50px !important;
  margin-left: -25px !important;
  margin-top: -50px !important;
  z-index: 1000 !important;
}

body.dark-map {

  .leaflet-layer,
  .leaflet-control {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
  .leaflet-legend {
    background: #181818;
    color: #D0D0D0;
  }
  .leaflet-position-marker {
    &[stroke="#2020FF"] {
      stroke: #FFFF00;
      fill: #A0A0FF;
    }
    &[stroke="#555"] {
      stroke: #808000;
      fill: #888;
    }
  }
  app-map {
    path[stroke=black] {
      stroke: white;
    }

    app-toolbar {
      background-color: #000000;
      border-color: rgba(255, 255, 255, 0.2);
    }

  }

}

app-trail-small-map {
  position: relative;
  overflow: hidden;

  div.map-tile-layer, div.map-path-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      max-width: none;
    }
  }
}
