.metadata-container {

  &.two-columns, &.one-column {
    .metadata-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      ion-icon, svg, .icon {
        flex: none;
        margin-right: var(--metadata-icon-margin, 5px);
        width: var(--metadata-icon-size, 20px);
        height: var(--metadata-icon-size, 20px);
        color: var(--ion-color-secondary);
      }

      .metadata-content {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        .metadata-title {
          display: none;
        }
        .metadata-value {
          display: flex;
          flex-direction: row;
          align-items: center;

          div.metadata-primary, div.metadata-secondary {
            flex: 1 1 100%;
            font-size: var(--metadata-font-size, 13px);
          }
        }
      }

      &.nowrap {
        .metadata-value {
          div.metadata-primary, div.metadata-secondary {
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }

    &.with-title {
      .metadata-item {
        margin: 3px 0;

        ion-icon, svg, .icon {
          width: var(--metadata-icon-size, 32px);
          height: var(--metadata-icon-size, 32px);
          color: var(--ion-color-secondary);
        }

        .metadata-content {

          .metadata-title {
            display: block;
            font-size: 11px;
            color: var(--ion-color-secondary);
            margin-bottom: 3px;
          }
        }
      }
    }
  }

  &.two-columns {
    .metadata-item-container {
      min-width: 50%;
      max-width: 50%;
      display: inline-block;

      .metadata-item .metadata-value {
        .metadata-primary + .metadata-secondary, .metadata-primary + .metadata-primary, .metadata-secondary + .metadata-secondary {
          margin-left: 3px;
        }
      }
    }
  }

  &.one-column.accept-small {
    .metadata {
      .metadata-item-container.metadata-content-small {
        min-width: 50%;
        max-width: 50%;
        display: inline-block;
      }
    }
  }

  &.one-column {
    div.metadata-item-container:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &.tiles {
    .inner-metadata-container {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
    }

    .metadata-item-container {
      display: inline-block;
      min-width: 100px;
      max-width: 100px;
      min-height: 75px;
      max-height: 75px;
      &.empty {
        display: none;
      }

      .metadata-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ion-icon, svg, .icon {
          flex: none;
          margin-bottom: var(--metadata-icon-margin, 5px);
          width: var(--metadata-icon-size, 32px);
          height: var(--metadata-icon-size, 32px);
          color: var(--ion-color-secondary);
        }

        .metadata-content {
          display: flex;
          flex-direction: column;

          .metadata-title {
            display: none;
          }

          .metadata-value {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            div.metadata-primary, div.metadata-secondary {
              flex: 1 1 100%;
              font-size: var(--metadata-font-size, 13px);
              text-align: center;
            }
          }
        }
      }
    }

    &.with-title {
      .metadata-item-container {
        .metadata-item {
          position: relative;

          ion-icon, svg, .icon {
            margin-top: 12px;
            width: var(--metadata-icon-size, 24px);
            height: var(--metadata-icon-size, 24px);
            margin-bottom: var(--metadata-icon-margin, 2px);
          }
          .metadata-content {
            .metadata-title {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              color: var(--ion-color-secondary);
              font-size: 11px;
            }
          }
        }
      }
    }
  }

}

.metadata-secondary {
  color: var(--secondary-text-color);
}

.trail-tags-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .tag {
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    border-radius: 8px;
    padding: 1px 5px;
    font-size: 12px;
    white-space: nowrap;

    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
