.page-section-title {
  color: var(--ion-color-tertiary);
  font-size: 16px;
  margin: 5px 0 3px 0;
}

.page-section-sub-title {
  color: var(--ion-color-secondary);
  font-size: 14px;
  margin: 3px 0 3px 0;
}

.page-section-text {
  font-size: 12px;
  margin: 2px 0 2px 0;
  color: rgba(var(--ion-text-color-rgb), 0.8);
}
