.vertical-tabs {
  width: var(--vertical-tabs-width, 30px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .vertical-tab {
    flex: 1 1 100%;
    border-right: 2px solid rgba(var(--ion-color-secondary-rgb), 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;

    ion-icon {
      width: var(--vertical-tab-icon-size, 24px);
      height: var(--vertical-tab-icon-size, 24px);
      color: var(--ion-color-medium);
    }

    &.tab-selected {
      background-color: var(--ion-color-light);
      border-color: var(--ion-color-secondary);
      ion-icon {
        color: var(--ion-color-secondary);
      }
    }
  }
}
