:host {
  position: relative;
  display: block;
  min-height: 75px;
}

.trail-name-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: -3px;

  ion-checkbox.trail-checkbox {
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  div.navigation {
    flex: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 12px;
    }

    ion-button {
      margin-top: 0;
      margin-bottom: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      min-width: 20px;
    }
  }

  ion-button.my-selection {
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 24px;
    margin-right: -2px;
  }

  .trail-name {
    flex: 1 1 100%;
    color: var(--ion-color-tertiary);
    font-size: 15px;
    max-width: calc(100% - 45px);
    margin-left: 2px;

    a, a:active {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(.selectable) {
      max-width: calc(100% - 28px);
    }

    &.nowrap {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  ion-button.trail-menu-button {
    margin: 0;
    margin-inline-end: 0;
    min-width: 28px;
  }
  ion-button.public-trail-button {
    margin: 0 4px 0 0;
    min-width: 24px;
  }

}

.trail-tags-row {
  .tag {
    margin-bottom: 3px;
  }
  &.nowrap {
    flex-wrap: nowrap;
    .tag {
      font-size: 11px;
    }
  }
}

.app-rate {
  margin-bottom: 2px;
}

div.metadata-with-photos.photo-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  div.photos {
    flex: none;
    max-width: 100px;
    max-height: 80px;
    width: 100px;
    height: 80px;
    overflow: hidden;
    margin-right: 5px;

    app-photos-slider {
      display: block;
    }
  }

  div.metadata {
    flex: 1 1 100%;

    &.with-photos {
      --metadata-font-size: 9pt;
      --metadata-icon-size: 18px;
      --metadata-icon-margin: 3px;

      ::ng-deep div.metadata-item-container {
        margin-bottom: 3px;

        &:nth-child(7) {
          padding-right: 20px;
        }
      }
    }
  }

}

div.metadata-with-photos.photo-block {
  div.photos {
    max-width: 140px;
    max-height: 80px;
    width: 140px;
    height: 80px;
    overflow: hidden;

    app-photos-slider {
      display: block;
    }
  }
}

.inner-metadata-container.smaller {
  font-size: 10px;
  ion-icon, ::ng-deep .metadata-item-container .metadata-item svg {
    height: 18px;
  }
}

.show-on-map {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: -3px;

  ion-icon {
    width: 20px;
    height: 20px;
  }

  ion-button {
    margin-inline-end: 0;
    min-width: 22px;
    min-height: 22px;
  }
}
