<ng-container *ngIf="trail">
  <div class="trail-name-row">
    <ion-checkbox *ngIf="selectable" [checked]="selected" (ionChange)="setSelected($event.detail.checked)"></ion-checkbox>
    <div class="trail-name">{{ meta.name }}</div>
    <ion-button size="small" fill="clear" color="dark" id="trail-menu-button-{{trail.uuid + trail.owner}}">
      <ion-icon name="item-menu" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-popover trigger="trail-menu-button-{{trail.uuid + trail.owner}}" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <app-menu-content [menu]="trailService.getTrailMenu(trail)"></app-menu-content>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>    
  </div>
  
  @switch(mode) {
    @case ('SINGLE_COLUMN') {
      <div class="metadata-item">
        <ion-icon name="date"></ion-icon>
        <div>{{ meta.dateString }}</div>
      </div>
    }
    @case ('TWO_COLUMNS') {
      <ion-grid>
        <ion-col size="6">
          <div class="metadata-item">
            <ion-icon name="date"></ion-icon>
            <div>{{ meta.dateString }}</div>
          </div>
        </ion-col>
      </ion-grid>
    }
  }
  <app-track-metadata *ngIf="track" [track]="track" [mode]="mode"></app-track-metadata>
</ng-container>
