.trail-name-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  ion-checkbox.trail-checkbox {
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 8px;
  }

  .trail-name {
    flex: 1 1 100%;
    color: var(--ion-color-tertiary);
    font-size: 15px;
  }

  ion-button.trail-menu-button {
    margin: 0;
  }

}

.tag {
  margin-bottom: 3px;
}
