@media (min-width: 600px) and (min-height: 610px) {
  div.page-content {
    --width: 600px;
    --slider-image-height: 326px;
    --image-left: 30px;
    --image-right: 30px;
    --image-top: 33px;
    --image-bottom: 32px;
    --footer-height: 50px;
  }
}

@media (min-width: 800px) and (min-height: 700px) {
  div.page-content {
    --width: 800px;
    --slider-image-height: 435px;
    --image-left: 50px;
    --image-right: 50px;
    --image-top: 50px;
    --image-bottom: 50px;
    --footer-height: 50px;
  }
}

@media (max-width: 599px) or (max-height: 609px) {
  div.page-content {
    --width: calc(min(100%, 600px));
    --slider-image-height: calc(min(100vw, 600px) * 326 / 600);
    --image-left: 10px;
    --image-right: 10px;
    --image-top: 20px;
    --image-bottom: 10px;
    --footer-height: 80px;
  }
}

h1 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}
h2 {
  color: rgba(var(--ion-text-color-rgb), 0.66);
  font-size: 16px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  h1 {
    padding: 0 5px;
  }
  h2 {
    padding: 0 5px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 12px;
  }
}

div.page-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  --header-height: 52px;
  --margin: calc(max(0px, calc(50% - calc(var(--width) / 2))));

  div.content-container {
    margin-left: var(--margin);
    margin-right: var(--margin);
  }
}

div.slider {
  position: relative;
  width: var(--width);
  height: calc(var(--slider-image-height) + var(--header-height) + var(--footer-height));
  overflow: hidden;

  div.slider-item {
    position: absolute;
    top: 0px;
    left: var(--width);
    width: var(--width);
    transition: left 0.5s ease-in-out;
    opacity: 0;

    &.previous {
      opacity: 1;
      &.from-left {
        left: calc(0px - var(--width));
      }
      &.from-right {
        left: var(--width);
      }
    }
    &.current {
      left: 0px;
      opacity: 1;
    }

    div.slider-item-header {
      font-size: 24px;
      color: var(--ion-color-secondary);
      padding: 16px 10px 8px 10px;
    }
    div.slider-item-footer {
      font-size: 16px;
      padding: 10px 8px 5px 8px;
      color: rgba(var(--ion-text-color-rgb), 0.75);

      div {
        display: inline-block;
        margin-left: 20px;
        position: relative;

        &::before {
          content: ' ';
          position: absolute;
          top: 6px;
          left: -12px;
          width: 6px;
          height: 6px;
          border: 1px solid rgba(var(--ion-text-color-rgb), 0.75);
          border-radius: 3px;
          box-sizing: border-box;
        }
      }

      &.no-image {
        div {
          display: block;
          margin-bottom: 3px;
        }
      }
    }
    div.slider-item-image {
      width: var(--width);
      height: var(--slider-image-height);
      position: relative;

      div.mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      div.screen {
        position: absolute;
        top: var(--image-top);
        bottom: var(--image-bottom);
        left: var(--image-left);
        right: var(--image-right);
        overflow: hidden;
      }
    }
  }
}
div.slider-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div.slider-button {
    width: 24px;
    height: 12px;
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      top: 4px;
      left: 8px;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      border: 1px solid var(--ion-color-secondary);
      box-sizing: border-box;
    }

    &.selected::after {
      background-color: var(--ion-color-secondary);
    }
  }
}

div.download {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
