<app-header [title]="auth.email ? 'Trailence' : ''" [description]="i18n.texts.pages.home.meta_description"></app-header>
<div class="page-content">
  <div class="content-container">
    <h1>{{i18n.texts.pages.home.title}}</h1>
    <h2>{{i18n.texts.pages.home.subTitle}}</h2>
    <div class="slider" id="slider-{{id}}">
      @for (slide of slides; track $index; let index = $index) {
        <div class="slider-item" id="slider-{{id}}-slide-{{index}}">
          <div class="slider-item-header">{{ i18n.texts.pages.home.slides[index].header }}</div>
          <div class="slider-item-image-container {{slide.hasImages ? '' : 'no-image'}}">
            @if (mode === 'desktop') {
              @for (img of slide.desktopImages; track $index; let imgIndex = $index) {
                <div class="slider-item-image desktop" id="slider-{{id}}-slide-{{index}}-image-{{imgIndex}}">
                  <div class="screen"><img [src]="ssUrl + '/ss_' + img + '.' + prefs.preferences.lang + '.desktop.png'" draggable="false" /></div>
                  <div class="mask"><img [src]="maskUrl + '/' + desktopMaskSize + '.png'" draggable="false" /></div>
                </div>
              }
              <div class="slider-item-image mobile multiple" id="slider-{{id}}-slide-{{index}}-image-{{slide.desktopImages.length}}">
                @for (img of slide.mobileImages; track $index; let imgIndex = $index) {
                  <div class="slider-item-image-item">
                    <div class="screen"><img [src]="ssUrl + '/ss_' + img + '.' + prefs.preferences.lang + '.mobile.png'" draggable="false" /></div>
                    <div class="mask"><img [src]="maskUrl + '/mobile.png'" draggable="false" /></div>
                  </div>
                }
              </div>
            } @else {
              @for (img of slide.mobileImages; track $index; let imgIndex = $index) {
                <div class="slider-item-image mobile" id="slider-{{id}}-slide-{{index}}-image-{{imgIndex}}">
                  <div class="screen"><img [src]="ssUrl + '/ss_' + img + '.' + prefs.preferences.lang + '.mobile.png'" draggable="false" /></div>
                  <div class="mask"><img [src]="maskUrl + '/mobile.png'" draggable="false" /></div>
                </div>
              }
            }
          </div>
          <div class="slider-item-footer {{slide.hasImages ? '' : 'no-image'}}">
            @for (footerItem of i18n.texts.pages.home.slides[index].footer; track $index) {
              <div>{{ footerItem }}</div>
            }
          </div>
        </div>
      }
    </div>
    <div class="slider-buttons">
      @for (slide of slides; track $index; let slideIndex = $index) {
        @if (mode === 'desktop') {
          @for (img of slide.desktopImages; track $index; let imgIndex = $index) {
            <div class="slider-button" [ngClass]="{'selected': slideIndex === currentSlideIndex && imgIndex === currentSlideImageIndex}" (click)="setSlide(slideIndex, imgIndex, currentSlideIndex < slideIndex || currentSlideIndex === slideIndex && currentSlideImageIndex < imgIndex, true)"></div>
          }
          <div class="slider-button" [ngClass]="{'selected': slideIndex === currentSlideIndex && currentSlideImageIndex === slide.desktopImages.length}" (click)="setSlide(slideIndex, slide.desktopImages.length, currentSlideIndex < slideIndex || currentSlideIndex === slideIndex && currentSlideImageIndex < slide.desktopImages.length, true)"></div>
        } @else {
          @for (img of slide.mobileImages; track $index; let imgIndex = $index) {
            <div class="slider-button" [ngClass]="{'selected': slideIndex === currentSlideIndex && imgIndex === currentSlideImageIndex}" (click)="setSlide(slideIndex, imgIndex, currentSlideIndex < slideIndex || currentSlideIndex === slideIndex && currentSlideImageIndex < imgIndex, true)"></div>
          }
          @if (slide.mobileImages.length === 0) {
            <div class="slider-button" [ngClass]="{'selected': slideIndex === currentSlideIndex}" (click)="setSlide(slideIndex, 0, currentSlideIndex < slideIndex, true)"></div>
          }
        }
      }
    </div>
    <div class="footer">
      <div class="available-on">{{ i18n.texts.pages.home.available_on }}</div>
    </div>
  </div>

  <div class="bottom-buttons">
    @if (!isAndroidApp) {
      <div class="download">
        <div>
          <a href="/{{prefs.preferences.lang}}/install-apk" (click)="$event.preventDefault()">
            <ion-button (click)="router.navigateByUrl('/' + prefs.preferences.lang + '/install-apk')">
              <ion-icon name="android" slot="start"></ion-icon>
              <ion-label>{{i18n.texts.pages.home.download_apk}}</ion-label>
            </ion-button>
          </a>
        </div>
      </div>
    }
    <div class="account">
      <div>
        <a href="/{{prefs.preferences.lang}}/login" (click)="$event.preventDefault()">
          <ion-button (click)="router.navigateByUrl('/' + prefs.preferences.lang + '/login')" fill="clear" color="secondary">{{i18n.texts.pages.login.title}}</ion-button>
        </a>
      </div>
      <div>
        <a href="/{{prefs.preferences.lang}}/register" (click)="$event.preventDefault()">
          <ion-button (click)="router.navigateByUrl('/' + prefs.preferences.lang + '/register')" fill="clear" color="secondary">{{i18n.texts.pages.register.title}}</ion-button>
        </a>
      </div>
      <div>
        <a href="/try" (click)="$event.preventDefault()" class="home-page-try-app-button">
          <ion-button (click)="router.navigateByUrl('/try')" fill="clear" color="secondary">{{i18n.texts.pages.home.try_app1}}</ion-button>
        </a>
        <div class="under-button">{{i18n.texts.pages.home.try_app2}}</div>
      </div>
    </div>
  </div>
  <div class="side-buttons">
    @if (!isAndroidApp) {
      <div>
        <a href="/{{prefs.preferences.lang}}/install-apk" (click)="$event.preventDefault()">
          <ion-button (click)="router.navigateByUrl('/' + prefs.preferences.lang + '/install-apk')">
            <ion-icon name="android" slot="start"></ion-icon>
            <ion-label>{{i18n.texts.pages.home.download_apk}}</ion-label>
          </ion-button>
        </a>
      </div>
    }
    <div>
      <a href="/{{prefs.preferences.lang}}/login" (click)="$event.preventDefault()">
        <ion-button (click)="router.navigateByUrl('/' + prefs.preferences.lang + '/login')">{{i18n.texts.pages.login.title}}</ion-button>
      </a>
    </div>
    <div>
      <a href="/{{prefs.preferences.lang}}/register" (click)="$event.preventDefault()">
        <ion-button (click)="router.navigateByUrl('/' + prefs.preferences.lang + '/register')">{{i18n.texts.pages.register.title}}</ion-button>
      </a>
    </div>
    <div>
      <a href="/try" (click)="$event.preventDefault()" class="home-page-try-app-button">
        <ion-button (click)="router.navigateByUrl('/try')">{{i18n.texts.pages.home.try_app1}}</ion-button>
      </a>
      <div class="under-button">{{i18n.texts.pages.home.try_app2}}</div>
    </div>
  </div>

  @if (examples) {
    <div class="examples">
      <div class="examples_title">{{i18n.texts.pages.home.examples_title}}</div>
      @defer {
        @for (t of examples; track t.trail.uuid) {
          <div class="example metadata-container two-columns">
            <app-trail-overview
              [trail]="t.trail"
              [trackSnapshot]="t.track"
              [trailInfo]="t.info"
              [hideMenu]="true"
              [fromCollection]="false"
              [config]="exampleConfig"
              [linkWithSlug]="true"
              [dateWithoutTime]="true"
            ></app-trail-overview>
          </div>
        }
      }
      <div class="search-button">
        <a href="/search-route" (click)="$event.preventDefault()" class="home-page-search-route-button">
          <ion-button (click)="router.navigateByUrl('/search-route')">
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>{{i18n.texts.menu.search_trail}}</ion-label>
          </ion-button>
        </a>
      </div>
    </div>
  }

  <div class="legal">
    © {{ year }} Trailence
    -
    <a href="/{{prefs.preferences.lang}}/privay-policy" (click)="$event.preventDefault(); router.navigateByUrl('/' + prefs.preferences.lang + '/privacy-policy');">{{i18n.texts.pages.privacy_policy.title}}</a>
    @if (prefs.preferences.lang === 'fr') {
      &nbsp;<a href="/assets/mentions-legales.2.html" target="_blank">Mentions légales</a>
    }
  </div>
</div>
