ion-toolbar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  padding: 0 10px;

  ion-icon {
    font-size: 1.5rem;
  }
}

ion-content {

  h1 {
    font-size: 20px;
    color: var(--ion-color-secondary);
  }
  h2 {
    font-size: 18px;
    color: var(--ion-color-tertiary);
  }

  div, ul {
    font-size: 14px;
    line-height: 1.25;
  }
  ul {
    padding-inline-start: 20px;
    li {
      margin-top: 8px;
    }
  }
}
