:host {
  position: relative;
  overflow: unset;
}

.top-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .map-container {
    position: absolute;
    z-index: 0;
    background-color: var(--ion-background-color);
  }
  .list-container {
    position: absolute;
    z-index: 0;
    background-color: var(--ion-background-color);
    app-trails-list {
      height: 100%;
    }
  }
  .tabs-container {
    position: absolute;
  }
  .trail-sheet {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--ion-background-color);
    z-index: 10;
    width: 0;
    height: 0;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
    padding: 0 8px;

    &.bottom {
      left: 0;
      height: 130px;
      width: auto;
      &.none {
        height: 0;
      }
      &.two-rows:not(.none) {
        height: 130px;
      }
    }
    &.left {
      top: 0;
      width: 200px;
      height: auto;
      padding-left: 4px;
      overflow-x: hidden;
      overflow-y: auto;
      &.none {
        width: 0;
      }
      app-trail-overview {
        display: block;
        min-width: 196px;
      }
    }
  }

  &.large {
    .list-container {
      top: 0;
      bottom: 0;
      left: 0;
      width: 350px;
    }
    .map-container {
      top: 0;
      bottom: 0;
      left: 350px;
      right: 0;
    }
    .tabs-container {
      display: none;
    }
    &.list-one-col {
      .list-container {
        width: 175px;
      }
      .map-container {
        left: 175px;
      }
    }
  }
  &.small {

    &.map {
      .list-container {
        display: none;
      }
    }

    &.list {
      .map-container {
        display: none;
      }
    }

    &.vertical {
      .tabs-container {
        top: 0;
        left: 0;
        right: 0;
        height: 36px;
      }
      .map-container, .list-container {
        top: 36px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &.horizontal {
      .tabs-container {
        top: 0;
        left: 0;
        height: 36px;
        width: calc(80vh);
        transform: rotate(-90deg) translateY(calc(-80vh));
        transform-origin: top right;
      }
      .map-container, .list-container {
        left: 36px;
        right: 0;
        top: 0;
        bottom: 0;
      }
      .trail-sheet.bottom {
        left: 36px;
      }
    }

  }
}
