<div class="top-container {{ mode }}">
  <div class="map-container">TODO: The Map</div>
  <div class="list-container"><app-trails-list [trails$]="trails$" [mode]="listType" [collectionUuid]="collectionUuid"></app-trails-list></div>
  <div class="tabs-container">
    <ion-segment [value]="tab" color="secondary" (ionChange)="setTab($event.detail.value!.toString())">
      <ion-segment-button value="list" style="min-height: 36px;">{{i18n.texts.pages.trails.tabs.list}}</ion-segment-button>
      <ion-segment-button value="map" style="min-height: 36px;">{{i18n.texts.pages.trails.tabs.map}}</ion-segment-button>
    </ion-segment>
  </div>
</div>
