<div class="top-container {{ mode }}">
  <div class="map-container">
    @if (isSmall && tab === 'map' && !mapReady) {
      <ion-spinner name="dots" class="map-loading"></ion-spinner>
    }
    <app-map #map
      [mapId]="viewId"
      [tracks$]="mapTracks$"
      [bubbles$]="mapBubbles$"
      [showBubbles$]="showBubbles$"
      [bubblesToolAvailable$]="bubblesToolAvailable$"
      (mouseClickPoint)="onTrailClickOnMap($event)"
    >
      @if (mapToolbarTopItems.length > 0) {
        <div class="map-top-controls right">
          <app-toolbar #mapToolbarTop
            [items]="mapToolbarTopItems"
            [iconSize]="24"
            [iconOnlySize]="24"
            textSize="9px"
            [itemMinWidth]="32"
            [itemMaxWidth]="50"
            itemSpace="2px"
            itemPaddingTop="3px"
            itemPaddingBottom="3px"
            itemPaddingLeft="2px"
            itemPaddingRight="2px"
            separatorSpace="4px"
          >
            <app-search-place (placeSelected)="goToPlace($event)"></app-search-place>
          </app-toolbar>
        </div>
      }
    </app-map>
  </div>
  <div class="list-container">
    <app-trails-list
      [listId]="viewId"
      [trails$]="trails$"
      [size]="listSize"
      [collectionUuid]="collectionUuid"
      [listType]="type"
      (trailClick)="onTrailClickOnList($event)"
      [enableShowOnMap]="isSmall"
      (showOnMap)="onTrailClickOnList($event, true)"
      [map]="map"
      (mapFilteredTrails)="updateMap($event)"
      [message]="message"
      [enableRemoveByGesture]="enableRemoveByGesture"
      [showPublished]="showPublished"
      [searching]="searching"
      [onlyBubbles]="!!(bubbles$ | async)?.length"
    ></app-trails-list>
  </div>
  <div class="tabs-container">
    <ion-segment [value]="tab" color="secondary" (ionChange)="setTab($event.detail.value!.toString())" *ngIf="isSmall">
      <ion-segment-button value="list" style="min-height: 36px;">{{i18n.texts.pages.trails.tabs.list}}</ion-segment-button>
      <ion-segment-button value="map" style="min-height: 36px;">{{i18n.texts.pages.trails.tabs.map}}</ion-segment-button>
    </ion-segment>
  </div>
  <div class="trail-sheet {{trailSheetMode}} {{highlightedTrail ? '' : 'none'}} metadata-container {{trailSheetMetadataClass}}">
    <ng-container *ngIf="highlightedTrail && trailSheetMode !== 'none'">
      <app-trail-overview
        [trail]="highlightedTrail"
        [photoEnabled]="false"
        [hasFixedHeight]="true"
        [config]="bottomSheetMetadataConfig"
        [alwaysShowLocation]="true"
        [navigationCount]="bottomSheetTrails?.length"
        [navigationIndex]="bottomSheetTrailsIndex"
        (navigationIndexChange)="navigateBottomSheetTrail($event)"
        [renameOnTrailNamePress]="true"
        [fromCollection]="!!collectionUuid"
      ></app-trail-overview>
    </ng-container>
  </div>
  @if (trailSheetMode === 'none' && bottomSheetTrails && bottomSheetTrails.length > 1) {
    <div class="large-trails-navigation">
      <div>
        <ion-button size="small" fill="clear" color="dark" [disabled]="bottomSheetTrailsIndex === 0" (click)="navigateBottomSheetTrail(bottomSheetTrailsIndex - 1)">
          <ion-icon slot="icon-only" name="chevron-left"></ion-icon>
        </ion-button>
        <div>
          {{bottomSheetTrailsIndex + 1}} / {{bottomSheetTrails.length}}
        </div>
        <ion-button size="small" fill="clear" color="dark" [disabled]="bottomSheetTrailsIndex === bottomSheetTrails.length - 1" (click)="navigateBottomSheetTrail(bottomSheetTrailsIndex + 1)">
          <ion-icon slot="icon-only" name="chevron-right"></ion-icon>
        </ion-button>
      </div>
    </div>
  }
</div>
