<div class="top-container {{ mode }}">
  <div class="map-container">
    <app-map #map
      [mapId]="viewId"
      [tracks$]="mapTracks$"
      [bubbles$]="mapBubbles$"
      [showBubbles$]="showBubbles$"
      (mouseClickPoint)="onTrailClickOnMap($event)"
    >
      @if (enableSearchPlace) {
        <div class="map-top-controls right">
          <div class="map-toolbar horizontal">
            @if (searchPlaceExpanded) {
              <app-search-place #searchPlace (placeSelected)="goToPlace($event)"></app-search-place>
              <ion-icon name="chevron-left" style="width: 24px; height: 24px; margin-top: 5px; cursor: pointer" (click)="collapseSearchPlace()" color="dark"></ion-icon>
            } @else {
              <div class="map-tool icon-only" (click)="expandSearchPlace()">
                <ion-icon name="search" color="dark"></ion-icon>
              </div>
            }
          </div>
        </div>
      }
    </app-map>
  </div>
  <div class="list-container">
    <app-trails-list
      [listId]="viewId"
      [trails]="trails"
      [size]="listSize"
      [collectionUuid]="collectionUuid"
      [listType]="type"
      (trailClick)="onTrailClickOnList($event)"
      [map]="map"
      (mapFilteredTrails)="updateMap($event)"
      [message]="message"
      [enableRemoveByGesture]="enableRemoveByGesture"
    ></app-trails-list>
  </div>
  <div class="tabs-container">
    <ion-segment [value]="tab" color="secondary" (ionChange)="setTab($event.detail.value!.toString())" *ngIf="isSmall">
      <ion-segment-button value="list" style="min-height: 36px;">{{i18n.texts.pages.trails.tabs.list}}</ion-segment-button>
      <ion-segment-button value="map" style="min-height: 36px;">{{i18n.texts.pages.trails.tabs.map}}</ion-segment-button>
    </ion-segment>
  </div>
  <div class="trail-sheet {{trailSheetMode}} {{highlightedTrail ? '' : 'none'}} metadata-container {{trailSheetMetadataClass}}">
    <ng-container *ngIf="highlightedTrail">
      <app-trail-overview [trail]="highlightedTrail" [photoEnabled]="false" [hasFixedHeight]="true"></app-trail-overview>
    </ng-container>
  </div>
</div>
