<div class="table-container">
@if (goals) {
  <table>
    <tr>
      <th></th>
      <th>{{ i18n.texts.admin.donations.goals.index }}</th>
      <th>{{ i18n.texts.admin.donations.goals.type }}</th>
      <th>{{ i18n.texts.admin.donations.goals.amount }}</th>
      <th>{{ i18n.texts.admin.donations.goals.createdAt }}</th>
      <th>{{ i18n.texts.admin.donations.goals.updatedAt }}</th>
    </tr>
    @for (goal of goals; track goal.index) {
      <tr>
        <td>
          @if (goal.index > 1) {
            <ion-button size="small" (click)="moveUp(goal)">
              <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
            </ion-button>
          }
          @if (goal.index < goals.length) {
            <ion-button size="small" (click)="moveDown(goal)">
              <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
            </ion-button>
          }
        </td>
        <td>{{ goal.index }}</td>
        <td><input type="text" [(ngModel)]="goal.type"/></td>
        <td><input type="number" min="0" step="0.01" [(ngModel)]="goal.amount"/></td>
        <td>{{ i18n.timestampToDateTimeString(goal.createdAt) }}</td>
        <td>{{ i18n.timestampToDateTimeString(goal.updatedAt) }}</td>
      </tr>
    }
  </table>
}
</div>
@if (goals) {
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="solid" (click)="addGoal()">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        <ion-label>{{ i18n.texts.buttons.create }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="success" fill="clear" (click)="save()">
        <ion-icon name="save" slot="start"></ion-icon>
        <ion-label>{{ i18n.texts.buttons.save }}</ion-label>
      </ion-button>
      <ion-button color="medium" fill="clear" (click)="refresh()">
        <ion-icon name="reset" slot="start"></ion-icon>
        <ion-label>{{ i18n.texts.buttons.cancel }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
}
