<div class="menu-header">
  <div class="menu-title">
    <ion-icon name="logo"></ion-icon>
    <span>Trailence</span>
  </div>
  <div class="menu-close">
    <ion-button fill="clear" color="dark" (click)="close();">
      <ion-icon name="cross" slot="icon-only" style="color: var(--ion-color-primary-contrast)"></ion-icon>
    </ion-button>
  </div>
</div>
<div class="menu-content" data-nosnippet>

  <ng-container *ngIf="fetchSourceService.canSearch$ | async">
    <div class="menu-item" (click)="goTo('/trails/search'); close();">
      <ion-icon name="search-map" class="left-icon"></ion-icon>
      <div class="item-title-container">
        <div class="item-title">{{ i18n.texts.menu.search_trail }}</div>
      </div>
    </div>
  </ng-container>

  <div class="menu-item" (click)="goTo('/trail-planner'); close();">
    <ion-icon name="planner" class="left-icon"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.menu.planner }}</div>
    </div>
  </div>

  <div class="menu-item" (click)="goToRecordTrace(); close();">
    <ion-icon name="play" class="left-icon"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.menu[traceRecorder.recording ? 'current_trace' : 'start_trace'] }}</div>
    </div>
  </div>

  <div class="menu-separator"></div>

  <div class="menu-item user-selection" (click)="goTo('/trails/my-selection'); close();" style="color: var(--ion-color-my-selection)">
    <div class="item-title-container">
      <div class="item-title">
        <div class="name-and-count">
          <ion-icon name="star-filled" class="left-icon"></ion-icon>
          <a href="/trails/my-selection" target="_blank" class="inherit name" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
            {{ i18n.texts.my_selection }}
          </a>
          <div class="count">{{mySelectionCount}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-section" id="section-collections">
    <div class="menu-section-header no-separator-before" (click)="collectionsOpen = !collectionsOpen">
      <ion-icon name="collection" class="left-icon"></ion-icon>
      <div class="section-title">{{ i18n.texts.menu.collections }}</div>
      <ion-button size="small" shape="round" fill="clear" color="secondary">
        <ion-icon slot="icon-only" [name]="collectionsOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
      </ion-button>
    </div>
    @if (collectionsOpen) {
      @for (collectionWithInfo of collections; track collectionWithInfo.collection.uuid) {
        <div class="menu-item item-collection" (click)="goTo('/trails/collection/' + collectionWithInfo.collection.uuid); close();">
          <div class="item-title-container">
            <div class="item-title with-actions">
              <div class="name-and-count">
                <a href="/trails/collection/{{collectionWithInfo.collection.uuid}}" target="_blank" class="inherit name" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                  {{ collectionWithInfo.collection.name.length === 0 && collectionWithInfo.collection.type === 'MY_TRAILS' ? i18n.texts.my_trails : collectionWithInfo.collection.name }}
                </a>
                <div *ngIf="collectionWithInfo.nbTrails !== undefined" class="count">{{collectionWithInfo.nbTrails}}</div>
              </div>
              <ion-button fill="clear" size="small" (click)="openCollectionMenu($event, collectionWithInfo.collection);">
                <ion-icon slot="icon-only" name="item-menu"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      }
      <div class="menu-item all-collections" (click)="goTo('/trails/all-collections'); close();">
        <div class="item-title-container">
          <div class="item-title">
            <div class="name-and-count">
              <a href="/trails/all-collections" target="_blank" class="inherit name" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                {{ i18n.texts.all_collections }}
              </a>
              <div class="count">{{allCollectionsTrails}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item new-collection" (click)="collectionService.collectionPopup(); close();">
        <div class="item-title-container">
          <div class="item-title">{{ i18n.texts.pages.trails.actions.new_collection }}</div>
        </div>
      </div>
    }
  </div>

  <div class="menu-section" id="section-shared-with-me">
    <div class="menu-section-header" (click)="sharedWithMeOpen = !sharedWithMeOpen">
      <ion-icon name="share" class="left-icon"></ion-icon>
      <div class="section-title">{{ i18n.texts.menu.shared_with_me }}</div>
      <ion-button size="small" shape="round" fill="clear" color="secondary">
        <ion-icon slot="icon-only" [name]="sharedWithMeOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
      </ion-button>
    </div>
    @if (sharedWithMeOpen) {
      <ng-container *ngIf="!sharedWithMe.isEmpty()">
        <div class="menu-item" *ngFor="let shareWithInfo of sharedWithMe" (click)="goTo('/trails/share/' + shareWithInfo.share.uuid + '/' + shareWithInfo.share.owner); close();">
          <div class="item-title-container">
            <div class="item-title with-actions">
              <div class="name-and-count">
                <a href="/trails/share/{{shareWithInfo.share.uuid}}/{{shareWithInfo.share.owner}}" target="_blank" class="inherit name" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                  {{ shareWithInfo.share.name }}
                </a>
                <div *ngIf="shareWithInfo.nbTrails !== undefined" class="count">{{shareWithInfo.nbTrails}}</div>
              </div>
              <ion-button fill="clear" size="small" (click)="openShareMenu($event, shareWithInfo.share)">
                <ion-icon slot="icon-only" name="item-menu"></ion-icon>
              </ion-button>
            </div>
            <div class="item-sub-title">{{shareWithInfo.share.owner}}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="sharedWithMe.isEmpty()">
        <div class="menu-item no-item">{{i18n.texts.menu.nothing_shared_with_me}}</div>
      </ng-container>
    }
  </div>

  <div class="menu-section" id="section-shared-by-me">
    <div class="menu-section-header" (click)="sharedByMeOpen = !sharedByMeOpen">
      <ion-icon name="share-outline" class="left-icon"></ion-icon>
      <div class="section-title">{{ i18n.texts.menu.shared_by_me }}</div>
      <ion-button size="small" shape="round" fill="clear" color="secondary">
        <ion-icon slot="icon-only" [name]="sharedByMeOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
      </ion-button>
    </div>
    @if (sharedByMeOpen) {
      <ng-container *ngIf="!sharedByMe.isEmpty()">
        <div class="menu-item" *ngFor="let shareWithInfo of sharedByMe" (click)="goTo('/trails/share/' + shareWithInfo.share.uuid + '/' + shareWithInfo.share.owner); close();">
          <div class="item-title-container">
            <div class="item-title with-actions">
              <div class="name-and-count">
                <a href="/trails/share/{{shareWithInfo.share.uuid}}/{{shareWithInfo.share.owner}}" target="_blank" class="inherit name" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                  {{ shareWithInfo.share.name }}
                </a>
                <div *ngIf="shareWithInfo.nbTrails !== undefined" class="count">{{shareWithInfo.nbTrails}}</div>
              </div>
              <ion-button fill="clear" size="small" (click)="openShareMenu($event, shareWithInfo.share)">
                <ion-icon slot="icon-only" name="item-menu"></ion-icon>
              </ion-button>
            </div>
            <div class="item-sub-title">{{ emailsSplit(shareWithInfo.share.recipients) }}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="sharedByMe.isEmpty()">
        <div class="menu-item no-item">{{i18n.texts.menu.nothing_shared_by_me}}</div>
      </ng-container>
    }
  </div>

  @if (isAnonymous) {
    <div class="info">
      <ion-icon name="info"></ion-icon>
      <span>{{ i18n.texts.menu.no_share_for_anonymous }}</span>
    </div>
  }

  @if ((pubDraft && pubDraft.nbTrails) || (pubSubmit && pubSubmit.nbTrails) || (pubReject && pubReject.nbTrails) || myPublicTrails.length > 0) {
    <div class="menu-section" id="section-publications">
      <div class="menu-section-header" (click)="publicationsOpen = !publicationsOpen">
        <ion-icon name="web" class="left-icon"></ion-icon>
        <div class="section-title">{{ i18n.texts.menu.my_publications }}</div>
        <ion-button size="small" shape="round" fill="clear" color="secondary">
          <ion-icon slot="icon-only" [name]="publicationsOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
        </ion-button>
      </div>
      @if (publicationsOpen) {
        @if (pubDraft) {
          <div class="menu-item" (click)="goTo('/trails/collection/' + pubDraft.collection.uuid + '/' + pubDraft.collection.owner); close();">
            <div class="item-title-container">
              <div class="item-title">
                <div class="name-and-count">
                  <a href="/trails/collection/{{pubDraft.collection.uuid}}/{{pubDraft.collection.owner}}" target="_blank" class="inherit name pub-draft" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                    {{ i18n.texts.publications.draft_name }}
                  </a>
                  <div *ngIf="pubDraft.nbTrails !== undefined" class="count">{{pubDraft.nbTrails}}</div>
                </div>
              </div>
            </div>
          </div>
        }
        @if (pubSubmit) {
          <div class="menu-item" (click)="goTo('/trails/collection/' + pubSubmit.collection.uuid + '/' + pubSubmit.collection.owner); close();">
            <div class="item-title-container">
              <div class="item-title">
                <div class="name-and-count">
                  <a href="/trails/collection/{{pubSubmit.collection.uuid}}/{{pubSubmit.collection.owner}}" target="_blank" class="inherit name pub-submit" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                    {{ i18n.texts.publications.submit_name }}
                  </a>
                  <div *ngIf="pubSubmit.nbTrails !== undefined" class="count">{{pubSubmit.nbTrails}}</div>
                </div>
              </div>
            </div>
          </div>
        }
        @if (pubReject) {
          <div class="menu-item" (click)="goTo('/trails/collection/' + pubReject.collection.uuid + '/' + pubReject.collection.owner); close();">
            <div class="item-title-container">
              <div class="item-title">
                <div class="name-and-count">
                  <a href="/trails/collection/{{pubReject.collection.uuid}}/{{pubReject.collection.owner}}" target="_blank" class="inherit name pub-reject" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                    {{ i18n.texts.publications.reject_name }}
                  </a>
                  <div *ngIf="pubReject.nbTrails !== undefined" class="count">{{pubReject.nbTrails}}</div>
                </div>
              </div>
            </div>
          </div>
        }
        <div class="menu-item" (click)="goTo('/trails/my-publications'); close();">
          <div class="item-title-container">
            <div class="item-title">
              <div class="name-and-count">
                <a href="/trails/my-publications" target="_blank" class="inherit name published" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">
                  {{ i18n.texts.publications.my_public_trails_name }}
                </a>
                <div class="count">{{myPublicTrails.length}}</div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

  }

  <div class="menu-separator"></div>

  <div class="menu-item" (click)="goTo('/stats'); close();">
    <ion-icon name="stats" class="left-icon"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.pages.stats.title }}</div>
    </div>
  </div>

  <ng-container *ngIf="isAdmin || isModerator">
    <div class="menu-section" id="section-moderation">
      <div class="menu-section-header" (click)="moderationOpen = !moderationOpen">
        <ion-icon name="web" class="left-icon"></ion-icon>
        <div class="section-title">{{ i18n.texts.publications.moderation.menu_title }}</div>
        <ion-button size="small" shape="round" fill="clear" color="secondary">
          <ion-icon slot="icon-only" [name]="moderationOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
        </ion-button>
      </div>
      @if (moderationOpen) {
        <div class="menu-item" (click)="goTo('/trails/moderation'); close();">
          <div class="item-title-container">
            <div class="item-title trails-moderation">{{ i18n.texts.publications.moderation.menu_trails }}</div>
          </div>
        </div>
        <div class="menu-item" (click)="goTo('/moderation/comments'); close();">
          <div class="item-title-container">
            <div class="item-title comments-moderation">{{ i18n.texts.publications.moderation.menu_comments }}</div>
          </div>
        </div>
      }
    </div>
    @if (isAdmin && !isNative) {
      <div class="menu-separator"></div>
      <div class="menu-item" (click)="goTo('/admin'); close();">
        <ion-icon name="tool" class="left-icon"></ion-icon>
        <div class="item-title-container">
          <div class="item-title">{{ i18n.texts.administration }}</div>
        </div>
      </div>
    }
  </ng-container>

  <div class="menu-separator"></div>
  <div class="menu-item" (click)="goToPublicPage('/contact'); close();">
    <ion-icon name="mail" class="left-icon"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.pages.contact.title }}</div>
    </div>
  </div>
  <div class="menu-item" (click)="goToPublicPage('/donation'); close();">
    <ion-icon name="heart-outline" class="donation-color left-icon"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.pages.donation.title }}</div>
    </div>
  </div>

</div>
<div class="menu-footer">
  <div class="menu-item" (click)="update.availableDownload.launch(); close();" *ngIf="update.availableDownload">
    <div class="icon-badge" *ngIf="update.availableDownload.badge">
      <ion-icon class="left-icon" [name]="update.availableDownload.icon"></ion-icon>
      <ion-badge>{{update.availableDownload.badge}}</ion-badge>
    </div>
    <ion-icon class="left-icon" [name]="update.availableDownload.icon" *ngIf="!update.availableDownload.badge"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{i18n.texts.update[update.availableDownload.i18nText]}}</div>
    </div>
  </div>

  <div class="menu-bottom">
    <div class="version">Trailence {{versionName}}</div>
    <a href="/privacy-policy" (click)="$event.preventDefault(); goToPublicPage('/privacy-policy'); close();">
      {{ i18n.texts.pages.privacy_policy.title }}
    </a>
  </div>

</div>
