<app-toolbar
  [items]="toolbar"
  [maxItems]="size === 'small' ? 2 : size === 'large' ? 4 : 3"
  [itemPaddingLeft]="size === 'medium' ? '2px' : '4px'"
  [itemPaddingRight]="size === 'medium' ? '2px' : '4px'"
  [itemSpace]="size === 'medium' ? '2px' : '4px'"
  [itemMinWidth]="60"
></app-toolbar>
<div class="message" *ngIf="message">
  {{message | i18nString}}
</div>
<div class="selection list-{{size}}">
  <ng-container *ngTemplateOutlet="templateSelectionButton; context: { nbSelected: nbSelected, nbShown: nbShown }"></ng-container>
  <ng-template let-selected="nbSelected" let-total="nbShown" #templateSelectionButton>
    <ion-checkbox [indeterminate]="selected > 0 && selected < total" [checked]="selected > 0 && selected === total" (ionChange)="selectAll($event.detail.checked)"></ion-checkbox>
    <ion-button color="light" size="small" id="trail-list-{{id}}-selection-button" [disabled]="selected === 0">
      <ion-label>
        {{ selected }} / {{ total }} {{ size !== 'small' ? (i18n.texts[selected > 1 ? 'selected_plural' : 'selected_single']) : '' }}
      </ion-label>
      <ion-icon slot="end" name="caret-down"></ion-icon>
    </ion-button>
    <ion-popover trigger="trail-list-{{id}}-selection-button" [dismissOnSelect]="true" class="tight-menu">
      <ng-template>
        <ion-content>
          <app-menu-content [menu]="trailMenuService.getTrailsMenu(getSelectedTrails(), false, collectionUuid)"></app-menu-content>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ng-template>
  <div class="space"></div>
  <div class="view-selection">
    <ion-segment mode="ios" [value]="state$.value.mode" (ionChange)="setListMode($event.detail.value)">
      <ion-segment-button value="detailed"><ion-icon name="list-detailed"></ion-icon></ion-segment-button>
      <ion-segment-button value="condensed"><ion-icon name="list-condensed"></ion-icon></ion-segment-button>
    </ion-segment>
  </div>
</div>
<div class="trails">
  @if (trails$ === undefined) {
    <div style="display: flex; flex-direction: row; justify-content: center; margin: 10px;">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  } @else if (trails$ && trails$.size === 0) {
    <div class="empty-list">
      @if (listType === 'collection') {
        <div>{{i18n.texts.pages.trails.empty_list.collection}}</div>
        <div>
          <app-toolbar
            [items]="emptyListTools"
          ></app-toolbar>
        </div>
      } @else if (listType === 'share') {
        <div>{{i18n.texts.pages.trails.empty_list.share}}</div>
      } @else if (listType === 'all-collections') {
        <div>{{i18n.texts.pages.trails.empty_list.all_collections}}</div>
      }
    </div>
  } @else if (listTrails.size === 0) {
    <div class="empty-list">
      <div>{{i18n.texts.pages.trails.empty_list.filter}}</div>
    </div>
  } @else {
    @switch (state$.value.mode) {
      @case ("detailed") {
        @for (trailWithInfo of listTrails; track trailWithInfo.trail.uuid + trailWithInfo.trail.owner) {
          <div class="trail metadata-container {{size === 'large' ? 'two-columns' : ('one-column' + (size === 'medium' ? ' accept-small' : ''))}}"
            [ngStyle]="{'background-color': highlighted === trailWithInfo.trail ? 'rgba(var(--ion-color-medium-rgb), 0.33)' : ''}"
            id="trail-list-{{id}}-trail-{{trailWithInfo.trail.uuid}}-{{trailWithInfo.trail.owner}}"
            [horizontalGesture]="enableRemoveByGesture" (horizontalGesturePerformed)="removeFromList(trailWithInfo)"
          >
            <app-trail-overview
              [trail]="trailWithInfo.trail"
              [selectable]="true"
              [selected]="trailWithInfo.selected"
              (selectedChange)="trailWithInfo.selected = $event; onTrailSelected();"
              (click)="onTrailClick(trailWithInfo.trail)"
              [fromCollection]="!!collectionUuid"
              [isAllCollections]="listType === 'all-collections'"
              [trackSnapshot]="trailWithInfo.track"
              [delayLoading]="$index >= 10"
              [photoCanBeOnLeft]="size !== 'small'"
            ></app-trail-overview>
          </div>
        }
      }

      @case ("condensed") {
        @for (trailWithInfo of listTrails; track trailWithInfo.trail.uuid + trailWithInfo.trail.owner) {
          <app-trail-overview-condensed
            id="trail-list-{{id}}-trail-{{trailWithInfo.trail.uuid}}-{{trailWithInfo.trail.owner}}"
            [trail]="trailWithInfo.trail"
            [track]="trailWithInfo.track"
            [selectable]="true"
            [selected]="trailWithInfo.selected"
            (selectedChange)="trailWithInfo.selected = $event; onTrailSelected();"
            [fromCollection]="!!collectionUuid"
            [ngStyle]="{'background-color': highlighted === trailWithInfo.trail ? 'rgba(var(--ion-color-medium-rgb), 0.33)' : ''}"
            (click)="onTrailClick(trailWithInfo.trail)"
            [horizontalGesture]="enableRemoveByGesture" (horizontalGesturePerformed)="removeFromList(trailWithInfo)"
          >
          </app-trail-overview-condensed>
        }
      }
    }
  }
</div>
<div class="search-container" [ngClass]="{'open': searchOpen}" *ngIf="trails$?.size">
  <div class="search-bar">
    <ion-input fill="solid" color="dark" class="small" id="search-trail-{{id}}"
      [value]="state$.value.filters.search"
      (ionInput)="searchTrailInput($event.detail.value)"
      [placeholder]="i18n.texts.pages.trails.search_trail_placeholder"
    >
      <ion-icon slot="end" name="cross" (click)="clearSearch()"></ion-icon>
    </ion-input>
  </div>
  <div class="search-button">
    <ion-button shape="round" color="primary" (click)="toggleSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </div>
</div>

<ion-modal #filtersModal>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="filters" style="margin-right: 10px"></ion-icon>
          <ion-label>{{i18n.texts.pages.trails.edit_filters_popup_title}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="filter-value">
        <ion-checkbox class="filter-map"
          [checked]="state$.value.filters.onlyVisibleOnMap"
          (ionChange)="updateFilterOnlyVisibleOnMap($event.detail.checked)"
          labelPlacement="end"
        >{{i18n.texts.pages.trails.filters.onlyVisibleOnMap}}</ion-checkbox>
      </div>

      <div class="filter-header">
        <ion-icon name="duration"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.duration }}</div>
      </div>
      <div class="filter-value">
        <app-filter-numeric
          [minValue]="0" [maxValue]="24" [step]="1"
          [selectedMinValue]="state$.value.filters.duration.from || 0" [selectedMaxValue]="state$.value.filters.duration.to || 24"
          (selectionChange)="updateNumericFilter(state$.value.filters.duration, $event)"
          [valueFormatter]="durationFormatter"
          [maxValueLabel]="i18n.hoursToString(24) + '+'"></app-filter-numeric>
      </div>

      <div class="filter-header">
        <ion-icon name="chrono"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.estimatedDuration }}</div>
      </div>
      <div class="filter-value">
        <app-filter-numeric
          [minValue]="0" [maxValue]="24" [step]="1"
          [selectedMinValue]="state$.value.filters.estimatedDuration.from || 0" [selectedMaxValue]="state$.value.filters.estimatedDuration.to || 24"
          (selectionChange)="updateNumericFilter(state$.value.filters.estimatedDuration, $event)"
          [valueFormatter]="durationFormatter"
          [maxValueLabel]="i18n.hoursToString(24) + '+'"></app-filter-numeric>
      </div>

      <div class="filter-header">
        <ion-icon name="distance"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.distance }}</div>
      </div>
      <div class="filter-value" *ngIf="getDistanceFilterConfig() as config">
        <app-filter-numeric
          [minValue]="config.min" [maxValue]="config.max" [step]="config.step"
          [selectedMinValue]="state$.value.filters.distance.from || config.min" [selectedMaxValue]="state$.value.filters.distance.to || config.max"
          (selectionChange)="updateNumericFilter(state$.value.filters.distance, $event)"
          [valueFormatter]="config.formatter"
          [maxValueLabel]="config.formatter(config.max) + '+'"></app-filter-numeric>
      </div>

      <ng-container *ngIf="getElevationFilterConfig() as config">
        <div class="filter-header">
          <ion-icon name="positive-elevation"></ion-icon>
          <div>{{ i18n.texts.pages.trails.filters.positive_elevation }}</div>
        </div>
        <div class="filter-value">
          <app-filter-numeric
            [minValue]="config.min" [maxValue]="config.max" [step]="config.step"
            [selectedMinValue]="state$.value.filters.positiveElevation.from || config.min" [selectedMaxValue]="state$.value.filters.positiveElevation.to || config.max"
            (selectionChange)="updateNumericFilter(state$.value.filters.positiveElevation, $event)"
            [valueFormatter]="config.formatter"
            [maxValueLabel]="config.formatter(config.max) + '+'"></app-filter-numeric>
        </div>
        <div class="filter-header">
          <ion-icon name="negative-elevation"></ion-icon>
          <div>{{ i18n.texts.pages.trails.filters.negative_elevation }}</div>
        </div>
        <div class="filter-value">
          <app-filter-numeric
            [minValue]="config.min" [maxValue]="config.max" [step]="config.step"
            [selectedMinValue]="state$.value.filters.negativeElevation.from || config.min" [selectedMaxValue]="state$.value.filters.negativeElevation.to || config.max"
            (selectionChange)="updateNumericFilter(state$.value.filters.negativeElevation, $event)"
            [valueFormatter]="config.formatter"
            [maxValueLabel]="config.formatter(config.max) + '+'"></app-filter-numeric>
        </div>
      </ng-container>
      <div class="filter-header">
        <ion-icon name="loop"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.loopType }}</div>
      </div>
      <div class="filter-value">
        <ion-select
          [multiple]="true"
          [value]="state$.value.filters.loopTypes || []"
          (ionChange)="updateEnumFilter(state$.value.filters.loopTypes, $event.detail.value)"
          placeholder="{{i18n.texts.pages.trails.filters.loopTypePlaceholder}}"
          cancelText="{{i18n.texts.buttons.cancel}}"
          okText="{{i18n.texts.buttons.apply}}"
          [interfaceOptions]="{header: i18n.texts.pages.trails.filters.loopType}"
        >
          <ion-select-option  *ngFor="let lt of loopTypes" [value]="lt">{{ i18n.texts.loopType[lt] }}</ion-select-option>
        </ion-select>
      </div>
      <div class="filter-header">
        <ion-icon name="hiking"></ion-icon>
        <div>{{ i18n.texts.metadata.activity }}</div>
      </div>
      <div class="filter-value">
        <ion-button (click)="openActivitiesDialog()" fill="clear" color="dark" style="text-transform: none; letter-spacing: inherit;">
          {{ getSelectedActivitiesButtonTest() }}
        </ion-button>
      </div>
      <ng-container *ngIf="collectionUuid">
        <div class="filter-header">
          <ion-icon name="tags"></ion-icon>
          <div>{{ i18n.texts.pages.trails.filters.tags }}</div>
        </div>
        <div class="filter-value">
          <app-filter-tags [collectionUuid]="collectionUuid" [filter]="state$.value.filters.tags" (filterChange)="updateTagsFilter($event)"></app-filter-tags>
        </div>
      </ng-container>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button (click)="resetFilters()">{{i18n.texts.pages.trails.filters.reset_button}}</ion-button>
          <ion-button [strong]="true" (click)="filtersModal.dismiss()">{{i18n.texts.buttons.close}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>


<ion-modal #sortModal>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="sort" style="margin-right: 10px"></ion-icon>
          <ion-label>{{i18n.texts.pages.trails.edit_sort_popup_title}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item lines="none">
        <div slot="start">{{i18n.texts.order_way}}</div>
        <app-toggle-choice
          [value1]="true" label1="{{i18n.texts.order_asc}}"
          [value2]="false" label2="{{i18n.texts.order_desc}}"
          [value]="state$.value.sortAsc" (valueChanged)="sortAsc($event)"
        ></app-toggle-choice>
      </ion-item>
      <br/>
      <ion-list>
        <ion-radio-group [value]="state$.value.sortBy" (ionChange)="sortBy($event.detail.value)">
          <ion-item><ion-radio value="track.startDate"><ion-icon name="date"></ion-icon> {{i18n.texts.pages.trails.sorts.trail_date}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.createdAt"><ion-icon name="date"></ion-icon> {{i18n.texts.pages.trails.sorts.creation_date}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.updatedAt"><ion-icon name="date"></ion-icon> {{i18n.texts.pages.trails.sorts.update_date}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.distance"><ion-icon name="distance"></ion-icon> {{i18n.texts.pages.trails.sorts.distance}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.duration"><ion-icon name="duration"></ion-icon> {{i18n.texts.pages.trails.sorts.duration}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.estimatedDuration"><ion-icon name="chrono"></ion-icon> {{i18n.texts.pages.trails.sorts.estimatedDuration}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.positiveElevation"><ion-icon name="positive-elevation"></ion-icon> {{i18n.texts.pages.trails.sorts.positive_elevation}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.negativeElevation"><ion-icon name="negative-elevation"></ion-icon> {{i18n.texts.pages.trails.sorts.negative_elevation}}</ion-radio></ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button [strong]="true" (click)="sortModal.dismiss()">{{i18n.texts.buttons.close}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
