:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}

app-toolbar {
  border-bottom: 2px solid rgba(var(--ion-text-color-rgb), 0.1);
  padding-bottom: 2px;
}

.message {
  padding: 4px 8px;
  border-bottom: 2px solid rgba(var(--ion-text-color-rgb), 0.1);
  font-size: 14px;
  color: var(--ion-color-secondary);
}

.selection {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgba(var(--ion-text-color-rgb), 0.1);

  ion-checkbox {
    flex: none;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-left: 5px;
  }

  div.nb-selected {
    font-size: 14px;
    white-space: nowrap;
    color: rgba(var(--ion-color-dark-rgb), 0.8);
    flex: 1 1 100%;
  }

  ion-button.selection-button {
    flex: none;
    min-height: 25px;
  }
  &.list-medium {
    ion-checkbox {
      padding-right: 4px;
    }
    ion-button {
      font-size: 11px;
      --padding-start: 2px;
      --padding-end: 2px;
    }
  }
}

.trails {
  flex: 1 1 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  .trail {
    padding: 3px 5px;
    border-bottom: 1px solid rgba(var(--ion-text-color-rgb), 0.1);
  }

  .empty-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    div:first-child {
      font-size: 14px;
      font-style: italic;
      color: var(--ion-color-medium);
      text-align: center;
    }
    div:nth-child(2) {
      margin-top: 8px;
    }
  }
}

.filter-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  ion-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: var(--ion-color-secondary);
  }
  div {
    color: var(--ion-color-tertiary);
  }
}

.filter-value {
  margin-bottom: 5px;
}

ion-item ion-radio ion-icon {
  margin-bottom: -2px;
}

@media (max-height: 600px) {
  ion-radio-group {
    ion-item {
      --min-height: 40px;
    }
  }
}
@media (max-width: 550px) {
  .filter-value ion-checkbox::part(label) {
    text-overflow: unset;
    white-space: unset;
  }
}
