<app-toolbar
  [items]="toolbar"
  [itemPaddingLeft]="size !== 'large' ? '2px' : '4px'"
  [itemPaddingRight]="size !== 'large' ? '2px' : '4px'"
  [itemSpace]="size !== 'large' ? '2px' : '4px'"
  [itemMinWidth]="size === 'small' ? 55 : 60"
  [noScroll]="true"
></app-toolbar>
<div class="message" *ngIf="message">
  {{message | i18nString}}
</div>
@if (trails$ !== undefined && trails$.size > 0) {
  <div class="selection list-{{size}}">
    <ng-container *ngTemplateOutlet="templateSelectionButton; context: { nbSelected: nbSelected, nbShown: nbShown }"></ng-container>
    <ng-template let-selected="nbSelected" let-total="nbShown" #templateSelectionButton>
      <ion-checkbox [indeterminate]="selected > 0 && selected < total" [checked]="selected > 0 && selected === total" (ionChange)="selectAll($event)"></ion-checkbox>
      <div class="nb-selected">
        {{ selected }} / {{ total }} {{ size !== 'small' ? (i18n.texts[selected > 1 ? 'selected_plural' : 'selected_single']) : '' }}
      </div>
      @if (selected > 0) {
        <ion-button color="dark" fill="clear" class="selection-button" (click)="openSelectionMenu($event)">
          <ion-icon slot="icon-only" name="more-menu"></ion-icon>
        </ion-button>
      }
    </ng-template>
  </div>
}
<div class="trails">
  @if (searching) {
    <div style="display: flex; flex-direction: row; justify-content: center; margin: 10px; position: absolute; top: 0; left: 0; right: 0; height: 25px;">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  }
  @if (trails$ === undefined) {
    @if (listType === 'search') {
      <div class="empty-list">
        <div>
          <div>{{ i18n.texts.pages.trails.empty_list.launch_search }}</div>
          <ion-icon name="search-map" color="dark" style="width: 24px; height: 24px;"></ion-icon>
        </div>
      </div>
    } @else {
      <div style="display: flex; flex-direction: row; justify-content: center; margin: 10px;">
        <ion-spinner name="dots"></ion-spinner>
      </div>
    }
  } @else if (trails$ && trails$.size === 0) {
    <div class="empty-list">
      @if (listType === 'collection') {
        <div>{{i18n.texts.pages.trails.empty_list.collection}}</div>
        <div>
          <app-toolbar
            [items]="emptyListTools"
          ></app-toolbar>
        </div>
      } @else if (listType === 'share') {
        <div>{{i18n.texts.pages.trails.empty_list.share}}</div>
      } @else if (listType === 'all-collections') {
        <div>{{i18n.texts.pages.trails.empty_list.all_collections}}</div>
      } @else if (listType === 'my-selection') {
        <div>{{i18n.texts.pages.trails.empty_list.my_selection}}</div>
      } @else if (listType === 'search') {
        @if (onlyBubbles) {
          <div>{{i18n.texts.pages.trails.empty_list.only_bubbles}}</div>
        } @else {
          <div>{{i18n.texts.pages.trails.empty_list.search}}</div>
        }
      }
    </div>
  } @else if (listTrails.size === 0) {
    <div class="empty-list">
      <div>{{i18n.texts.pages.trails.empty_list.filter}}</div>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="trailsListTemplate; context: { nbSelected: nbSelected }"></ng-container>
  }
  <div class="list-bottom"></div>
</div>
<div class="search-container" [ngClass]="{'open': searchOpen}" *ngIf="trails$?.size">
  <div class="search-bar">
    <ion-input fill="solid" color="dark" class="small" id="search-trail-{{id}}"
      [value]="state$.value.filters.search"
      (ionInput)="searchTrailInput($event.detail.value)"
      [placeholder]="i18n.texts.pages.trails.search_trail_placeholder"
    >
      <ion-icon slot="end" name="cross" (click)="clearSearch()"></ion-icon>
    </ion-input>
  </div>
  <div class="search-button">
    <ion-button shape="round" color="primary" (click)="toggleSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </div>
</div>

<ng-template #trailsListTemplate let-nbSelected="nbSelected">
  @if (state$.value.mode === 'condensed') {
    @for (trailWithInfo of listTrails; track trailWithInfo.trail.uuid + trailWithInfo.trail.owner) {
      <app-trail-overview-condensed
        id="trail-list-{{id}}-trail-{{trailWithInfo.trail.uuid}}-{{trailWithInfo.trail.owner}}"
        [trail]="trailWithInfo.trail"
        [track]="trailWithInfo.track"
        [selectable]="true"
        [selected]="trailWithInfo.selected"
        (selectedChange)="trailWithInfo.selected = $event; onTrailSelected();"
        [fromCollection]="!!collectionUuid"
        [isAllCollections]="listType === 'all-collections'"
        [ngStyle]="{'background-color': highlighted === trailWithInfo.trail ? 'rgba(var(--ion-color-medium-rgb), 0.33)' : ''}"
        (click)="onTrailClick(trailWithInfo.trail)"
        [horizontalGesture]="enableRemoveByGesture" (horizontalGesturePerformed)="removeFromList(trailWithInfo)"
        [hideMenu]="nbSelected > 0"
        (openTrailEvent)="setHighlighted($event)"
      >
      </app-trail-overview-condensed>
    }
  } @else {
    @for (trailWithInfo of listTrails; track trailWithInfo.trail.uuid + trailWithInfo.trail.owner) {
      <div class="trail metadata-container {{size === 'large' ? 'two-columns' : ('one-column' + (size === 'medium' ? ' accept-small' : ''))}}"
        [ngStyle]="{'background-color': highlighted === trailWithInfo.trail ? 'rgba(var(--ion-color-medium-rgb), 0.33)' : ''}"
        id="trail-list-{{id}}-trail-{{trailWithInfo.trail.uuid}}-{{trailWithInfo.trail.owner}}"
        [horizontalGesture]="enableRemoveByGesture" (horizontalGesturePerformed)="removeFromList(trailWithInfo)"
      >
        <app-trail-overview
          [trail]="trailWithInfo.trail"
          [trailInfo]="trailWithInfo.info"
          [trailTags]="trailWithInfo.trailTags"
          [selectable]="true"
          [selected]="trailWithInfo.selected"
          (selectedChange)="trailWithInfo.selected = $event; onTrailSelected();"
          (click)="onTrailClick(trailWithInfo.trail)"
          [fromCollection]="!!collectionUuid"
          [isAllCollections]="listType === 'all-collections'"
          [isModeration]="listType === 'moderation'"
          [trackSnapshot]="trailWithInfo.track"
          [delayLoading]="$index >= 10 && state$.value.filters.search.length === 0"
          [photoCanBeOnLeft]="size === 'large'"
          [showPublished]="showPublished"
          [config]="metadataConfig"
          [enableShowOnMap]="enableShowOnMap"
          (showOnMap)="showOnMap.emit($event)"
          [hideMenu]="nbSelected > 0"
          [photoEnabled]="state$.value.mode !== 'detailed_small_map'"
          [smallMapEnabled]="state$.value.mode === 'detailed_small_map'"
          (openTrailEvent)="setHighlighted($event)"
        ></app-trail-overview>
      </div>
    }
  }
</ng-template>

<ion-modal #filtersModal>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="filters" style="margin-right: 10px"></ion-icon>
          <ion-label>{{i18n.texts.pages.trails.edit_filters_popup_title}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="filter-value">
        <ion-checkbox class="filter-map"
          [checked]="state$.value.filters.onlyVisibleOnMap"
          (ionChange)="updateFilterOnlyVisibleOnMap($event.detail.checked)"
          labelPlacement="end"
        >{{i18n.texts.pages.trails.filters.onlyVisibleOnMap}}</ion-checkbox>
      </div>

      <div class="filter-header">
        <ion-icon name="duration"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.duration }}</div>
      </div>
      <div class="filter-value">
        <app-filter-numeric-custom
          [config]="filterDurationConfig"
          [value]="state$.value.filters.duration"
          (valueChange)="updateNumericCustomFilter(state$.value.filters.duration, filterDurationConfig, $event)"
          [maxValueLabel]="i18n.hoursToString(24) + '+'"
          >
        </app-filter-numeric-custom>
      </div>

      <div class="filter-header">
        <ion-icon name="chrono"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.estimatedDuration }}</div>
      </div>
      <div class="filter-value">
        <app-filter-numeric-custom
          [config]="filterDurationConfig"
          [value]="state$.value.filters.estimatedDuration"
          (valueChange)="updateNumericCustomFilter(state$.value.filters.estimatedDuration, filterDurationConfig, $event)"
          [maxValueLabel]="i18n.hoursToString(24) + '+'"
          >
        </app-filter-numeric-custom>
      </div>

      <div class="filter-header">
        <ion-icon name="distance"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.distance }}</div>
      </div>
      <div class="filter-value">
        <app-filter-numeric-custom
          [config]="filterDistanceConfig"
          [value]="state$.value.filters.distance"
          (valueChange)="updateNumericCustomFilter(state$.value.filters.distance, filterDistanceConfig, $event)"
          [maxValueLabel]="filterDistanceConfig.formatter(filterDistanceConfig.values[filterDistanceConfig.values.length - 1]) + '+'"
          >
        </app-filter-numeric-custom>
      </div>

      <div class="filter-header">
        <ion-icon name="positive-elevation"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.positive_elevation }}</div>
      </div>
      <div class="filter-value">
        <app-filter-numeric-custom
          [config]="filterElevationConfig"
          [value]="state$.value.filters.positiveElevation"
          (valueChange)="updateNumericCustomFilter(state$.value.filters.positiveElevation, filterElevationConfig, $event)"
          [maxValueLabel]="filterElevationConfig.formatter(filterElevationConfig.values[filterElevationConfig.values.length - 1]) + '+'"
          >
        </app-filter-numeric-custom>
      </div>
      <div class="filter-header">
        <ion-icon name="negative-elevation"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.negative_elevation }}</div>
      </div>
      <div class="filter-value">
        <app-filter-numeric-custom
          [config]="filterElevationConfig"
          [value]="state$.value.filters.negativeElevation"
          (valueChange)="updateNumericCustomFilter(state$.value.filters.negativeElevation, filterElevationConfig, $event)"
          [maxValueLabel]="filterElevationConfig.formatter(filterElevationConfig.values[filterElevationConfig.values.length - 1]) + '+'"
          >
        </app-filter-numeric-custom>
      </div>

      @if (listType === 'search' || listType === 'my-selection' || listType === 'my-publications') {
        <div class="filter-header">
          <ion-icon name="star-filled"></ion-icon>
          <div>{{ i18n.texts.pages.trails.filters.rate }}</div>
        </div>
        <div class="filter-value">
          <app-filter-numeric
            [minValue]="0" [maxValue]="5" [step]="0.5"
            [selectedMinValue]="state$.value.filters.rate.from || 0" [selectedMaxValue]="state$.value.filters.rate.to || 5"
            (selectionChange)="updateNumericFilter(state$.value.filters.rate, $event)"
            [valueFormatter]="formatRate"
            ></app-filter-numeric>
        </div>
      }
      <div class="filter-header">
        <ion-icon name="loop"></ion-icon>
        <div>{{ i18n.texts.pages.trails.filters.loopType }}</div>
      </div>
      <div class="filter-value">
        <ion-select
          [multiple]="true"
          [value]="state$.value.filters.loopTypes || []"
          (ionChange)="updateEnumFilter(state$.value.filters.loopTypes, $event.detail.value)"
          placeholder="{{i18n.texts.pages.trails.filters.loopTypePlaceholder}}"
          cancelText="{{i18n.texts.buttons.cancel}}"
          okText="{{i18n.texts.buttons.apply}}"
          [interfaceOptions]="{header: i18n.texts.pages.trails.filters.loopType}"
        >
          <ion-select-option  *ngFor="let lt of loopTypes" [value]="lt">{{ i18n.texts.loopType[lt] }}</ion-select-option>
        </ion-select>
      </div>
      <div class="filter-header">
        <ion-icon name="hiking"></ion-icon>
        <div>{{ i18n.texts.metadata.activity }}</div>
      </div>
      <div class="filter-value">
        <ion-button (click)="openActivitiesDialog()" fill="clear" color="dark" style="text-transform: none; letter-spacing: inherit;">
          {{ getSelectedActivitiesButtonText() }}
        </ion-button>
      </div>
      <ng-container *ngIf="collectionUuid">
        <div class="filter-header">
          <ion-icon name="tags"></ion-icon>
          <div>{{ i18n.texts.pages.trails.filters.tags }}</div>
        </div>
        <div class="filter-value">
          <app-filter-tags [collectionUuid]="collectionUuid" [filter]="state$.value.filters.tags" (filterChange)="updateTagsFilter($event)"></app-filter-tags>
        </div>
      </ng-container>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button (click)="resetFilters()">{{i18n.texts.pages.trails.filters.reset_button}}</ion-button>
          <ion-button [strong]="true" (click)="filtersModal.dismiss()">{{i18n.texts.buttons.close}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>


<ion-modal #sortModal>
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          <ion-icon name="sort" style="margin-right: 10px"></ion-icon>
          <ion-label>{{i18n.texts.pages.trails.edit_sort_popup_title}}</ion-label>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item lines="none">
        <div slot="start">{{i18n.texts.order_way}}</div>
        <app-toggle-choice
          [value1]="true" label1="{{i18n.texts.order_asc}}"
          [value2]="false" label2="{{i18n.texts.order_desc}}"
          [value]="state$.value.sortAsc" (valueChanged)="sortAsc($event)"
        ></app-toggle-choice>
      </ion-item>
      <br/>
      <ion-list>
        <ion-radio-group [value]="state$.value.sortBy" (ionChange)="sortBy($event.detail.value)">
          <ion-item><ion-radio value="track.startDate"><ion-icon name="date"></ion-icon> {{i18n.texts.pages.trails.sorts.trail_date}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.createdAt"><ion-icon name="date"></ion-icon> {{i18n.texts.pages.trails.sorts.creation_date}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.updatedAt"><ion-icon name="date"></ion-icon> {{i18n.texts.pages.trails.sorts.update_date}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.distance"><ion-icon name="distance"></ion-icon> {{i18n.texts.pages.trails.sorts.distance}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.duration"><ion-icon name="duration"></ion-icon> {{i18n.texts.pages.trails.sorts.duration}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.estimatedDuration"><ion-icon name="chrono"></ion-icon> {{i18n.texts.pages.trails.sorts.estimatedDuration}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.positiveElevation"><ion-icon name="positive-elevation"></ion-icon> {{i18n.texts.pages.trails.sorts.positive_elevation}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.negativeElevation"><ion-icon name="negative-elevation"></ion-icon> {{i18n.texts.pages.trails.sorts.negative_elevation}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.highestAltitude"><ion-icon name="highest-point"></ion-icon> {{i18n.texts.pages.trails.sorts.highest_altitude}}</ion-radio></ion-item>
          <ion-item><ion-radio value="track.lowestAltitude"><ion-icon name="lowest-point"></ion-icon> {{i18n.texts.pages.trails.sorts.lowest_altitude}}</ion-radio></ion-item>
          @if (hasRating) {
            <ion-item><ion-radio value="info.rating"><ion-icon name="star-filled"></ion-icon> {{i18n.texts.pages.trails.sorts.rating}}</ion-radio></ion-item>
          }
        </ion-radio-group>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="footer">
        <ion-buttons slot="end">
          <ion-button [strong]="true" (click)="sortModal.dismiss()">{{i18n.texts.buttons.close}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
