<div class="container">
  <div class="config-horizontal">
    <span>{{ i18n.texts.pages.stats.type_title }}</span>
    <app-select
      [selection]="[config.value]" (selectionChange)="config.value = $event[0]"
      [items]="typesItems"
      popupTitleKey="pages.stats.type_title"
    ></app-select>
  </div>
  <div class="config-horizontal">
    <span>{{ i18n.texts.pages.stats.time_unit_title }}</span>
    <app-select
      [selection]="[config.timeUnit]" (selectionChange)="config.timeUnit = $event[0]"
      [items]="timeUnitsItems"
      popupTitleKey="pages.stats.time_unit_title"
    ></app-select>
  </div>
  <div class="config-horizontal">
    <span>{{ i18n.texts.pages.stats.source_title }}</span>
    <app-select-collections
      [includeSharesWithMe]="true"
      [multiple]="true"
      popupTitleKey="pages.stats.source_title"
      [selection]="sources"
      (selectionChange)="setSources($event)"
    ></app-select-collections>
  </div>
  <div class="config-horizontal">
    <span>{{ i18n.texts.pages.stats.filter_title }} {{ i18n.texts.pages.stats.activity_filter_title }}</span>
    <app-select-activities [(value)]="config.activities"></app-select-activities>
  </div>
</div>
