<div class="table-container">
  <table>
    <tr>
      <th *ngFor="let column of settings.columns" (click)="sortBy(column)">
        <div>
          <div class="title" [ngStyle]="{'text-align': column.horizontalAlignment}">{{column.title | i18nString}}</div>
          <div *ngIf="column.sortable" class="sort-icon" [ngClass]="{'sorted': settings.pageRequest.sortBy === column.sortable}">
            <ion-icon [name]="settings.pageRequest.sortBy === column.sortable && !settings.pageRequest.sortAsc ? 'arrow-down' : 'arrow-up'"></ion-icon>
          </div>
        </div>
      </th>
    </tr>
    <ng-container *ngIf="result">
      <tr *ngFor="let element of result.elements" (click)="rowClick.emit(element)">
        <td *ngFor="let column of settings.columns" [ngStyle]="{'text-align': column.horizontalAlignment}">{{column.valueGetter(element)}}</td>
      </tr>
    </ng-container>
  </table>
</div>
<app-paginator
  [pageRequest]="settings.pageRequest"
  (pageRequestChange)="refreshData()"
  [pagingOptions]="settings.pagingOptions"
  [result]="result"
></app-paginator>
<div class="loading" *ngIf="pending"><ion-spinner name="dots"></ion-spinner></div>
