<app-header [title]="title$ ? (title$ | async) || '' : ''" [actions]="actions"></app-header>
@defer (when trailsType === 'search') {
  <app-search-trails-header
    *ngIf="trailsType === 'search'"
    [plugins$]="searchWith$"
    [searching]="searching"
  >
  </app-search-trails-header>
}
<app-trails-and-map
  #trailsAndMap
  *ngIf="viewId"
  [trails]="(trails$ | async)!"
  [viewId]="viewId"
  [collectionUuid]="trailsType === 'collection' ? trailsId : undefined"
  [message]="searchMessage"
></app-trails-and-map>
