<app-header [title]="title$ ? (title$ | async) || '' : ''" [actions]="actions" [titleLongPress]="titleLongPressEvent"></app-header>
@if (trailsType === 'search') {
  @if (!(connected$ | async)) {
    <div class="disconnected-message">
      <div>{{ i18n.texts.you_are_offline }}</div>
    </div>
  }
}
<app-trails-and-map
  #trailsAndMap
  *ngIf="viewId"
  [trails$]="(trails$ | async) ?? undefined"
  [bubbles$]="bubbles$"
  [showBubbles$]="showBubbles$"
  [bubblesToolAvailable$]="bubblesToolAvailable$"
  [viewId]="viewId"
  [collectionUuid]="trailsType === 'collection' ? trailsId : undefined"
  [type]="trailsType"
  [message]="searchMessage"
  [enableRemoveByGesture]="trailsType === 'search'"
  [enableSearchPlace]="true"
  [mapTopToolbar$]="trailsType === 'search' ? mapTopToolbar$ : undefined"
  [showPublished]="trailsType === 'collection' || trailsType === 'all-collections'"
  [searching]="searching"
></app-trails-and-map>
