/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@use "@ionic/angular/css/normalize.css";
@use "@ionic/angular/css/structure.css";
@use "@ionic/angular/css/typography.css";
@use "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@use "@ionic/angular/css/padding.css";

@use "style/ionic.scss";
@use "style/metadata.scss";
@use "style/progress.scss";
@use "style/alerts.scss";
@use "style/modals.scss";
@use "style/sections.scss";
@use "style/map.scss";
@use "style/toolbar.scss";

:root {
  --header-height: 56px;
  --donation-color: #E000E0;
}

@media (max-height: 600px) {
  :root {
    --header-height: 40px;
  }
}

@media (max-height: 600px) {
  .tight-menu app-menu-content ion-list ion-item {
    --min-height: 30px;

    ::slotted(ion-label), ion-label, ion-label.sc-ion-label-md-s {
      margin-top: 4px;
      margin-bottom: 4px;
      font-size: 14px;
    }

    ion-icon {
      width: 18px;
      height: 18px;
    }

  }
}

.always-tight-menu app-menu-content ion-list ion-item {
  --min-height: 30px;

  ::slotted(ion-label), ion-label, ion-label.sc-ion-label-md-s {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
  }

  ion-icon {
    width: 18px;
    height: 18px;
  }
}

.graph-tooltip {
  font-size: 11px;
  background-color: rgba(var(--ion-background-color-rgb), 0.8);
  padding: 3px;
  border-radius: 5px;

  table {
    td, th {
      padding: 1px 5px;
      text-align: left;
      white-space: nowrap;
    }
    tr.header th {
      text-align: center;
    }
    th {
      color: var(--ion-color-tertiary);
    }
  }
}

ion-button a, a.inherit {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
  &:active {
    color: inherit;
    text-decoration: inherit;
  }
}

.editable-text {
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--ion-text-color-rgb), 0.05);
  }
}

.donation-color {
  color: var(--donation-color);
}

::highlight(search-text) {
  background-color: #ffae00;
  color: black;
}

@keyframes opacity-animation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

a[long-press] {
  -webkit-touch-callout: none;
}

div.app-tooltip {
  position: fixed;
  padding: 6px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 5px;
  background-color: var(--ion-background-color-step-100, --ion-background-color);
  pointer-events: none;
  max-width: calc(min(300px, 80vw));
  font-size: 14px;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.75);
}
