/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "style/ionic.scss";
@import "style/metadata.scss";
@import "style/progress.scss";
@import "style/alerts.scss";
@import "style/modals.scss";
@import "style/sections.scss";

:root {
  --header-height: 56px;
}

@media (max-height: 600px) {
  :root {
    --header-height: 40px;
  }
}

app-map {

  .leaflet-container {
    background: var(--ion-background-color);
  }

  &.mouse-pointer {
    .leaflet-grab {
      cursor: pointer;
    }
  }

}

body.dark-map {

  .leaflet-layer,
  .leaflet-control {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
  .leaflet-legend {
    background: #181818;
    color: #D0D0D0;
  }
  .leaflet-position-marker {
    &[stroke="#2020FF"] {
      stroke: #FFFF00;
      fill: #A0A0FF;
    }
    &[stroke="#555"] {
      stroke: #808000;
      fill: #888;
    }
  }

}
.leaflet-legend {
  background: #E8E8E8;
  color: #202020;
  z-index: 1000;
  font-size: 11px;
}

.graph-tooltip {
  font-size: 12px;
  background-color: rgba(var(--ion-background-color-rgb), 0.8);
  padding: 3px;
  border-radius: 5px;

  table {
    td, th {
      padding: 1px 5px;
      text-align: left;
    }
    tr.header th {
      text-align: center;
    }
  }
}

ion-button a, a.inherit {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
  &:active {
    color: inherit;
    text-decoration: inherit;
  }
}
