/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@use "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@use "@ionic/angular/css/normalize.css";
@use "@ionic/angular/css/structure.css";
@use "@ionic/angular/css/typography.css";
@use "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@use "@ionic/angular/css/padding.css";

@use "style/ionic.scss";
@use "style/metadata.scss";
@use "style/progress.scss";
@use "style/alerts.scss";
@use "style/modals.scss";
@use "style/sections.scss";
@use "style/map.scss";

:root {
  --header-height: 56px;
}

@media (max-height: 600px) {
  :root {
    --header-height: 40px;
  }
}

@media (max-height: 600px) {
  .tight-menu app-menu-content ion-list ion-item {
    --min-height: 34px;

    ::slotted(ion-label) {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

.graph-tooltip {
  font-size: 12px;
  background-color: rgba(var(--ion-background-color-rgb), 0.8);
  padding: 3px;
  border-radius: 5px;

  table {
    td, th {
      padding: 1px 5px;
      text-align: left;
    }
    tr.header th {
      text-align: center;
    }
  }
}

ion-button a, a.inherit {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
  &:active {
    color: inherit;
    text-decoration: inherit;
  }
}

.editable-text {
  cursor: pointer;
  &:hover {
    background-color: rgba(var(--ion-text-color-rgb), 0.05);
  }
}

.rating-stars {
  display: flex;
  flex-direction: row;
  align-items: center;

  ion-icon {
    color: yellow;
  }
}
