<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="tags" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.import_tags_popup['title_' + type]}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="message">
    {{i18n.texts.pages.import_tags_popup['message_' + type]}}
  </div>
  @if (resolvedTags) {
    <table>
      <tr>
        <th>{{i18n.texts.pages.import_tags_popup.tag}}</th>
        <th>{{i18n.texts.pages.import_tags_popup.status}}</th>
      </tr>
      @for (tag of resolvedTags; track tag) {
        <tr>
          <td>{{tag.fullName}}</td>
          <td>
            @if (tag.resolvedUuid) {
              <ion-icon name="checkmark" color="success"></ion-icon>
              <span>{{i18n.texts.pages.import_tags_popup.status_exists}}</span>
            } @else {
              <ion-icon name="cross" color="danger"></ion-icon>
              <span>{{i18n.texts.pages.import_tags_popup.status_does_not_exist}}</span>
            }
          </td>
        </tr>
      }
    </table>
  }
  <div class="message2">
    {{i18n.texts.pages.import_tags_popup.message2}}
  </div>
  <div class="buttons">
    @if (resolvedTags) {
      @if (hasMissing && hasExisting) {
        <ion-button (click)="import(true, false)" class="import-existing-only">{{i18n.texts.pages.import_tags_popup[type + '_existing_only']}}</ion-button>
        <ion-button (click)="import(true, true)" class="import-all">{{i18n.texts.pages.import_tags_popup[type + '_and_create']}}</ion-button>
      }
      @if (!hasMissing && hasExisting) {
        <ion-button (click)="import(true, false)" class="import-all">{{i18n.texts.pages.import_tags_popup[type + '_all']}}</ion-button>
      }
      @if (hasMissing && !hasExisting) {
        <ion-button (click)="import(false, true)" class="import-all">{{i18n.texts.pages.import_tags_popup[type + '_all']}}</ion-button>
      }
      <ion-button (click)="close('cancel')" class="import-none">{{i18n.texts.pages.import_tags_popup['ignore_all_' + type]}}</ion-button>
    }
  </div>
</ion-content>
