.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  justify-content: flex-start;
  padding: 8px;

  .photo-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid var(--ion-color-light);
    border-radius: 8px;
    padding: 8px;
    margin-right: 5px;

    &.selected {
      border-color: var(--ion-color-primary);
    }

    ion-checkbox {
      margin-right: 8px;
    }

    .photo-and-description {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      ion-textarea {
        align-self: stretch;
      }

      .photo-footer {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
      }
    }

    .description {
      margin: 3px 0;
      align-self: stretch;
      text-align: center;
      span.no-description {
        font-style: italic;
        opacity: 0.75;
      }
    }

    .metadata-container {
      align-self: flex-start;

      .metadata-item {
        margin: 3px 0;

        div.metadata-primary {
          color: var(--ion-color-medium);
        }
      }
    }

    .position-on-map {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 16px;
        height: 16px;
      }
      span {
        font-size: 13px;
        color: var(--ion-color-dark);
      }
    }
  }

}

.selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 52px;
  margin-bottom: 5px;
  background-color: var(--ion-color-light);
  padding: 8px;
}

.no-photo {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: var(--ion-color-medium);
}

div.tab-long-text {
  text-transform: none;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
