<div class="menu-header">
  <div class="menu-title">
    <ion-icon name="logo"></ion-icon>
    <span>Trailence</span>
  </div>
  <div class="menu-close">
    <ion-button fill="clear" color="dark" (click)="close();">
      <ion-icon name="cross" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</div>
<div class="menu-content">

  <div class="menu-section" id="section-collections">
    <div class="menu-section-header">
      <ion-button size="small" shape="round" fill="clear" color="secondary" (click)="collectionsOpen = !collectionsOpen">
        <ion-icon slot="icon-only" [name]="collectionsOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
      </ion-button>
      <ion-icon name="collection"></ion-icon>
      <div class="section-title">{{ i18n.texts.menu.collections }}</div>
      <div class="section-buttons">
        <ion-button fill="clear" color="secondary" size="small" (click)="collectionService.collectionPopup(); close();">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
    @if (collectionsOpen) {
      @for (collection of collections; track collection.uuid) {
        <div class="menu-item" (click)="goTo('/trails/collection/' + collection.uuid); close();">
          <div class="item-title-container">
            <div class="item-title">
              <a href="/trails/collection/{{collection.uuid}}" target="_blank" class="inherit" (click)="$event.button === 1 || $event.ctrlKey ? $event.stopPropagation() : $event.preventDefault();">{{ collection.name.length === 0 && collection.type === 'MY_TRAILS' ? i18n.texts.my_trails : collection.name }}</a>
            </div>
          </div>
        </div>
      }
    }
  </div>

  <div class="menu-separator"></div>

  <div class="menu-section" id="section-shared-with-me">
    <div class="menu-section-header">
      <ion-button size="small" shape="round" fill="clear" color="secondary" (click)="sharedWithMeOpen = !sharedWithMeOpen">
        <ion-icon slot="icon-only" [name]="sharedWithMeOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
      </ion-button>
      <ion-icon name="share"></ion-icon>
      <div class="section-title">{{ i18n.texts.menu.shared_with_me }}</div>
    </div>
    @if (sharedWithMeOpen) {
      <ng-container *ngIf="!sharedWithMe.isEmpty()">
        <div class="menu-item" *ngFor="let share of sharedWithMe" (click)="goTo('/trails/share/' + share.id + '/' + share.from); close();">
          <div class="item-title-container">
            <div class="item-title">{{share.name}}</div>
            <div class="item-sub-title">{{share.from}}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="sharedWithMe.isEmpty()">
        <div class="menu-item no-item">{{i18n.texts.menu.nothing_shared_with_me}}</div>
      </ng-container>
    }
  </div>

  <div class="menu-section" id="section-shared-by-me">
    <div class="menu-section-header">
      <ion-button size="small" shape="round" fill="clear" color="secondary" (click)="sharedByMeOpen = !sharedByMeOpen">
        <ion-icon slot="icon-only" [name]="sharedByMeOpen ? 'chevron-down' : 'chevron-right'"></ion-icon>
      </ion-button>
      <ion-icon name="share-outline"></ion-icon>
      <div class="section-title">{{ i18n.texts.menu.shared_by_me }}</div>
    </div>
    @if (sharedByMeOpen) {
      <ng-container *ngIf="!sharedByMe.isEmpty()">
        <div class="menu-item" *ngFor="let share of sharedByMe" (click)="goTo('/trails/share/' + share.id + '/' + share.from); close();">
          <div class="item-title-container">
            <div class="item-title">{{share.name}}</div>
            <div class="item-sub-title">{{share.to}}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="sharedByMe.isEmpty()">
        <div class="menu-item no-item">{{i18n.texts.menu.nothing_shared_by_me}}</div>
      </ng-container>
    }
  </div>

  <div class="menu-separator"></div>

  <div class="menu-item" (click)="goToRecordTrace(); close();">
    <ion-icon name="play"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.menu[traceRecorder.recording ? 'current_trace' : 'start_trace'] }}</div>
    </div>
  </div>

  <div class="menu-separator"></div>

  <div class="menu-item" (click)="goTo('/trail-planner'); close();">
    <ion-icon name="planner"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.menu.planner }}</div>
    </div>
  </div>

  <div class="menu-separator"></div>
  <div class="menu-item" (click)="goTo('/trails/search'); close();">
    <ion-icon name="search"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{ i18n.texts.menu.search_trail }}</div>
    </div>
  </div>

  <ng-container *ngIf="isAdmin">
    <div class="menu-separator"></div>
    <div class="menu-item" (click)="goTo('/admin'); close();">
      <ion-icon name="tool"></ion-icon>
      <div class="item-title-container">
        <div class="item-title">{{ i18n.texts.administration }}</div>
      </div>
    </div>
  </ng-container>

</div>
<div class="menu-footer">
  <div class="menu-item" (click)="update.availableDownload.launch(); close();" *ngIf="update.availableDownload">
    <div class="icon-badge" *ngIf="update.availableDownload.badge">
      <ion-icon [name]="update.availableDownload.icon"></ion-icon>
      <ion-badge>{{update.availableDownload.badge}}</ion-badge>
    </div>
    <ion-icon [name]="update.availableDownload.icon" *ngIf="!update.availableDownload.badge"></ion-icon>
    <div class="item-title-container">
      <div class="item-title">{{i18n.texts.update[update.availableDownload.i18nText]}}</div>
    </div>
  </div>

  <div class="version">Trailence {{versionName}}</div>
</div>
