:host {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-header {
  height: var(--header-height);
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);

  .menu-title {
    font-size: 24px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 100%;

    ion-icon {
      margin-right: 6px;
    }
  }
}
.menu-footer {
  flex: none;
  margin-top: 5px;
  border-top: 1px solid rgba(var(--ion-color-medium-rgb), 0.5);

  .version {
    font-size: 12px;
    text-align: center;
    color: rgba(var(--ion-color-medium-rgb), 0.75);
  }
}

.menu-content {
  flex: 1 1 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-section {
  .menu-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px;

    ion-icon {
      width: 32px;
      height: 32px;
    }

    .section-title {
      flex: 1 1 100%;
      font-size: 18px;
      padding: 0 8px;
    }
  }

  .menu-item {
    padding-left: 24px;
  }

}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 5px;
  border-bottom: 1px solid var(--ion-color-light);
  cursor: pointer;
  min-height: 36px;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  &:hover {
    background-color: var(--ion-color-light);
  }
  &.no-item {
    font-style: italic;
    font-size: 12px;
  }

  ion-icon {
    flex: none;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .icon-badge {
    position: relative;

    ion-badge {
      position: absolute;
      left: 16px;
      font-size: 13px;
      --background: rgba(var(--ion-color-success-rgb), 0.85);
      --color: var(--ion-color-success-contrast);
      --padding-start: 1px;
      --padding-end: 1px;
      --padding-top: 1px;
      --padding-bottom: 1px;
    }
  }


  .item-title-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    .item-title {
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;

      &.with-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 100%;
        overflow: hidden;

        :first-child {
          flex: 1 1 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        ion-button {
          flex: none;
          color: var(--ion-text-color);
          font-size: 8px;
          margin: 0;
          margin: -3px 0 3px 0;
          padding-top: 3px;
          ion-icon {
            width: 16px;
            height: 16px;
            margin: 0;
          }
        }
      }
    }

    .item-sub-title {
      font-size: 12px;
      font-style: italic;
      color: rgba(var(--ion-text-color-rgb), 0.7);
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }
  }
}

.menu-separator {
  margin: 8px 5px 8px 0px;
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.75);
  height: 0;
}
