:host {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-header {
  height: var(--header-height);
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);

  .menu-title {
    font-size: 24px;
    padding: 0 8px;
  }
}

.menu-content {
  flex: 1 1 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-section {
  .menu-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px;

    ion-icon {
      width: 32px;
      height: 32px;
    }

    .section-title {
      flex: 1 1 100%;
      font-size: 18px;
      padding: 0 8px;
    }
  }

  .menu-item {
    padding-left: 24px;
  }

}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 5px;
  border-bottom: 1px solid var(--ion-color-light);
  cursor: pointer;
  min-height: 36px;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  &:hover {
    background-color: var(--ion-color-light);
  }
  &.no-item {
    font-style: italic;
    font-size: 12px;
  }

  ion-icon {
    flex: none;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .item-title-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

    .item-title {
      font-size: 16px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }

    .item-sub-title {
      font-size: 12px;
      font-style: italic;
      color: rgba(var(--ion-text-color-rgb), 0.7);
      text-overflow: ellipsis;
      overflow: hidden;
      text-wrap: nowrap;
    }
  }
}

.menu-separator {
  margin: 8px 5px 8px 0px;
  border-bottom: 1px solid rgba(var(--ion-color-medium-rgb), 0.75);
  height: 0;
}
