<div class="toolbar-items-container {{ direction }} align-{{ align }}"
  [ngStyle]="styles"
>
  @for (item of computed.items; track item.id) {
    @if (item.visible) {
      @if (item.separator) {
        <div class="separator"></div>
      } @else {
        <div class="toolbar-item" [ngClass]="{'disabled': item.disabled}" (click)="itemClick(item, $event)">
          @if (item.item.icon) {
            <ion-icon
              [name]="item.item.icon"
              [color]="item.textColor"
              [ngStyle]="{'width': iconSize + 'px', 'height': iconSize + 'px'}"
            ></ion-icon>
          }
          <ion-label
            [color]="item.textColor"
            [ngStyle]="{'font-size': textSize}"
          >{{ item.item.label$(i18n) | async }}</ion-label>
          @if (item.badge) {
            <ion-badge>{{ item.badge }}</ion-badge>
          }
        </div>
      }
    }
  }
  @if (moreMenu.length > 0) {
    <div class="toolbar-item" (click)="showMoreMenu($event)">
      <ion-icon
        name="more-menu"
        [ngStyle]="{'width': iconSize + 'px', 'height': iconSize + 'px'}"
      ></ion-icon>
      <ion-label
        [ngStyle]="{'font-size': textSize}"
      >{{ i18n.texts.tools.more }}</ion-label>
    </div>
  }
</div>
