<div class="toolbar-items-container {{ direction }} align-{{ align }} {{noScroll ? 'no-scroll' : ''}}"
  [ngStyle]="styles"
>
  @for (item of computed.items; track item.id) {
    @if (item.separator) {
      <div class="separator"></div>
    } @else if (item.item.customContentSelector) {
      <ng-content [select]="item.item.customContentSelector"></ng-content>
    } @else {
      <div class="toolbar-item {{item.cssClass}}"
        [ngClass]="{'disabled': item.disabled, 'section-title': item.sectionTitle}"
        [ngStyle]="{'background-color': item.backgroundColor?.length ? 'var(--ion-color-' + item.backgroundColor + ')' : ''}"
        (click)="itemClick(item, $event)"
      >
        @if (item.icon) {
          <ion-icon
            [name]="item.icon"
            [color]="item.textColor"
            [ngStyle]="{'width': (item.onlyIcon ? iconOnlySize : iconSize) + 'px', 'height': (item.onlyIcon ? iconOnlySize : iconSize) + 'px', 'color': item.textColor ? '' : 'var(--ion-text-color)'}"
          ></ion-icon>
        }
        @if (item.text$) {
          <ion-label
            [color]="item.textColor"
            [ngStyle]="{'font-size': item.textSize ?? textSize, 'color': item.textColor ? '' : 'var(--ion-text-color)'}"
          >{{ item.text$ | async }}</ion-label>
        }
        @if (item.badges) {
          @if (item.badges.topLeft) {
            <ion-badge class="badge-top-left badge-{{item.badges.topLeft.color}}">{{ item.badges.topLeft.text }}</ion-badge>
          }
          @if (item.badges.topRight) {
            <ion-badge class="badge-top-right badge-{{item.badges.topRight.color}}">{{ item.badges.topRight.text }}</ion-badge>
          }
          @if (item.badges.bottomLeft) {
            <ion-badge class="badge-bottom-left badge-{{item.badges.bottomLeft.color}}">{{ item.badges.bottomLeft.text }}</ion-badge>
          }
          @if (item.badges.bottomRight) {
            <ion-badge class="badge-bottom-right badge-{{item.badges.bottomRight.color}}">{{ item.badges.bottomRight.text }}</ion-badge>
          }
        }
      </div>
    }
  }
</div>
