<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="collection" style="margin-right: 10px"></ion-icon>
      <ion-label>{{i18n.texts.pages.collection_form.title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-input
    fill="outline"
    label="{{i18n.texts.pages.collection_form.collection_name}}"
    label-placement="floating"
    [(ngModel)]="name"
    [maxlength]="50"
    [counter]="true"
    [disabled]="applying"
  ></ion-input>
</ion-content>
<ion-footer>
  <ion-toolbar color="footer">
    <ion-buttons slot="end">
      <ion-button color="success" (click)="apply()" [disabled]="!canApply() || applying">{{!!uuid ? i18n.texts.buttons.save : i18n.texts.buttons.create}}</ion-button>
      <ion-button color="medium" (click)="close(null)" [disabled]="applying">{{i18n.texts.buttons.cancel}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
