server {
  listen       80;
  listen [::]:80;

  subrequest_output_buffer_size 512k;

  js_path "/usr/share/nginx/njs/";
  js_import trail_page from generate_trail_page.js;
  js_import no_description from index_without_description.js;

  location ~* ^/(en|fr)/trail/ {
    js_content trail_page.generate;
  }
  location ~* ^/trail/trailence/ {
    js_content no_description.generate;
  }

  location /api {
    proxy_pass http://host.docker.internal:8080;
    client_body_buffer_size 64k;
    client_max_body_size 50m;
  }

  location /assets {
    proxy_pass http://host.docker.internal:8100;
    proxy_set_header Host localhost;
  }
  location /index.html {
    proxy_pass http://host.docker.internal:8100;
    proxy_set_header Host localhost;
  }
}
